div.scroll{background-color:#EDF2FF;height:100px;overflow:auto}#cp_background-gradient{background-color:#ddeaeb}#cp_topNavigation .navbar{background-color:#fff;box-shadow:0 0 20px 0 #787878;height:50px}#cp_topNavigation .cp_navbar-brand{font-size:19px;color:#787878}@media (max-width:310px){#cp_topNavigation .cp_navbar-brand{top:20px;font-size:10px;font-weight:bold}}@media (max-width:816px){#cp_topNavigation .nav-items button{margin-left:5px}}@media (min-width:817px){#cp_topNavigation .nav-items button{margin-left:23px}}#wrapper{padding-left:150px;transition:all 0.4s ease 0s}#sidebar-wrapper{margin-left:-150px;left:150px;width:150px;background:#5CB8E6;position:fixed;height:100%;overflow-y:auto;z-index:1000;transition:all 0.4s ease 0s}#wrapper.active{padding-left:0;position:relative;left:0}#wrapper.active #sidebar-wrapper{left:0}#page-content-wrapper{width:100%}.sidebar-nav{position:absolute;top:0px;width:150px;list-style:none;margin:0;padding:0}.sidebar-nav li{line-height:33px;text-indent:0px;min-height:100px;border-bottom:1px solid #325bbd;box-shadow:0 6px 6px -6px #000}.sidebar-nav li a{font-weight:bold;color:#325bbd;display:block;text-decoration:none;padding-left:60px}.sidebar-nav li a p{position:relative;left:0px;top:10px;text-align:center;color:#2a6496}.sidebar-nav li a .plus-user{position:relative;top:13px;left:69px}.sidebar-nav li #add-user{position:relative;left:-7px}.sidebar-nav li a span:before{position:absolute;left:54px;color:#325bbd;line-height:10px}.sidebar-nav li a:hover,.sidebar-nav li.active{color:#fff;background:rgba(255,255,255,0.2);text-decoration:none}.sidebar-nav li a:active,.sidebar-nav li a:focus{text-decoration:none}.content-header{height:65px;line-height:65px}.content-header h1{margin:0;margin-left:20px;line-height:65px;display:inline-block}
.sky {
        background: url(../images/9001-a-blue-sky-with-white-clouds-pv.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.settings-label{
    float:left
}
.form3D{
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10% 5%;
}
#menu-toggle{
    text-decoration:none;
    font-size: .65em;
    color: #325bbd;
    padding-left:2px;
    padding-bottom: 30px;
}
#menu-toggle-tab{
    position:fixed;
    margin-top: -30px;
    margin-left:-20px;
    padding-top: 3px;
    width:25px;
    height:40px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    background-color:#5CB8E6;
    border:1px solid #325bbd;
    border-left: 0px;
}

#aii-sidebar{
    padding-top:60px;
}

#top-menu-buffer{
    height:50px;
    border-bottom: 1px solid #325bbd;
    box-shadow: 0 6px 6px -6px #000;
}

a #sticky_sidetab1{
    padding-left:10px;
    padding-top:-10px;
    color:#325bbd;
}

a #sticky_sidetab1 hover{
    text-decoration: none;
}

/*gonna fix Terry*/
#stick_sidetab1 #outer{
    color: white;
    font-size: 24px;
}

#stick_sidetab1 #inner{
    color: #325bbd;
    font-size: 12px;
}

div #sticky_sidetab1{
    position: fixed;
    right: 0;
    top: 600px;
    display: block;
    /*width: 140px;*/
    /*height: 30px;*/
    margin-right: -60px;
    /* text-indent: -1px; */

    /* overflow: hidden; */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /*border: 1px solid #325bbd;*/
    font-weight:bold;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.select-ear-condition{
    background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; width: 48%; margin-left: 1%; float:left;
}
.select-audio-tests{
    margin-top:5%; background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; width: 100%; float: left; color:#4B92AE;
}
@media (max-width:767px){#wrapper{padding-left:0}#sidebar-wrapper{left:0}#wrapper.active{position:relative;left:250px}#wrapper.active #sidebar-wrapper{left:250px;width:250px;transition:all 0.4s ease 0s}#menu-toggle{display:inline-block}.inset{padding:15px}}#cp_developerLogin{margin-top:20px}@media (max-width:770px){#cp_loginContainer{margin-top:70px}}#cp_loginContainer #loginForm{padding:25px;border:3px solid #000;box-shadow:0 0 20px 0 #787878;border-radius:10px;background-color: rgb(206, 224, 233);}#cp_loginContainer #loginForm h4{padding:5px 5px 5px 5px;font-weight:bold}#cp_loginContainer #loginForm hr{border-color:#000}#cp_loginContainer .cp_loginLabel{margin:15px 0 12px 0}#cp_loginContainer .cp_loginInput{margin-bottom:15px}#cp_loginContainer .cp_registrationLink{color:#000;text-decoration:none}#cp_loginContainer .cp_registrationLink:hover{color:#3fbd32;font-weight:bold}#cp_loginContainer .cp_tempLogout{margin-botom:60px}@media (min-width:1170px){#cp_loginContainer{position:relative;left:-80px}}@media (min-width:970px) and (max-width:1169px){#cp_loginContainer{position:relative;left:-120px}}@media (min-width:760px) and (max-width:969px){#cp_loginContainer{position:relative;left:-85px}}#cp_addUserForm{margin-left:20%;margin-top:2%;background-color:#cae5f0;border-color:#000;border-style:solid;border-width:1px;border-radius:7px;box-shadow:0 2px 10px -1px #808080;padding:2% 2% 2% 2%;margin-bottom:1%;width:60%;float:left;display:block}#cp_newPatientForm{margin-left:20%;margin-top:2%;background-color:#cae5f0;border-color:#000;border-style:solid;border-width:1px;border-radius:7px;box-shadow:0 2px 10px -1px #808080;padding:2% 2% 2% 2%;margin-bottom:1%;width:60%;float:left;display:block}#cp_patientDirectory{margin-bottom:10px; border:2px darkslateblue solid;border-radius:5px;}#cp_patientDirectory h1{color:#84a4b4;margin-left:20px}#cp_patientDirectory p{margin-bottom:0px;font-size:85%}#cp_patientDirectory .cp_patientInfo{float:left;border:1px #96b2b4 solid;border-radius:5px;margin-left:3%;width:25%;padding:10px;background-color:#cae5f0;margin-bottom:18px;height:290px}#cp_patientDirectory .cp_patientInfo #cp_patientContainer{margin-bottom:171px}#cp_patientDirectory .cp_patientInfo #cp_patientContainer #cp_patientFname{font-weight:bold;font-size:15px}#cp_patientDirectory .cp_patientInfo #cp_patientContainer .cp_patientSex{font-size:13px}#cp_patientDirectory .cp_patientInfo #cp_patientContainer .cp_patientAge{font-size:13px}#cp_patientDirectory .cp_patientInfo #cp_patientCollapse{padding:10px 0 10px 0}#cp_patientDirectory .cp_patientInfo #cp_patientCollapse .cp_extraPatientInfo{font-weight:bold;font-size:12px}#cp_patientDirectory #cp_email{font-size:12px}#cp_patientDirectory #cp_patientDetailsButton{position:relative;left:55%}#cp_patientDirectory .cp_patientPhase{float:left;border:1px #11ace9 solid;border-radius:5px;background-color:#cae5f0;margin-bottom:18px}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData{padding:12px 0 0 8px;font-size:14px}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard{margin-top:40px;border-bottom:0;margin-left:1%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard{border-bottom:solid 1px #e0e0e0;padding:0 0 10px 0}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step{padding:0;position:relative}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step .bs-wizard-stepnum{color:black;font-size:10px;-webkit-transform:rotate(-55deg)}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step .bs-wizard-info{color:#777;font-size:11px;margin-top:20%;-webkit-transform:rotate(-65deg); -ms-transform:rotate(-65deg); -moz-transform:rotate(-65deg);float:left}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step>.bs-wizard-dot{position:absolute;width:30px;height:30px;display:block;background:#11ace9;top:45px;left:50%;margin-top:-15px;margin-left:-15px;border-radius:50%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.active>.bs-wizard-dot{position:absolute;width:30px;height:30px;display:block;top:45px;left:50%;margin-top:-15px;margin-left:-15px;border-radius:50%;background:#11ace9}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.active>.bs-wizard-dot:after{content:' ';width:14px;height:14px;background:#8cdd81; border-radius:50px;position:absolute;top:8px;left:8px}

/* annes red dot style probably bad css procedure...*/
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot-late {position: absolute; width: 30px; height: 30px; display: block; background: #11ace9; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;background: #11ace9;}
.bs-wizard>.bs-wizard-step.active>.bs-wizard-dot-late:after{content:' ';width:14px;height:14px;background:crimson; border-radius:50px;position:absolute;top:8px;left:8px} 

#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step>.bs-wizard-dot:after{content:' ';width:14px;height:14px;background:#00cff9;border-radius:50px;position:absolute;top:8px;left:8px}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step>.progress{position:relative;border-radius:0px;height:8px;box-shadow:none;margin:27px 0}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step>.progress>.progress-bar{width:0px;box-shadow:none;background:#11ace9}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar{width:100%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar{width:50%;padding-top:10px;background:#11ace9}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar{width:0%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar{width:100%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot{background-color:#f5f5f5}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after{opacity:0}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step:first-child>.progress{left:50%;width:50%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step:last-child>.progress{width:50%}#cp_patientDirectory .cp_patientPhase .cp_patientPhaseData .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot{pointer-events:none}#cp_patientDirectory #cp_patientPhaseDetails{margin-bottom:18px}#cp_patientDirectory #cp_phaseDetails{font-size:11px;margin-left:2%;padding:2px}#cp_patientDirectory #cp_phaseDetails .cp_patientName{font-weight:bold}#cp_patientDirectory #cp_phaseDetails span{font-size:13px}#cp_questionForm{background-color:#EDF8FF;border-style:solid;border-width:1px;border-radius:7px;box-shadow:0 2px 10px -1px #808080;padding:2% 2% 2% 2%;width:100%}#cp_textStyle{font-size:1.2vw;color:#4B92AE}#cp_questionsReportForm{background-color:#cae5f0;border-style:solid;border-width:1px;border-radius:7px;box-shadow:0 2px 10px -1px #808080;padding:1% 2% 1% 2%}#cp_audioQuestionsReportForm{background-color:#cae5f0;border-style:solid;border-width:1px;border-radius:7px;box-shadow:0 2px 10px -1px #808080;padding:1% 2% 1% 2%}.even{background-color:#EDE0FF}.odd{background-color:#EDF2FF}body{font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;font-size:small;margin:8px 0 16px}#form_container{background:#fff;margin:0 auto;text-align:left;width:640px}#top{display:block;height:10px;margin:10px auto 0;width:650px}#footer{clear:both;color:#999999;text-align:center;width:640px;padding-bottom:15px;font-size:85%}#footer a{color:#999999;text-decoration:none;border-bottom:1px dotted #999999}#bottom{display:block;height:10px;margin:0 auto;width:650px}form.appnitro{margin:20px 20px 0;padding:0 0 20px}h1 a{display:block;height:100%;min-height:40px;overflow:hidden}img{behavior:url(css/iepngfix.htc);border:none}.appnitro{font-family:Lucida Grande,Tahoma,Arial,Verdana,sans-serif;font-size:small}.appnitro li{width:61%}form ul{font-size:100%;list-style-type:none;margin:0;padding:0;width:100%}form li{display:block;margin:0;padding:4px 5px 2px 9px;position:relative}form li:after{clear:both;content:".";display:block;height:0;visibility:hidden}.buttons:after{clear:both;content:".";display:block;height:0;visibility:hidden}.buttons{clear:both;display:block;margin-top:10px}* html form li{height:1%}* html .buttons{height:1%}* html form li div{display:inline-block}form li span{color:#444;float:left;margin:0 4px 0 0;padding:0 0 8px}form li div.left{display:inline;float:left;width:48%}form li div.right{display:inline;float:right;width:48%}form li div.left .medium{width:100%}form li div.right .medium{width:100%}.clear{clear:both}form li div label{clear:both;color:#444;display:block;font-size:9px;line-height:9px;margin:0;padding-top:3px}form li span label{clear:both;color:#444;display:block;font-size:9px;line-height:9px;margin:0;padding-top:3px}form li .datepicker{cursor:pointer !important;float:left;height:16px;margin:.1em 5px 0 0;padding:0;width:16px}.form_description{border-bottom:1px dotted #ccc;clear:both;display:inline-block;margin:0 0 1em}.form_description[class]{display:block}.form_description h2{clear:left;font-size:160%;font-weight:400;margin:0 0 3px}.form_description p{font-size:95%;line-height:130%;margin:0 0 12px}form hr{display:none}form li.section_break{border-top:1px dotted #ccc;margin-top:9px;padding-bottom:0;padding-left:9px;padding-top:13px;width:97% !important}form ul li.first{border-top:none !important;margin-top:0 !important;padding-top:0 !important}form .section_break h3{font-size:110%;font-weight:400;line-height:130%;margin:0 0 2px}form .section_break p{font-size:85%;margin:0 0 10px}input.button_text{overflow:visible;padding:0 7px;width:auto}.buttons input{font-size:120%;margin-right:5px}label.description{border:none;color:#222;display:block;font-weight:700;line-height:150%;padding:0 0 1px;font-size: 1.5vw; color:#4B92AE;}span.symbol{font-size:115%;line-height:130%}input.text{background:#fff url(../../../images/shadow.gif) repeat-x top;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c;color:#333;font-size:100%;margin:0;padding:2px 0}input.file{color:#333;font-size:100%;margin:0;padding:2px 0}textarea.textarea{background:#fff url(../../../images/shadow.gif) repeat-x top;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c;color:#333;font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;font-size:100%;margin:0;width:99%}select.select{color:#333;font-size:100%;margin:1px 0;padding:1px 0 0;background:#fff url(../../../images/shadow.gif) repeat-x top;border-bottom:1px solid #ddd;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;border-top:1px solid #7c7c7c}input.currency{text-align:right}input.checkbox{display:block;height:13px;line-height:1.4em;margin:6px 0 0 3px;width:13px}input.radio{display:block;height:13px;line-height:1.4em;margin:6px 0 0 3px;width:13px}label.choice{color:#444;display:block;font-size:100%;line-height:1.4em;margin:-1.55em 0 0 25px;padding:4px 0 5px;width:90%}select.select[class]{margin:0;padding:1px 0}*:first-child+html select.select[class]{margin:1px 0}.safari select.select{font-size:120% !important;margin-bottom:1px}input.small{width:25%}select.small{width:25%}input.medium{width:40%}select.medium{width:40%}input.large{width:99%}select.large{width:100%}textarea.small{height:5.5em}textarea.medium{height:10em}textarea.large{height:20em}#error_message{background:#fff;border:1px dotted red;margin-bottom:1em;padding-left:0;padding-right:0;padding-top:4px;text-align:center;width:99%}#error_message_title{color:#DF0000;font-size:125%;margin:7px 0 5px;padding:0}#error_message_desc{color:#000;font-size:100%;margin:0 0 .8em}#error_message_desc strong{background-color:#FFDFDF;color:red;padding:2px 3px}form li.error{background-color:#FFDFDF !important;border-bottom:1px solid #EACBCC;border-right:1px solid #EACBCC;margin:3px 0}form li.error label{color:#DF0000 !important}form p.error{clear:both;color:red;font-size:10px;font-weight:700;margin:0 0 5px}form .required{color:red;float:none;font-weight:700}form li.highlighted{background-color:#fff7c0}form .guidelines{background:#f5f5f5;border:1px solid #e6e6e6;color:#444;font-size:80%;left:40%;line-height:100%;margin:30px 0 0 8px;padding:8px 10px 9px;position:absolute;top:10px;visibility:hidden;width:42%;z-index:1000}form .guidelines small{font-size:105%}form li.highlighted .guidelines{visibility:visible}form li:hover .guidelines{visibility:visible}.no_guidelines .guidelines{display:none !important}.no_guidelines form li{width:97%}.no_guidelines li.section{padding-left:9px}.form_success{clear:both;margin:0;padding:90px 0pt 100px;text-align:center}.form_success h2{clear:left;font-size:160%;font-weight:normal;margin:0pt 0pt 3px}ul.password{margin-top:60px;margin-bottom:60px;text-align:center}.password h2{color:#DF0000;font-weight:bold;margin:0pt auto 10px}.password input.text{font-size:170% !important;width:380px;text-align:center}.password label{display:block;font-size:120% !important;padding-top:10px;font-weight:bold}#li_captcha{padding-left:5px}#li_captcha span{float:none}.embed #form_container{border:none}.embed #top,.embed #bottom,.embed h1{display:none}.embed #form_container{width:100%}.embed #footer{text-align:left;padding-left:10px;width:99%}.embed #footer.success{text-align:center}.embed form.appnitro{margin:0px 0px 0}.notification-badge{position:relative}.notification-badge[data-badge-count]:after{background:#FF2041;border-radius:7px;color:#fff;content:attr(data-badge-count);font-size:10px;font-weight:600;height:14px;line-height:13px;right:-12px;padding:0;position:absolute;width:20px;text-align:center;top:-6px}
    
    
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

/* THIS IS CODE ADDED SINCE LESS SANAN */
/* ====================================================================================================================*/

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.4em;
	text-indent: 0em;
	margin: 0.2em 0em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #393;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #c33;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
}

input.switchoff:empty
{
	margin-left: -999px;
}

input.switchoff:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.4em;
	text-indent: 0em;
	margin: 0.2em 0em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switchoff:empty ~ label:before, 
input.switchoff:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switchoff:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 2.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switchoff:checked ~ label:before
{
	background-color: #393;
}

input.switchoff:checked ~ label:after
{
	margin-left: .1em;
}
