<div class="container" ng-controller="FrmController">
    
    <form ng-submit="processForm()">
        <div>
            <label>Name</label> 
            <input type="text" name= "UserName" ng-model="formData.UserName" placeholder="User Name" style='margin-left: 22px;'> 
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="Email" ng-model="formData.Email" placeholder="Email" style='margin-left: 22px;'> 
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="pwd" ng-model="formData.pwd" placeholder="Password">
        </div>
            <input type="submit" id="submit" value="submit">
    </form>
    
</div>