<div class="container" data-ng-app="careTeamApp">

<div class="row">
	<div class="col-md-6">
		<table class="table">
		<tr>
		<td><h4>Dr. John Doe just sent an invitation to you</h4></td>
		<td><button type="button" class="btn btn-success">Accept</button></td>
		<td><button type="button" class="btn btn-danger">Deny</button></td>
		</tr>
		
		<td><h4>Dr. John Smith just sent an invitation to you</h4></td>
		<td><button type="button" class="btn btn-success">Accept</button></td>
		<td><button type="button" class="btn btn-danger">Deny</button></td>
		</tr>
		
		<td><h4>Dr. Jane Doe just sent an invitation to you</h4></td>
		<td><button type="button" class="btn btn-success">Accept</button></td>
		<td><button type="button" class="btn btn-danger">Deny</button></td>
		</tr>

		</table>
	</div>
	
</div>
</div>