<div class="container" data-ng-app="careTeamApp">
    
    
<div ng-controller="getPatientDataCtrl">    
 
    <h3>Search Patient:</h3> 
Name: <input type="text" data-ng-model="searchName">
<br>
<br>
    
    <div class="container">

                        
        <table class="table table-hover">
            <tr>
                <td  class="col-md-1"><strong>First Name</strong></td>
                <td  class="col-md-1"><strong>Last Name</strong></td>
                <td  class="col-md-1"><strong>BMI</strong></td>
            </tr>
            <tr data-ng-repeat="datum in data.records | filter: searchName">

        
                <td class="col-md-1">
                    {{datum.fname}}
                </td>
                <td class="col-md-1">
                    {{datum.lname}}
                </td>
                <td class="col-md-1">
                    {{datum.bmi}}
                </td>

            </tr>
  
        </table>

        
    </div>
    
</div>
    
    
</div>