<div class="container" data-ng-app="careTeamApp">
    
    
<div ng-controller="getPatientDataCtrl">    
 
    <h3>Search Patient:</h3> 
Name: <input type="text" data-ng-model="searchName">
<br>
<br>
    
    <div class="container">
                        
        <table class="table table-hover">
            <tr>
                <td  class="col-md-1"><strong>Patient Name</strong></td>
                <td  class="col-md-1"><strong>Patient ID</strong></td>
                <td  class="col-md-1"><strong>Care Status</strong></td>
            </tr>
            <tr data-ng-repeat="patient in patients | filter:searchName">
                <td class="col-md-1">
                    {{patient.Name}}
                </td>
                <td class="col-md-1">
                    {{patient.Id}}
                </td>
                <td class="col-md-1">
                    {{patient.CareStatus}}
                </td>
            </tr>
  
        </table>
        
    </div>
    
</div>
</div>