
        <div ng-controller="addUserController">
        

            <h1 style="color:#4B92AE;">New User Information</h1>
              
    <div class="container">        
            <!-- New Patient Header --> 
            <div style="margin-left: 10%; margin-top:2%; background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:80%; float: left; display:block;">
 

            <div class="panel-body" ng-controller="TabController as tab">
                <div class="tabbable"> 
                    <div class="tab-pane">
                        
                         
<form name="userForm" ng-submit="processForm()" class="form form-vertical" novalidate>
                    <div class="row">
                        <div class="control-group col-md-6" >
                          <label>User Name</label>
                          <div class="controls" >
                            <input style="width: 200px" type="text" class="form-control" name="userName" ng-model="formData.username" ng-required="true" placeholder="Enter UserName">
                          </div>
                        </div>

                        <div class="control-group col-md-4" >
                          <label>Password</label> 
                            <span class="glyphicon glyphicon-question-sign" ng-mouseenter="help=true" ng-mouseleave="help=false"></span> 
                            <span ng-show="help" style="background-color:#f5f5f5;border: 1px solid #e6e6e6;">Password has to be atleast 7 characters long</span>
                            
                          <div class="controls" >
                            <input style="width: 200px" type="password" class="form-control" name="password" ng-model="formData.password" ng-required="true" placeholder="Enter Password" ng-minlength="7">
                          </div>
                        </div>
                        </div><br>

                        <div class="row">
                        <div class="control-group col-md-6" >
                          <label>E-Mail</label>
                          <div class="controls" >
                            <input style="width: 200px" type="email" class="form-control" name="email" ng-model="formData.email" ng-required="true" placeholder="Enter Email">
                          </div>
                        </div>

                        <hr>        

                        <div class="control-group col-md-4" >
                          <label>Phone Number</label>
                          <div class="controls">
                            <input style="width: 200px" type="text" class="form-control" name="phone" ng-model="formData.phone" ng-required="true" placeholder="Enter Phone Number" phone>
                        </div>
                            </div>
                            </div><br>

                        <hr>
                    <div class="row">        
                            
                        
                        <div class="control-group col-md-6" >
                          <label>First Name</label>
                          <div class="controls" >
                            <input style="width: 200px" type="text" class="form-control" name="firstName" ng-model="formData.first_name" ng-required="true" placeholder="Enter First Name" alphabet>
                        </div>                       
                        </div>
                        
                        <div class="control-group col-md-4" >
                          <label>User Level</label>
                          <div class="controls" >
                            <!--<input style="width: 200px" type="number" class="form-control" name="userLevelID" ng-model="formData.UserLevelID" ng-required="true" placeholder="Enter User Level ID" min=1 max=20 integer>-->
                             
                             <select style="width: 200px" type="number" class="form-control" name="userLevelID" ng-model="formData.UserLevelID" ng-required="true">
                                  <option ng-repeat="UserLevel in formData.UserLevels.records">{{UserLevel.Name}}</option>
                              </select>
                        </div>                       
                        </div>
                        
                        </div><br>
    
    
                        <div class="row">
                        <div class="control-group col-md-6" >
                          <label>Last Name</label>
                          <div class="controls" >
                            <input style="width: 200px" type="text" class="form-control" name="lastName" ng-model="formData.last_name" ng-required="true" placeholder="Enter Last Name" alphabet>
                        </div>                       
                        </div>     
                            
                        <div class="control-group col-md-4" >
                          <label>Title</label>
                          <div class="controls" >
                            <select style="width: 200px" type="number" class="form-control" name="userLevelID" ng-model="formData.UserTitleID" ng-required="true">
                                  <option ng-repeat="UserTitle in formData.UserTitles.records">{{UserTitle.Abbreviation}}</option>
                            </select>
                              
                        </div>                       
                        </div>
                        </div><br>    

                        <hr>

                        <button class="btn btn-primary col-md-3" type="submit" value="submit">Submit</button>

</form>
                          
                    </div>
                </div>
            </div>

<!--            <pre>{{ formData }}</pre>-->

        </div>
        </div>
        </div>
</div>

