<!--Audio Questions-->
<div data-ng-controller="audioQuestionsController" >
    <label style="font-size:2vw; color:#4B92AE">{{phaseName}}</label>
    <hr>

    <div class="col-md-8" style="margin-left: 5%">
            
            <!-- DISPLAY Left Ear Condition -->
            <div style="background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:35%; margin-left: 10%; float:left;">

                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Left Ear </label>
                <br>
                <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                <select ng-model="conditions.Left" ng-blur="">
                    <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                </select>
                
            </div>

            <!-- DISPLAY Right Ear Condition -->
            <div style="background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:35%; margin-left: 10%; float:left; ">

                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Right Ear </label>
                <br>
                <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                <select ng-model="conditions.Right" ng-blur="updateResults()">
                    <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                </select>
                <br> 
            </div>
        
            <!-- DISPLAY TESTS -->
            <div style="margin-left: 5%; margin-top:5%; background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:90%; float: left;">
                
                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Test </label>
                <br>
                <div>
                    <label style="font-size: 1.0vw; color:#4B92AE">Please Select Tests Performed</label>
                    <br>

                    <div ng-repeat="categories in audioQuestions.Categories">
                        <input  type="Checkbox" checklist-value="categories.AudioCategory"
                               checklist-model="answer.tests">
                        <label class="choice">{{categories.AudioCategory}}</label> 
                    </div>

                </div>
                <br>
                
                <div ng-repeat="test in answer.tests">
                    <div ng-repeat="categories in audioQuestions.Categories">
                        <div ng-if="categories.AudioCategory == test">
                            <div class="container">
                                <label class="description" style="margin-top: 2%;font-size: 1.8vw; color:#4B92AE;">{{categories.AudioCategory}} </label><hr>
                                <div class="container" ng-repeat="tests in categories.Tests" >
                                    <label style="font-size: 1.3vw;">{{tests.AudioTestName}}</label><br><br>
                                    <div ng-repeat="type in tests.AudioTestInput" style="margin-left:5%;float:left;">
                                        <label style="font-size:.9vw;">{{type.Name}}</label>
                                        <br>
                                        <br>
                                        <!-- Question Inputs Displayed -->
                                      
                                            <!-- submit results if this field is last in test-->
                                            <div ng-if="type.InputType == 'Number' && tests.LastFieldNum == type.FieldNumber" 
                                                 style="margin-right:5%; float:left;">
                                                <input type="number" name="type.Label" min={{type.MinValue}} max={{type.MaxValue}}
                                                       ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                       ng-blur="submitQuestions()">
                                            </div>
                                            <!-- if field ISNT last in test, dont call submitQuestions()-->
                                            <div ng-if="type.InputType == 'Number' && tests.LastFieldNum != type.FieldNumber" 
                                                 style="margin-right:5%; float:left;">
                                                <input type="number" name="type.Label" min={{type.MinValue}} max={{type.MaxValue}}
                                                       ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]">
                                            </div>
                                            
                                            <!-- submit results if this field is last in test-->
                                            <select ng-if="type.InputType == 'Select' && tests.LastFieldNum == type.FieldNumber"
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]" 
                                                    ng-blur="submitQuestions()"
                                                    style="margin-right:5%; float:left;" >
                                                <option ng-repeat="values in type.Values">{{values}}</option>
                                            </select>
                                            <!-- if field ISNT last in test, dont call submitQuestions()-->
                                             <select ng-if="type.InputType == 'Select' && tests.LastFieldNum != type.FieldNumber"
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                     style="margin-right:5%; float:left;" >
                                                <option ng-repeat="values in type.Values">{{values}}</option>
                                            </select>
                                            
                                            <div ng-repeat="testCategories in results.Comprehensive_Diagnostic_Audiogram">
                                                <div ng-repeat="testResults in testCategories">
                                                    <div ng-if="type.Name == testResults.Field_Name">
                                                        {{type.Name}}: {{testResults.Value}} <br>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>          
                                </div>
                                <br>
                                <button ng-click="clearCurrentTest(test)">Add Test Under Current Conditions</button>
                            </div>
                        </div>
                        
                    </div> 
                </div>
                <br><br><br>
                <button ng-blur="submitQuestions()" > Submit Data</button>

            </div>
        
        Answer Object: {{answer}}
        <br>

        
        

    </div>
    <br>

</div>
    
