<!--Audio Questions-->
<div data-ng-controller="audioQuestionsController" >
    <label style="font-size:2vw; color:#4B92AE">Audio Questions Page</label>
    <hr>

    <div class="col-md-8" style="margin-left: 5%">
            
            <!-- DISPLAY CONDITIONS -->
            <div style="background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:35%; margin-left: 10%; float:left;">

                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Left Ear </label>
                <br>
                <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                <select ng-model="answer.leftCondition">
                    <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                </select>
                
            </div>

            <div style="background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:35%; margin-left: 10%; float:left; ">

                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Right Ear </label>
                <br>
                <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                <select ng-model="answer.rightCondition">
                    <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                </select>

            </div>
        
            <!-- DISPLAY TESTS -->
            <div style="margin-left: 5%; margin-top:5%; background-color: #EDF8FF;border-style: solid; border-width: 1px;border-radius:7px; box-shadow: 0 2px 10px -1px gray; padding: 2% 2% 2% 2%; margin-bottom:1%; width:90%; float: left;">
                
                <label class="description" style="font-size: 1.5vw; color:#4B92AE">Test </label>
                <br>
                <div>
                    <label style="font-size: 1.0vw; color:#4B92AE">Please Select Tests Performed</label>
                    <br>

                    <div ng-repeat="categories in audioQuestions.Categories">
                        <input ng-click="addOne()" type="Checkbox" checklist-value="categories.AudioCategory"
                               checklist-model="answer.tests">
                        <label class="choice">{{categories.AudioCategory}}</label> 
                    </div>

                </div>
                <br>
                
                <div ng-repeat="test in answer.tests">
                    <div ng-repeat="categories in audioQuestions.Categories">
                        <div ng-if="categories.AudioCategory == test">
                            <div>
                                <label class="description" style="font-size: 1.5vw; color:#4B92AE">{{categories.AudioCategory}} </label>
                                <div ng-repeat="tests in categories.Tests">
                                    <label style="font-size: .8vw;">{{tests.AudioTestName}}</label>
                                    <div ng-repeat="type in tests.AudioTestInput">
                                        Label: {{type.Label}} <br>
                                        
                                        <div ng-if="type.Type == 'number'">
                                            <input type="number" name="type.Label" min={{type.Values.Min}} max={{type.Values.Max}} ng-model="answer[type.Label]">
                                        </div>

                                        <select ng-if="type.Type == 'select'" ng-model="answer[type.Label]">
                                            <option ng-repeat="values in type.Values">{{values}}</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                
            </div>
        

    </div>
    CDA: {{CDA}}<br>
    AZBio: {{AZBio}}<br>
    CNC: {{CNC}}<br>
    BKBSIN: {{BKBSIN}}<br>
    
    <button ng-click="printTests()">PRINT TESTS</button>
</div>
    
