<div class ="row">

    <button ng-click="export()" class="btn btn-info ">
        Export To Spreadsheet
    </button> <br> <br>
</div>

<div id="facReport"> <!--ID used to identify exportable html-->
    
    <table class="form3D " style="table-layout:fixed" >
        <thead ng-if="showReport">
        <tr style="background-color:#cae5f0;" align="center"> 
            <td style="width:200px"> <h4> Patient </h4></td> 
            <td style="width:200px"><h4>  Test </h4></td> 
            <td style="width:200px"> <h4> Measure </h4> </td> 
            <td style="width:200px" ng-repeat= "phase in facilityReport.Phases"><h4>  {{phase.Name}}</h4> </td>
        </tr>
        </thead>
        <tbody ng-repeat="patient in facilityReport.Patients" class="form3D">
            <tr ng-repeat="careTeam in patient.CareTeams">
            
                    <td >{{patient.First}} {{patient.Last}} <br> {{careTeam.Description}} </td>
                    <td > 
                        <table style="table-layout:fixed; width:100%"> 
                            <tr style="border:none"> 
                            <td style="width:200px;border:none">  </td> 
                            <td style="width:200px;border:none">  </td> 
                            </tr>
                            <tr> <td > Azbio </td> 
                                
                                <td>  
                                    <table style="table-layout:fixed; width:100%">
                                        <tr  ng-repeat="field in audioQuestions.Tests[0].AudioTestInput">
                                            <td><b> {{field.Name}}</b></td> 
                                        </tr>
                                    </table>
                                </td>
                            </tr> 
                            <tr> <td > CNC </td>
                                <td>  
                                    <table style="table-layout:fixed; width:100%"  >
                                        <tr  ng-repeat="field in audioQuestions.Tests[1].AudioTestInput">
                                            <td><b> {{field.Name}}</b></td> 
                                        </tr>
                                    </table>
                                </td>

                            </tr> 
                            <tr> <td > BKB-SIN</td>
                                <td>  
                                    <table style="table-layout:fixed; width:100%">
                                        <tr  ng-repeat="field in audioQuestions.Tests[0].AudioTestInput" >
                                            <td><b> {{field.Name}}</b></td> 
                                        </tr>
                                    </table>
                                </td>
                            </tr> 
                        </table>
           
                    </td>
                

            </tbody>

        </table>
    </table>
    <!--TAKEN FROM COMPLETED PHASE
    <div class="row" ng-if="condition.Results">
        {{getMaxNumOfTest(condition.Results)}}
        <table class="table table-hover table-responsive" >
             
            <table >
                <tr align= "center" >
                  <td colspan=2 style="background-color:#cae5f0"><h4><b>Testing Conditions</b></h4></td>
                </tr>  
                <tr>
                    <td style="width:50%"><b> Left Ear Condition:</b> {{condition.LeftAidCondition}} </td>
                    <td  style="width:50%"><b> Right Ear Condition:</b>{{condition.RightAidCondition}} </td>  
                </tr>
                <tr align= "center">
                  <td colspan=2 style="background-color:#cae5f0"><h4><b>Results</b></h4></td>
                </tr>
            </table>
            
            <table class="table table-hover table-responsive" style="table-layout: fixed;">
            <tbody ng-repeat="test in audioQuestions.Tests" ng-if="condition.Results[test.AudioTestName]">
                <tr >       
                  <td colspan ={{max}} ><h4><b>{{test.AudioTestName}}</b></h4> </td> 
                </tr> 
                <!--
                <tr align= "center">  
                    <td>  </td>
                    <td ng-repeat="result in condition.Results[test.AudioTestName]" > <b> {{$index+1}} </b> </td> 
                </tr>  
-->
    <!--
                <tr  ng-repeat="field in test.AudioTestInput" style="width:100%">
                    <td><b> {{field.Name}}</b></td> 
                    <td ng-repeat="result in condition.Results[test.AudioTestName]" >{{result[field.Name]}}</td>
                </tr>
            </tbody>
            </table>
         </table>
        
    </div>
-->
</div>

<!--<span ng-if="$last" >{{clearMessage()}}  -->