<!---Audiometric facility report table----->
<div id="facReport">
    <!--ID used to identify exportable html-->
    <style>
        table, th, td, tbody, tr {
        border: 1px solid #164a5e;
        }
        .bold{
        background-color: #97afd4;
        }
        .plain{
        background-color:#cae5f0
        }
        .light{
        background-color:#aae5f0
        }
        .dark{
        background-color:#97afff
        }
        .table-results{
        }
        #table-results tr:hover {
        background: #97afd4;<!--#55ccff;-->
        } 
    </style>
    <table class="form3D " style="table-layout:fixed" >
        <thead ng-if="showReport">
            <!-- First row, column headers-->
            <tr style="background-color:#cae5f0;" align="center">
                <td style="width:200px;">
                    <h4> Patient </h4>
                </td>
                <td style="width:100px">
                    <h4>  Test </h4>
                </td>
                <td style="width:240px">
                    <h4> Measure </h4>
                </td>
                <!-- repeat the audio phases - setting colspan based on max number of different conditions tested for any patients-->
                <td colspan="{{getMaxNumOfConditionSets(phase.PhaseID)}}" ng-attr-style="width:{{getMaxNumOfConditionSets(phase.PhaseID)*303}}px" 
                    ng-repeat= "phase in facilityReport.Phases">
                    <h4>  {{phase.Name}}</h4>
                </td>
            </tr>
            <!-- END First row, column headers-->
        </thead>
        <tbody ng-repeat="patient in facilityReport.Patients" ng-class-odd="'dark'" ng-class-even="'light'">
            <tr ng-repeat="careTeam in patient.CareTeams" >
                <!--Patient Name and Event Details -->
                <td align="center"  style="width:200px;" >
                    <b> {{patient.First}} {{patient.Last}} <br> {{careTeam.Description}} </b>
                </td>
                <!--AzBio, CNC, BKB-SIN-->
                <td >
                    <table style="width:100%;border-style:none" >
                        <tr style="border-style:none">
                            <td style="height:32px;border-style:none" class="bold"></td>
                        </tr>
                        <tr style="border-style:none">
                            <td style="height:32px;border-style:none" class="bold"></td>
                        </tr>
                        <tr style="border-style:none">
                            <td style="border-style:none">
                                <table ng-repeat="test in audioQuestions.Tests" style=" width:100%;">
                                    <tr ng-attr-style="height:{{test.AudioTestInput.length*21.33-1.5}}px; background-color:#cae5f0; border-bottom:none">
                                        <td style="border-bottom:none"><b> {{test.AudioTestName}}</b></td>
                                    </tr>
                                    <tr style="border-style:none" ng-repeat="field in test.AudioTestInput" ng-if="!$first">
                                        <td style="border-style:none;background-color:#cae5f0;"></td>
                                    </tr>
                                </table>
                            </td>
                    </table>
                </td>
                <!-- List, SNR, etc; specific to the test-->
                <td >
                    <table style="width:100%;">
                        <!-- empty hidden rows to make excel look better-->
                        <tr style="border-style:none">
                            <td style="height:33px;border-style:none; border-top:1px solid #164a5e" class="bold"></td>
                        </tr>
                        <tr style="border-style:none">
                            <td style="height:32px;border-style:none" class="bold"></td>
                        </tr>
                        <tr>
                            <td>
                                <table ng-repeat="test in audioQuestions.Tests" style=" width:100%;">
                                    <tr  ng-repeat="field in test.AudioTestInput" ng-class-odd="'odd'" ng-class-even="'even'" >
                                        <td ><b> {{field.Name}}</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- Results for each test and field AND PHASE---> 
                <td ng-repeat="phase in facilityReport.Phases" colspan="{{getMaxNumOfConditionSets(phase.PhaseID)}}" >
                    <table style="width:100%" >
                        <tr>
                            <td ng-repeat="conditionSet in careTeam.Data[phase.PhaseID].DetailedAnswers" style="width:300px">
                                {{getMaxNumOfTest(conditionSet.Results)}}
                                <table style="width:300px" class="bold">
                                    <tr>
                                        <td colspan="{{max}}" align="center"><b> Testing Conditions </b></td>
                                    </tr>
                                    <tr>
                                        <td colspan="{{max/2}}"  style="height:43px" >
                                            <b> Left Ear:</b> {{conditionSet.LeftAidCondition}} 
                                        </td>
                                        <td colspan="{{max/2}}" style="height:43px">
                                            <b> Right Ear:</b> {{conditionSet.RightAidCondition}}
                                        </td>
                                    </tr>
                                </table>
                                <table  id="table-results" ng-repeat="test in audioQuestions.Tests" style="width:300px;" >
                                    <tr  ng-repeat="field in test.AudioTestInput" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td ng-if="!conditionSet.Results[test.AudioTestName]" colspan="{{max}}"> N/A </td>
                                        <td ng-if="conditionSet.Results[test.AudioTestName]" 
                                            colspan="{{max/conditionSet.Results[test.AudioTestName].length}}"
                                            ng-repeat="result in conditionSet.Results[test.AudioTestName]"align="left" >
                                            {{result[field.Name]}}
                                            <span ng-if="$last" >{{clearMessage()}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--<tr  ng-repeat="field in test.AudioTestInput" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="$parent.$first" 
    style="border-top:2px solid black">
    <td ><b> {{field.Name}}</b></td> 
    </tr>
    <tr  ng-repeat="field in test.AudioTestInput" ng-class-odd="'odd'" ng-class-even="'even'" ng-if="!parent.$first" >
    <td ><b> {{field.Name}}</b></td> 
    </tr>-->