<html data-ng-app="myApp">


  <head>
  </head>

  <body>

   <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/cochlearLogo.png" style="height: 100px; width: 70px; padding-bottom: 50px;
			margin-top: -13px" /></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>-->
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!--<li class="active"><a href="./">Default</a></li>-->
              <li><a href="#/newPatient">New Patient</a></li>
              <li><a href="#/editPatient">Edit Patient</a></li>
			  <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#/messages">Messages</a></li>
                  <li><a href="#/invites">Invites</a></li>
                  <li><a href="#/careTeam">Care Team</a></li>
                  <li class="divider"></li>
                  <!--<li class="dropdown-header">Nav header</li>-->
                  <li><a href="#/accntSettings">Account Settings</a></li>
                  <li><a href="#/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

    <div class="container">
     
      <h1> Care Team </h1>

    </div>

  </body>

</html>
