<div ng-controller="questionsController">
    <!--Phase name at the top of the completed phases-->
    <div class="row">
        <p style="font-size:2vw; color:#4B92AE; text-align:center; font-weight:bold;">{{phaseName}} </p>
        <hr>
    </div>
    <div class="row">
        <!-- Table with all results and answers for the audio phase-->
        <div class="col-md-7 col-md-offset-2">
            <div id="divtoprint">
                <div ng-if="patientSummaryAnswers.Answers"> 
                    <completed-questions></completed-questions>
                </div>
                <div ng-repeat="condition in audioSummaryAnswers">
                    <completed-audiology></completed-audiology>
                </div>
            </div>
        </div>
        <!--Buttons to return back to patient directory, print or export as pdf(i think)-->
        <div class="col-md-2" >
            <button class="btn btn-primary" ng-controller="apiPatientsController" 
                    ng-click="goToPatDir(dirAnchor, patientInactiveStatus)" style="position:fixed">
                Patient Directory
            </button><br> <br>
            
            <button ng-click="PrintContent()" style="position:fixed"  class="btn btn-default">
                Print
            </button><br><br>
            
            <button ng-click="export()" style="position:fixed"  class="btn btn-default">
                Export & Save
            </button>
        </div>
    </div>
</div>