<div ng-controller="questionsController">

    <div class="col-md-3">
        <label style="font-size:2vw; color:#4B92AE; margin-left:19%;">{{phaseName}}</label><br><br>
    </div>
    <div class="col-md-5">
        <div ng-repeat="condition in patientSummaryAnswers" style="margin-top:12%">
            <completed-audiology></completed-audiology>
      
        </div>
    </div>
    <div class="col-md-4" ng-controller="apiPatientsController">
        <a href="" style="position:fixed" ng-click="goToPatDir(dirAnchor)"><button class="btn btn-primary">Patient Directory</button></a>
    </div>

    

</div>