<div data-ng-controller="questionsController">
    
    <div class="row">
        <div class="col-md-offset-4">
            <label style="font-size:2vw; color:#4B92AE" >{{phaseName}}</label>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div id="divtoprint">
                <completed-questions></completed-questions>
            </div>
            <hr>
        </div>
        
        <div class="col-md-2">
            
            <button ng-click="PrintContent()" class="btn btn-default" style="margin-right:2%">
                Print
            </button>
            
            <a href="" style="position:fixed" ng-controller="apiPatientsController" ng-click="goToPatDir(dirAnchor)">
                <button class="btn btn-primary">
                    Patient Directory
                </button>
            </a>
        </div>
    </div>
    
</div>
