<style>

    .custom-search-form{
        
        margin-top:5px;
    }

</style>

<div class="container" ng-controller="apiPatientsController">
	<div class="row">
        <div class="col-lg-7">
            <label style="font-size:2vw; color:#4B92AE">Dashboard</label>
        </div>
		<div class="col-lg-5" >
            <div class="input-group custom-search-form">
               <!-- <pre> Selected Patient {{selectedPatient| json}}</pre> -->
              <input type="text" class="form-control" placeholder="Search Patients" typeahead="patient as patient.First + ' ' + patient.Last for patient in patientsData.records | filter:$viewValue" ng-model ="selectedPatient" typeahead-on-select="goToPatDir($item.Last)">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
             </div><!-- /input-group -->
        </div>
	</div>
</div>

<br>
<div class="container" ng-controller="dashboardController">
<container class = "cp_fixedbgStyle">
<!--FIRST ROW------------------------------->
    <div class="row">
        <!---------------------------------------------MY FACILITY CARD------------------------------------------------------------------->
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">My Facility</h3>
              </div>
              <div class="panel-body">
                  
                <div class="col-md-4">
                    <img src="images/facilityLogo.png" style="width:140%;"/> 
                </div>
                <div class="col-md-8">
                  <b> {{facData.records[0].Name}}</b> <br>   
                  <b> Address: </b> <br>
                  {{facData.records[0].Address1}} <br>
				  <b> Phone: </b> ({{facData.records[0].Phone.slice(0,3)}}){{facData.records[0].Phone.slice(3,6)}}-{{facData.records[0].Phone.slice(6)}} <br>
                  Facility Admin: <a> ADMIN NAME</a> <br>
                  <button> <a href="#/mySettings/"> Facility Settings </a></button> 
                </div> 
                
                <p> Users @ {{facData.records[0].Name}}</p>    
                <div class="scroll">
                    <ul>
                        <li ng-repeat="user in facUsers.records"> <a href="mailto:{{user.email}}"> {{user.first_name}}  {{user.last_name}}</a> </li>
                    </ul>
                </div>
                  <br>
                <div class= "container">
                  <div class="row">
                    <button type="button" class="btn btn-default btn-sm" ng-click="addUser()">
                      <span class="glyphicon glyphicon-plus-sign"></span> Add User
                    </button>
                  </div>
                </div>    
             <!-- Modal for add user -->
            <script type="text/ng-template" id="addUser.html">
                <div class="modal-header">
                    <button type="button" class="close"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add User by email invitation</h4>
                </div>
                <div class="modal-body">
                    <form name="addUserForm" ng-submit="processForm()" class="form form-vertical" novalidate>
                    
                        <div class="row">        

                            <div class="control-group col-md-4 col-md-offset-1" >
                              <label>First Name</label>
                              <div class="controls" >
                                <input type="text" class="form-control" name="firstName" ng-model="addUser.first" ng-required="true" placeholder="Enter First Name" alphabet>
                            </div>                       
                            </div>

                            <div class="control-group col-md-4" >
                              <label>Last Name</label>
                              <div class="controls" >
                                <input type="text" class="form-control" name="lastName" ng-model="addUser.last" ng-required="true" placeholder="Enter Last Name" alphabet>
                            </div>                       
                        </div>

                        </div><br>

                        <div class="row">
                            <div class="control-group col-md-8 col-md-offset-1" >
                              <label>Email</label>
                              <div class="controls" >
                                <input type="text" class="form-control" name="email" ng-model="addUser.email" ng-required="true" placeholder="Enter email of user to be invited">
                              </div>
                            </div>
                        </div><br>

                        <button class="btn btn-primary col-md-3 col-md-offset-1" type="submit" value="submit">Submit</button>
                        <br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                </div>
            </script>
                
              </div>
            </div>
        </div>
        <!---------------------------------------------MY FACILITY CARD------------------------------------------------------------------->
        <!---------------------------------------------Messaging CARD------------------------------------------------------------------->
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Messaging</h3>
              </div>
              <div class="panel-body">
                  
                  
                  <tabset>
                    <tab heading="Inbox" ng-controller="messagingController">
                        <br>
                      <table class="table table-hover">
                        <thead> Inbox </thead>
                        <tr>
                          <th>From</th>
                          <th>Subject</th>
                        </tr>
                        <tr ng-repeat="message in inboxMessages.records">
                          <td>{{message.SenderName}}</td>
                          <td>{{message.ShortSubject}}</td>
                        </tr>
                      </table>
                    </tab>
                    <tab  heading="Alerts" ng-controller="alertsController">
                        <br>
                      <table class="table table-hover">
                        <thead> Alerts </thead>
                        <tr>
                          <th>Patient</th>
                          <th>Subject</th>
                        </tr>
                        <tr ng-repeat="alert in receivedAlerts.records">
                          <td>{{alert.ShortPatient}}</td>
						  <td>{{alert.ShortSubject}}</td>
                        </tr>
                      </table>
                    </tab>
                    <tab  heading="Notifications" ng-controller="notificationsController">
                        <br>
                      <table class="table table-hover">
                        <thead> Notifications </thead>
                        <tr>
                          <th>From</th>
                          <th>Subject</th>
                        </tr>
                        <tr ng-repeat="notification in receivedNotifications.records">
                          <td>{{notification.ShortSenderFacilityName}}</td>
						  <td>{{notification.ShortSubject}}</td>
                        </tr>
                      </table>
                    </tab>  
                  </tabset>
              </div>
            </div>
        </div>
        <!---------------------------------------------Messaging CARD------------------------------------------------------------------->
        <!---------------------------------------------Aii directory------------------------------------------------------------------->
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Aii directory</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12" style="float:right;" >
                        <div class="input-group custom-search-form">
                          <input type="text" class="form-control" placeholder="Search Aii Members" typeahead="facility as facility.Name for facility in allFacs.records | filter:{Name:$viewValue}" ng-model ="selectedFacility" typeahead-on-select="getFacCard($item)" >
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                         </button>
                         </span>
                         </div><!-- /input-group -->
                    </div>
                   </div>
                    <div class="scroll" style="height:300px">
                        <ul>
                            <li ng-repeat="fac in allFacs.records"> <a href="" ng-click = getFacCard(fac)> {{fac.Name}} </a> </li>
                        </ul>
                    </div>
                    
                
              </div>
            </div>
    
                <!-- Modal for each different facility clicked -->
            <script type="text/ng-template" id="myModalContent.html">
				<div class="facility-info" ng-hide="getDisplayInfo">
					<div class="modal-header">
						<button type="button" class="close" ng-click="ok()"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">{{facCard.records[0].Name}}</h4>
					</div>
					<div class="modal-body">
						<div class="row">  
							<div class="col-md-4">
								<img src="http://img1.123freevectors.com/wp-content/uploads/new/signs-symbols/021_medical-symbol-free-vector-l.png" style="width:100%;"/> 
							</div>
							<div class="col-md-8">
							  <b> {{facCard.records[0].Name}} </b> <br>
							  <b> Address: </b> <br>
							  {{facCard.records[0].Address1}} <br>
							  Facility Admin: <a> ADMIN NAME</a> <br>
							</div> 
						</div>
						<p> Users @ {{facCard.records[0].Name}}</p>    
						<div class="scroll">
							<ul>
								<li ng-repeat="user in facCardUsers.records"> <a href="mailto:{{user.email}}"> {{user.first_name}}  {{user.last_name}}</a> </li>
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="setDisplayInfo(0)">Invite Facility to Care Team</button>
						<button class="btn btn-primary" ng-click="ok()">OK</button>
					</div>
				</div>
				<div id="care-team-invitation" ng-show="displayInfo">
					<div class="modal-header">
						<button type="button" class="close"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">{{facCard.records[0].Name}}</h4>
					</div>
					<div class="modal-body">
						<div class="row">  
							<div class="col-md-4">
								<img src="http://img1.123freevectors.com/wp-content/uploads/new/signs-symbols/021_medical-symbol-free-vector-l.png" style="width:100%;"/> 
							</div>
							<div class="col-md-8">
							  <b> {{facCard.records[0].Name}} </b> <br>
							  <b> Address: </b> <br>
							  {{facCard.records[0].Address1}} <br>
							  Facility Admin: <a> ADMIN NAME</a> <br>
							</div> 
						</div>
						<p> Users @ {{facCard.records[0].Name}}</p>    
						<div class="scroll">
							<ul>
								<li ng-repeat="user in facCardUsers.records"> <a href="mailto:{{user.email}}"> {{user.first_name}}  {{user.last_name}}</a> </li>
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="setDisplayInfo(true)">Back</button>
						<button class="btn btn-primary" ng-click="">Send Invitation</button>
						<button class="btn btn-primary" ng-click="ok()">Close</button>
					</div>
				</div>
            </script>
        </div>
        <!---------------------------------------------Aii directory CARD------------------------------------------------------------------->
    </div>
    
    <!--SECOND ROW------------------------------->
    <div class="row">
     <!---------------------------------------------Quick Reports CARD------------------------------------------------------------------->
        <div class="col-xs-6 col-md-4">
           <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Quick Reports</h3>
              </div>
              <div class="panel-body">
                <a href="" > Full Facility Report </a> <br> <br>
                <a href="" > Facility Aggregate Outcomes </a>
              </div>
            </div>
        </div>
        
		<!---------------------------------------------Contact Us CARD------------------------------------------------------------------->
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Contact Us</h3>
              </div>
              <div class="panel-body">
                <a href="" > Report a problem </a> <br> <br>
                <a href="" > Suggest a measure </a>
              </div>
            </div>
        </div>
		<!---------------------------------------------Contact Us CARD------------------------------------------------------------------->
        
        <div class="col-xs-6 col-md-4">
            
        </div>
    </div>
   
</container>
    
</div>




