<div  style="margin: 1% 1% 1% 1%; height:100%; width:98%; border-style: dashed; border-width: 2px;">
<container class = "cp_fixedbgStyle">
    
    <div style="margin: 2% 2% 2% 2%; background-color:white; height:40%; width:22%; border-style: dashed; border-width: 1px; float: left">
        <text style="font-size: 1.5vw;">&nbsp My Facility</text><br>
        <hr style="border-color:black">
        <div style="margin: 5% 5% 5% 5%;">
            <text style="font-size: 1vw;">-Facility Name-</text>
            <img src="images/facilityLogo.png" style="height:20%;width:40%;margin-left:10%"/><br><br>
            <text style="font-size: .9vw;"> Facility Administrator: -Administrator Name-</text><br><br>
            <button style="font-size: .9vw;"> Facility Settings</button><br>
            
        </div>
    </div>
    
    <div style="margin: 2% 2% 2% 2%; height:40%; background-color:white; width:22%; border-style: dashed; border-width: 1px; float: left;">
        <text style="font-size: 1.5vw;">Quick Reports</text><br>
        <hr style="border-color:black">
        <div style="margin: 5% 5% 5% 5%;">
            <a href="#/audioQuestions">AUDIO QUESTIONS</a>
        </div>
    </div>
    
    <div style="margin: 2% 2% 2% 3%; height:70%; background-color:white; width:40%; border-style: dashed; border-width: 1px; float: left;">
        <text style="font-size: 1.5vw;">AII Membership Directory</text><br>
        <hr style="border-color:black">
        <div style="margin: 5% 5% 5% 5%;">
        </div>
    </div>
    
    <div style="margin: -12% 2% 2% 2%; height:40%; background-color:white; width:22%; border-style: dashed; border-width: 1px; float: left">
        <text style="font-size: 1.5vw;">Users At -Facility Name-</text><br>
        <hr style="border-color:black">
        <div style="height:70%;width:90%;margin: 5% 5% 5% 5%;overflow: auto">
            <ul>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
            </ul>
        </div>
    </div>
    
    <div style="margin: -12% 2% 2% 2%; height:40%; background-color:white; width:22%; border-style: dashed; border-width: 1px; float: left">
        <text style="font-size: 1.5vw;">Messages</text><br>
        <hr style="border-color:black">
        <div style="margin: 5% 5% 5% 5%;">
        </div>
    </div>
    
    
</container>
    
</div>




