<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Edit Patient</title>
		<link rel="stylesheet" href="/application/html/js/prajwalkman/angular-slider/angular-slider.min.css" media="all">
        
        <style>
            .txt {
            width: 300px;
            }
        </style>
	</head>
	
	<body>

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-md-9">
      	
      <!-- column 2 -->	
      
     
       <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>  
            
       <hr>
      
	   <div class="row">
            <!-- center left-->	
         	<div class="col-md-12">

              <hr>
              <div class="panel panel-default">
				<div class="panel-heading">
				  <div class="panel-title">
					<i class="glyphicon glyphicon-wrench pull-right"></i>
					<h4>Edit Patient Info</h4>
				  </div>
				</div>
				<div class="panel-body" ng-controller="TabController as tab" >
				  <div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
						<li ng-class="{active:tab.isSelected(0)}">
                            <a href ng-click="tab.selectTab(0)">Demographics</a></li>
						<li ng-class="{active:tab.isSelected(1)}">
                            <a href ng-click="tab.selectTab(1)">Candidacy Testing</a></li>
						<li ng-class="{active:tab.isSelected(2)}">
                            <a href ng-click="tab.selectTab(2)">Initial Surgical Consultation</a></li>
						<li ng-class="{active:tab.isSelected(3)}">
                            <a href ng-click="tab.selectTab(3)">Preoperative Visit</a></li>
						<li ng-class="{active:tab.isSelected(4)}">
                            <a href ng-click="tab.selectTab(4)">1 Week Postoperative Check</a></li>
						<li ng-class="{active:tab.isSelected(5)}">
                            <a href ng-click="tab.selectTab(5)">Activation (3 weeks)</a></li>
						<li ng-class="{active:tab.isSelected(6)}">
                            <a href ng-click="tab.selectTab(6)">1 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(7)}">
                            <a href ng-click="tab.selectTab(7)">3 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(8)}">
                            <a href ng-click="tab.selectTab(8)">6 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(9)}">
                            <a href ng-click="tab.selectTab(9)">12 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(10)}">
                            <a href ng-click="tab.selectTab(10)">24 month Audiometric Testing</a></li>
					  </ul>
					  </br></br>
					  {{tab}}
                  
					  <!--<div class="tab-content">-->
					<div class="tab-pane" id="tab0" ng-show="tab.isSelected(0)" >
						<edit-patient-dem> </edit-patient-dem>
					</div>
                  
					<div class="tab-pane" id="tab1" ng-show="tab.isSelected(1)">
						<candidacy-tab></candidacy-tab>
					</div>
                  
                    <div class="tab-pane" id="tab2" ng-show="tab.isSelected(2)">
                      <p>I'm in Initial Surgical Consultation.</p>
                      <p>Data is collected by Data entry clerk</p>
                    </div>
                  
					<div class="tab-pane" id="tab2" ng-show="tab.isSelected(3)">
						<periop-tab></periop-tab>
					</div>
                  
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(4)">
                      <p>I'm in 1 week post check.</p>
                      <p>Time Zero Milestone</p>
                    </div>
                  
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(5)">
                      <p>I'm in Activation.</p>
                      <p>Data is collected by Audiologist</p>
                    </div>
                  
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(6)" ng-controller="audioTestCtrl">
                      <p>I'm in 1 month Audiometric.</p>
                      <audiometric-testing></audiometric-testing>
                            <hr/>
                            </br>
                            <h3> Implanted Ear, Implant On </h3>
                              <div class="row">
                                <div class="col-xs-6">
                                <label>Pure Tone Average (PTA), in decibels</label>
                                  <div class="range">
                                    <input type="range" name="range" ng-model="pta" min="0" max="120" value="60" onchange="range.value=value">
                                    <output id="range" >60 db</output>
                                  </div>
                                </div>							
                              </div>

                              <div class="row">
                                <div class="col-xs-6">
                                <label>Speech Reception Threshold (SRT), in decibels</label>
                                  <div class="range range-success">
                                    <input type="range" name="range" ng-model="srt"  min="0" max="120" value="60" onchange="rangeSuccess.value=value">
                                    <output id="rangeSuccess" >50 db</output>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-xs-6">
                                <label>Speech Discrimination Score (SDS), percentage</label>
                                  <div class="range range-warning">
                                    <input type="range" name="range" ng-model="sds" min="0" max="100" value="50" onchange="rangeWarning.value=value">
                                    <output id="rangeWarning">50%</output>
                                  </div>
                                </div>
                              </div>
                            <input type="submit" id="submit" value="Submit" />
                                <pre>test values={{testValues}}</pre>

                                PTA: {{pta}}  </br>
                                SRT: {{srt}}  </br>
                                SDS: {{sds}} </br>
                    </div>
									
		
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(7)">
                      <p>I'm in 3 month Audiometric.</p>
                      <audiometric-testing></audiometric-testing>
                    </div>
      
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(8)">
                      <p>I'm in 6 month Audiometric.</p>
                      <audiometric-testing></audiometric-testing>
                    </div>
      
                    </div>
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(9)">
                      <p>I'm in 12 month Audiometric.</p>
                      <audiometric-testing></audiometric-testing>
                    </div>
    
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(10)">
                      <p>I'm in 24 month Audiometric.</p>
                      <audiometric-testing></audiometric-testing>
                    </div>
					  <!--</div>-->
				</div>
				
			                  
              
          	</div><!--/col-->
         </div>
      </div>
    </div>
  </div>
</div>
           
  
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</body>
</html>