<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Edit Patient</title>
        <link rel="stylesheet" type="text/css" href="css/historyForm.css" media="all">
        <style>
            .txt {
                width: 300px;
            }
            .range {
                width:500px;
            }
        </style>
	</head>
	
	<body>

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-md-9">
    
       <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>  
            
       <hr>
          <!--
        <div ng-controller="AccordionDemoCtrl">


          <label class="checkbox">
            <input type="checkbox" ng-model="oneAtATime">
            Open only one at a time
          </label>
            
          <accordion close-others="oneAtATime">
            <accordion-group heading="Current Patients, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
              <div ng-controller="existingPatientsCtrl">
              <select ng-model="selected" 
                      ng-options="patient as patient.fname + ' ' + patient.lname for patient in data.records" name="Current Patients"></select> 
            </div>
            </accordion-group>
            <!--
            <accordion-group heading="Dynamic Body Content">
              <p>The body of the accordion group grows to fit the contents</p>
                <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                <div ng-repeat="item in items">{{item}}</div>
            </accordion-group>
           
            <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
              {{group.content}}
            </accordion-group>
              
            <accordion-group is-open="status.open">
                <accordion-heading>
                    I can have markup, too!
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">                        </i>
                </accordion-heading>
                This is just some content to illustrate fancy headings.
            </accordion-group>
          </accordion>
        </div>
-->
      
	   <div class="row">
          <div class="col-md-12">

              <hr>
              <div class="panel panel-default">
				<div class="panel-heading">
				  <div class="panel-title">
					<i class="glyphicon glyphicon-wrench pull-right"></i>
					<h4>Edit Patient Info</h4>
				  </div>
				</div>
				<div class="panel-body" ng-controller="TabController as tab" >
				  <div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-tabs">
                          <li ng-class="{active:tab.isSelected(-1)}">
                            <a href ng-click="tab.selectTab(-1)">History</a></li>
						<li ng-class="{active:tab.isSelected(0)}">
                            <a href ng-click="tab.selectTab(0)">Demographics</a></li>
						<li ng-class="{active:tab.isSelected(1)}">
                            <a href ng-click="tab.selectTab(1)">Candidacy Testing</a></li>
						<li ng-class="{active:tab.isSelected(2)}">
                            <a href ng-click="tab.selectTab(2)">Initial Surgical Consultation</a></li>
						<li ng-class="{active:tab.isSelected(3)}">
                            <a href ng-click="tab.selectTab(3)">Perioperative Visit</a></li>
						<li ng-class="{active:tab.isSelected(4)}">
                            <a href ng-click="tab.selectTab(4)">1 Week Postoperative Check</a></li>
						<li ng-class="{active:tab.isSelected(5)}">
                            <a href ng-click="tab.selectTab(5)">Activation (3 weeks)</a></li>
						<li ng-class="{active:tab.isSelected(6)}">
                            <a href ng-click="tab.selectTab(6)">1 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(7)}">
                            <a href ng-click="tab.selectTab(7)">3 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(8)}">
                            <a href ng-click="tab.selectTab(8)">6 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(9)}">
                            <a href ng-click="tab.selectTab(9)">12 month Audiometric Testing</a></li>
						<li ng-class="{active:tab.isSelected(10)}">
                            <a href ng-click="tab.selectTab(10)">24 month Audiometric Testing</a></li>
					  </ul>
					  </br></br>
					  <!--<div class="tab-content">-->
                   <div class="tab-pane" id="tab0" ng-show="tab.isSelected(-1)" >
                        <edit-patient-contact> </edit-patient-contact>
					</div>
					<div class="tab-pane" id="tab0" ng-show="tab.isSelected(0)" >
                        <demographics-tab></demographics-tab>
					</div>
                  
					<div class="tab-pane" id="tab1" ng-show="tab.isSelected(1)">
						<candidacy-tab></candidacy-tab>
					</div>
                  
                    <div class="tab-pane" id="tab2" ng-show="tab.isSelected(2)">
                        <surgical-consult-tab></surgical-consult-tab>
                    </div>
                  
					<div class="tab-pane" id="tab2" ng-show="tab.isSelected(3)">
						<periop-tab></periop-tab>
					</div>
                  
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(4)">
                      <one-week-tab></one-week-tab>
                    </div>
                  
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(6)">
                      <audiometric-testing></audiometric-testing>
                    </div>

                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(7)">
                      <audiometric-testing></audiometric-testing>
                    </div>
      
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(8)">
                      <audiometric-testing></audiometric-testing>
                    </div>
      
                    </div>
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(9)">
                      <audiometric-testing></audiometric-testing>
                    </div>
    
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(10)">
                      <audiometric-testing></audiometric-testing>
                    </div>
                    <div class="tab-pane" id="tab1" ng-show="tab.isSelected(5)">
                        <div class="form_description">
                            <h2>Activation(3 weeks)</h2>
                            <p></p>
                            <p>Data is collected by Audiologist</p>
                        </div>		

                
                        <div class="control-group" >
                            <label>Date of Activation</label>
                            <div class="controls" >
                                <input class="txt" type="text" name="date" ng-model="date" class="form-control" placeholder="mm/dd/yy">
                            </div>
                         </div>
                        <li class="buttons">
                            <input type="hidden" name="form_id" value="850359" />

                            <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
                        </li>

                    </div>
					  <!--</div>-->
				</div>
				
			                  
              
          	</div><!--/col-->
         </div>
      </div>
    </div>
  </div>
</div>
           
  
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</body>
</html>