<div ng-controller="reportCtrl">

    <div class="row">
        <div class="col-md-offset-5">
            <label style="font-size:2vw; color:#4B92AE" >Facility Report</label>
        </div>
        
    </div>
    <hr>
    <style>
        table, th, td, tbody, tr {
           border: 1px solid #164a5e;
            border-color: 1px solid black;
            border-top: 1px solid black;
        }
        .bold{
            font-weight: bold;
            background-color: #97afd4;
        }
        .plain{
            font-weight:normal;
            background-color:#cae5f0
        }
    </style>

    <div class="form3D" class="container" >
        <div class="row">
            <div class="col-md-4">
                <img src="images/facilityLogo.png" ng-if="FacilityImage == null"/> 
                <img src="images/facilityImages/{{FacilityImage}}" ng-if = "FacilityImage !=null"/>
            </div>
            <div class="col-md-4">
                <button ng-click="export()" class="btn btn-default">
                    Export To Spreadsheet
                </button>
            </div>
        </div>
        <div class="row">
            <h3 style="text-align:center">{{facilityName}}</h3>
            <h1 style="text-align:center">Facility Report</h1> <br><br>
            wait for report to load... not complete
        </div>
        <div id="report"> <!--ID used to identify exportable html-->
            <table class="table table-condensed" >
                <caption></caption>
                <thead>
                <tr align="Center">
                    <td colspan="1" style="background-color:#cae5f0"><h4><b>Data Element</b></h4></td>
                    <td colspan="1" style="background-color:#cae5f0" ng-repeat="patient in facilityReport" width="100/{{patientNum}}%"><b>{{patient.First}} {{patient.Last}}</b></h3></td>
                </tr>
                </thead>
                <tbody ng-repeat="(key, value) in questions">
                    <tr ng-repeat="(questionNumb, val) in value">
                       <!-- <td> phase = {{key}} QuestionNumb = {{questionNumb}} value = {{val}} answer == {{patient.CareTeams[0].Data[key][questionNumb]}} </td>-->
                        <td ng-class="{bold:$first, plain:!$first}">{{val}}</td>
                        <td ng-if="$first" colspan="{{patientNum}}" style="background-color:#97afd4"></td>
                        <td ng-repeat="count in facilityReport" ng-if="questionNumb != 0 && !isArray(facilityReport[$index].CareTeams[0].Data[key][questionNumb])">{{facilityReport[$index].CareTeams[0].Data[key][questionNumb]}}</td> 
                        <td ng-repeat="count in facilityReport" ng-if="questionNumb != 0 && isArray(facilityReport[$index].CareTeams[0].Data[key][questionNumb])"><span ng-repeat="answer in facilityReport[$index].CareTeams[0].Data[key][questionNumb]"> {{answer}},</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--
<table class="table table-condensed" style="width=10%; float:left">
            <caption></caption>
            <thead>
            <tr align="Center">
              <td colspan="1" style="background-color:#cae5f0"><h4><b>Data Element</b></h4></td>
            </tr>
            </thead>
            <tbody ng-repeat="(key, value) in questions">
                <tr ng-repeat="(questionNumb, val) in value">
                    <td style="background-color:#cae5f0" ng-class="{bold:$first, plain:!$first}">{{val}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-condensed" ng-repeat="patient in facilityReport" style="width=10%; float:left">
            <caption></caption>
            <thead>
            <tr align="Center">
              <td colspan="1" style="background-color:#cae5f0" ><b>{{patient.First}} {{patient.Last}}</b></h3></td>
            </tr>
            </thead>
            <tbody ng-repeat="(key, value) in questions">
                <tr ng-repeat="(questionNumb, val) in value">
                   <!-- <td> phase = {{key}} QuestionNumb = {{questionNumb}} value = {{val}} answer == {{patient.CareTeams[0].Data[key][questionNumb]}} </td>-->
<!--
                    <td ng-if="!$first">{{patient.CareTeams[0].Data[key][questionNumb]}}</td>
                </tr>
            </tbody>
        </table>
-->