<style>
    .nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
    .tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
    .tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
    .tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
    .tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
    .tab-pane .list-group .glyphicon { margin-right:5px; }
    .tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
    .list-group-item.read { color: #222;background-color: #F3F3F3; }
    hr { margin-top: 5px;margin-bottom: 10px; }
    .nav-pills>li>a {padding: 5px 10px;}

    .ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
    .ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
    .ad a.url {color: #093;text-decoration: none;}

	.bold {
		font-weight: bold;
	}
</style>

<div class="container" ng-controller="messagingController">
    <div class="row">
        <div class="col-lg-6">
            <label style="font-size:2vw; color:#4B92AE">Messages</label><br><br>
        </div>

        <div class="col-lg-6">
            <div class="input-group custom-search-form">
               <!-- <pre> Selected Message {{selectedMessage| json}}</pre> -->
              <input type="text" class="form-control" placeholder="Search Messages" ng-model="search">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
             </div>
        </div>
    </div>
	
    <div class="row">
        <div class="col-sm-3 col-md-2">
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Split button -->
            <div class="btn-group">
                <!-- check all box-->
                <button type="button" class="btn btn-default">
                    <div class="checkbox" style="margin: 0;">
                        <label>
                            <input type="checkbox" name="markAllCheckbox" onclick="selectAllMessages(this)"/> <span><i class="glyphicon glyphicon-chevron-down" style="color:blue"></i></span>
                        </label>
                    </div>
                </button>
                <!--
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">None</a></li>
                    <li><a href="#">Read</a></li>
                    <li><a href="#">Unread</a></li>
                    <li><a href="#">Starred</a></li>
                    <li><a href="#">Unstarred</a></li>
                </ul>
-->
            </div>
            <!-- top bar buttons-->
            <button class="btn btn-default" ng-show="showMarkAsRead" ng-click="editSelectedMessages('IsRead',1)">
                <!--<i class="glyphicon glyphicon-bookmark"></i>--> Mark as Read
            </button>
            <button ng-show="showMarkAsUnread" class="btn btn-default" ng-click="editSelectedMessages('IsRead',0)">
                <!--<i class="glyphicon glyphicon-tag"></i>-->Mark as Unread
            </button>
			<button class="btn btn-default" ng-click="getAllMessages()">
                <i class="glyphicon glyphicon-refresh"></i> Refresh
            </button>
            <button type="button" class="btn btn-default" ng-click="deleteSelectedMessages()">
                Delete
            </button>
            <!-- Single button -->
            
            <div class="pull-right">
                <!-- message counts-->
                <span class="text-muted">
                    <b>1</b>–<b>{{currentMessages.length}}</b> of <b>{{currentMessages.length}}</b></span>
                <!--left and right buttons to navigate messages perhaps, not implemented yet -->
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <!-- side buttons - depending on which tab is viewed-->
        <div class="col-sm-3 col-md-2">
            <a href="" class="btn btn-danger btn-sm btn-block" role="button" data-toggle="modal" data-target="#composeMessageModal"
               ng-click="showMessageComposition();clearComposedMessage()">COMPOSE</a>
            <hr />
            <!-- buttons for messages -->
            <ul class="nav nav-pills nav-stacked" >
                <li ng-class="{active:isCurrentProperty('Received') }">
                    <a href="" ng-click="setMessageProperty('Received'); clearMarkedMessages()"><span class="badge pull-right">{{unreadCount}}</span> Received </a>
                </li>
                <li ng-class="{active:isCurrentProperty('Sent') }">
                    <a href="" ng-show="showSentTab" ng-click="setMessageProperty('Sent'); messagesTogglePopup(); clearMarkedMessages()">Sent</a>
				</li>
                <li ng-class="{active:isCurrentProperty('Drafts') } ">
                    <a href="" ng-show="showDraftsTab" ng-click="setMessageProperty('Drafts'); messagesTogglePopup(); clearMarkedMessages()">Drafts</a>
				</li>
                <li ng-class="{active:isCurrentProperty('Deleted') } ">
                    <a href="" ng-click="setMessageProperty('Deleted'); messagesTogglePopup(); clearMarkedMessages()">Deleted</a>
				</li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <tabset style="cursor:default">
                <tab  style="cursor:pointer" ng-click="setMessageType('Messages')">
                    <tab-heading> Messages <span class="badge pull-right" style="margin-left:5px">{{unreadMessageCount}}</span> </tab-heading>
				</tab>
				<tab style="cursor:pointer" ng-show="showAlertsTab" ng-click="setMessageType('Alerts')" >
                    <tab-heading> Alerts <span class="badge pull-right" style="margin-left:5px">{{unreadAlertCount}}</span> </tab-heading>
				</tab>
				<tab style="cursor:pointer" ng-show="showNotificationsTab" ng-click="setMessageType('Notifications')">
                    <tab-heading> Notifications <span class="badge pull-right" style="margin-left:5px">{{unreadNotificationCount}}</span> </tab-heading>
				</tab>
			</tabset>
			<div class="tab-pane fade in active" id="home">
				<div class="list-group">
					<span class="list-group-item"
					   ng-repeat="message in currentMessages | filter:search | orderBy:orderFilter:reverse"
					   ng-click="selectMessage(message)" style="cursor:pointer" 
					   ng-class="{'read bold':(message.IsRead == '0') && isCurrentProperty('Received')}">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="messageCheckbox" checklist-value="message" checklist-model="markedMessages"> 
							</label>
						</div>
						<span data-toggle="modal" data-target="#displayMessageModal">
							<!--Sender/receiver name -->
							<span class="name" style="min-width: 120px;display: inline-block;" ng-if="showFrom">{{message.ShortSenderName}}{{message.ShortPatient}}{{message.ShortSenderFacilityName}}</span>
							<span class="name" style="min-width: 120px;display: inline-block;" ng-if="showTo">{{message.ShortReceiverName}}</span>
							<!--big title -->
							<span class="">{{message.ShortSubject}}</span>
							<!--little message preview -->
							<span class="text-muted" style="font-size: 11px;">{{message.ShortContent}}</span>
							<!--time badge-->
							<span class="badge">{{message.Timestamp * 1000 | date:'h:mm a'}} {{message.Timestamp * 1000 | date:'M/d/yy'}}</span>
						</span>
					</span>
				</div>
			</div>
			<!-- COMPOSE MESSAGE MODAL -->
			<div class="modal fade" id="composeMessageModal" tabindex="-1" role="dialog" aria-labelledby="composeMessageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title" id="composeMessageModalLabel">Compose a Message</h4>
						</div>
						<div class="modal-body">
							<div class="col-xs-12 message-wrapper" style="padding:0">
								
								<form name="compose_Message">
									<!-- Message Box-->
									<div class="row">
										<div class="col-md-2">
											<span >To:<br>(Username)</span>
										</div>
										<div class="col-md-10">
											<input class="send" type="text"  style="width: 100%;" ng-required="true"
												   ng-model="composedMessage.ReceiverUsername"> 
										</div>
									</div><br>
									<div class="row">
										<div class="col-md-2">
											<span >Subject:</span>
										</div>
										<div class="col-md-10">
											<input class="subject" type="text" style="width: 100%;" ng-required="true" ng-model="composedMessage.Subject">
										</div>
									</div><br>
									<div class="row">
										<div class="col-md-2">
											<span >Message:</span> 
										</div>
										<div class="col-md-10">
											<textarea rows="10" style="width:100%; margin-bottom: 10px;border:1px solid black"
													  ng-required="true" ng-model="composedMessage.Content"></textarea>
										</div>
									</div><br>

									<div class="col-md-offset-6">
									<!--compose message options -->
									  <input class="btn btn-success" type="submit" name="submit" style="margin-right: 5px;" value="Send"  data-dismiss="modal"
											 ng-click="sendMessage('1')"></input>
									  <input class="btn btn-primary" type="submit" name="submit" style="margin-right: 5px;" value="Save as Draft" data-dismiss="modal"
											 ng-click="sendMessage('0')"></input>
									  <input class="btn btn-primary" type="submit" name="submit" style="margin-right: 5px;" value="Cancel" data-dismiss="modal"
											 ng-click="clearComposedMessage()"></input>
									</div>
								</form>

								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- DISPLAY MESSAGE BOX-->
			<div class="modal fade" id="displayMessageModal" tabindex="-1" role="dialog" aria-labelledby="displayMessageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h3 class="modal-title" id="displayMessageModalLabel">{{selectedMessage.Subject}}</h3>
						</div>
						<div class="modal-body">
							<div class="col-xs-12 message-display" style="padding:0">
								<div ng-if="showFrom">
									<strong>From:</strong> 
									<span ng-if="isCurrentType('Messages')"> {{selectedMessage.SenderName}} ({{selectedMessage.SenderUsername}}) </br></span> 
									<span ng-if="isCurrentType('Alerts')"> {{selectedMessage.Patient}} </br></span> 
									<span ng-if="isCurrentType('Notifications')"> {{selectedMessage.SenderFacilityName}} </br></span>
								</div>
								<div ng-if="showTo">
									<strong>To:</strong> {{selectedMessage.ReceiverName}} ({{selectedMessage.ReceiverUsername}}) </br>
								</div>
								<div ng-if="showPatientInfo"><strong>Patient:</strong> {{selectedMessage.Patient}} </br></div>
								<div ng-if="showPatientInfo"><strong>Patient DOB:</strong> {{selectedMessage.PatientDOB}} </br></div>
								<div><strong>Time:</strong> {{selectedMessage.Timestamp * 1000 | date:'h:mm a'}} </br></div>
								<div><strong>Date:</strong> {{selectedMessage.Timestamp * 1000 | date:'M/d/yy'}} </br></div>
								</br>
								<p style="white-space: pre-line">
									{{selectedMessage.Content}}
								</p>
							
								<div class="modal-footer">
									<a class="btn btn-primary" ng-if="showReply" ng-click="prefillComposedMessage(selectedMessage, true)" data-toggle="modal" data-target="#composeMessageModal" data-dismiss="modal">Reply</a>
									<a class="btn btn-primary" ng-if="showForward" ng-click="prefillComposedMessage(selectedMessage, false)" data-toggle="modal" data-target="#composeMessageModal" data-dismiss="modal">Forward</a>
									<a class="btn btn-primary" ng-if="showEdit" ng-click="editDraft(selectedMessage)" data-toggle="modal" data-target="#composeMessageModal" data-dismiss="modal">Edit</a>
									<a class="btn btn-primary" ng-if="showRestore" ng-click="deleteMessage(selectedMessage, false)">Restore</a>
									<a class="btn btn-success" ng-if="showResponses" ng-show="selectedMessage.IsRequest" ng-click="respondToNotification(selectedMessage, 1)">Accept</a>
									<a class="btn btn-danger"  ng-if="showResponses" ng-show="selectedMessage.IsRequest" ng-click="respondToNotification(selectedMessage, 2)">Reject</a>
									<a class="btn btn-primary" ng-click="deleteMessage(selectedMessage, true)">Delete</a>
									<a class="btn btn-primary" data-dismiss="modal">Close</a>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

                        