<style>
    .login-feedback-box{
        padding:15px;
        border:3px solid #000;
        box-shadow:0 0 20px 0 #787878;
        border-radius:10px;
        background-color:white;
        font-weight:bold;
    }
    .login-feedback-box h4{
        color: red;margin:auto;text-align:center;
    }
</style>

<body>
    <!--Login box -->
    <div id = "cp_loginContainer" ng-if = "!loggedIn">
        <div class = "container">
            <div class = "row">
                <div class = "col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!--if token is invalid???- display this box-->
                    <div class = "login-feedback-box" ng-if="invalidToken == true">
                        <h4>
                            You no longer have a valid session on this device.
                        </h4>
                    </div>
                    
                    <!--if token expires- display this box-->
                    <div class = "login-feedback-box" ng-if="tokenTimeout == true">
                        <h4>User Session Has Timed Out</h4>
                    </div> <br>
                </div>
            </div>
            <div class = "row">
                <div class = "col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <form role = "form" name = "loginForm" id = "loginForm" novalidate ng-submit = "submit()">
                        
                        <h4>Sign in <img src="images/hermesCI_2.png" style="float:right;height:25px"></h4>
                        <div ng-if="invalidLogin == true">
                            <h5 style="color: red">
                            Incorrect Username or Password </h3>
                        </div>
                        <hr>
                        <div class = "form-group">
                            <label for = "inputUsername" class = "cp_loginLabel">Username</label>
                            <input class = "form-control cp_loginInput" type = "text" name = "username" placeholder = "Enter Username" 
                                   ng-model = "userlogin.username">
                        </div>
                        <div class = "form-group">
                            <label for = "inputPassword" class = "cp_loginLabel">Password</label>
                            <input class="form-control cp_loginInput" type = "password" name = "password" placeholder = "Enter Password" 
                                   ng-model= "userlogin.password">
                        </div>
                        <div class = "form-group">
                            <p><a class="cp_forgotPasswordLink" href="">Forgot Password</a> 
                                <a href="./facilityRegistration.html" style="float:right">Not Registered?</a></p>
                            <button type="submit" class = "btn btn-primary" form="loginForm" ng-click="makeTrue()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>