<body>
    <div id = "cp_loginContainer" ng-if = "!loggedIn">
        <div class = "container"> 
            <div class = "row">
                <div class = "col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                   
                    <form role = "form" name = "loginForm" id = "loginForm" novalidate ng-submit = "submit()">
                         <h4>Sign in</h4>
                         <hr>
                        <div class = "form-group">
                            <label for = "inputUsername" class = "cp_loginLabel">Username</label>
                            <input class = "form-control cp_loginInput" type = "text" name = "username" placeholder = "Enter Username" ng-model = "userlogin.username">
                        </div>
                        <div class = "form-group">
                            <label for = "inputPassword" class = "cp_loginLabel">Password</label>
                            <input class = "form-control cp_loginInput" type = "password" name = "password" placeholder = "Enter Password" ng-model= "userlogin.password">
                        </div>
                        
                        <div class = "form-group">  
                            <p><a class = "cp_forgotPasswordLink" href="route.html">Forgot Password</a></p>

                            <button type="submit" class = "btn btn-primary" form="loginForm" ng-click="makeTrue()">Login</button>
                        </div>
                            <!-- href="register.html"> -->
                        
                    </form>            
                </div>
            </div>
        </div>
    </div>
    <div class = "container" ng-if = "!loggedIn" style = "margin-top: 10px;">
        <div class = "row">
            <div class = "col-md-12" style = "text-align:center;">
                <div ng-controller = "logoutControl">
                    <p style = "margin-right: 5px;">Logout button for testing purposes only!</p><button class = "btn btn-primary" ng-click = "logout()">logout</button>

                </div>
            </div>
        </div>
    </div>
</body>