<html data-ng-app="myApp">


  <head>
    <style type="text/css">
      .messaging-system{
        margin-top: 3%;
      }
      span i{
        font-size: .8em;
      }      
      
    </style>
  </head>

<!-- "
ng-show="sendCtrl.send.isButtonVal()"-->
  <body>
    <div class = "container">


      <div class = "row"  ng-controller = "TabController as messagetab">
        <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> My Dashboard</strong></a>
        

        <div class = "messaging-system">
          <div class = "col-xs-10 button-wrapper">
            
            <button type = "button" class = "btn btn-default" ng-click = 'messagetab.selectTab(1)'>
              <span><i class = "glyphicon glyphicon-plus"></i></span> New Message
            </button>

            <input class = "search-message pull-right" type = "search" placeholder = "Search Messages.." ng-hide = "messagetab.isSelected(1)">
          </div>

          
          <div class = "col-xs-3">
            <ul class = "nav nav-pills nav-stacked">
              <hr>
              <li ng-class = "{ active:messagetab.tabSelected(0) }"><a href ng-click = "messagetab.selectTab(0)">Messages</a></li>
              <li ng-class = "{ active:messagetab.tabSelected(2) }"><a href ng-click = "messagetab.selectTab(2)">Sent Messages</a></li>
              <li ng-class = "{ active:messagetab.tabSelected(3) } "><a href ng-click = "messagetab.selectTab(3)">Deleted Messages <span><i class = "glyphicon glyphicon-trash"></i></span></a></li>
              <li ng-class = "{ active:messagetab.tabSelected(4) }"><a href ng-click = "messagetab.selectTab(4)">Existing Providers</a></li>
              <hr>
            </ul>
          </div>
          
        
          <div class = "col-xs-7 message-wrapper" ng-show = "messagetab.tabSelected(1)" ng-controller = "messageController">

            <hr>
            <form name = "messageSender" class = "message" ng-submit = "messageSender.$valid && messageForm()">
              <input class = "send" type = "text" placeholder = "To:" style = "width: 75%; margin-bottom: 5px;" ng-required="true" ng-model="composeObject.sender_id"> <br>
              {{messageInputs.send}}
              <input class = "subject" type = "text" placeholder = "Subject:" style = "width: 75%; margin-bottom: 5px;" ng-required="true" ng-model="composeObject.subject"> <br>

              <textarea rows = "10" cols = "100" placeholder = "Message:" style = "margin-bottom: 10px;" ng-required="true" ng-model = "composeObject.content"></textarea><br>

              <button class = "btn btn-success" type = "submit" name = "submit" style = "margin-right: 5px;">Send</button>
              <button class = "btn btn-default" type = "button" name = "cancel" value = "Cancel">Cancel</button>
            </form>
            <hr>
          </div>

        
          <div class = "col-xs-7 message-inbox" ng-show = "messagetab.tabSelected(0)">
            <hr>
            <div class = "table-responsive">
              <table class = "table table-striped table-hover">
                <tr>
                  <th>
                    <input type = "checkbox"> <a href = ""><span><i class = "glyphicon glyphicon-chevron-down"></i></span>
                    </a>
                  </th>
                  <th>From</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>Mando</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi </td>
                  <td>3:12am</td>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>James</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi sit amet...</td>
                  <td>May 21</td>
                </tr>
                
              </table>
            </div>
             <ul class="pagination pull-right">
                <li><a href="">&laquo;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">&raquo;</a></li>
              </ul>
              <hr>
          </div>



          <div class = "col-xs-7 message-send" ng-show = "messagetab.tabSelected(2)">
            <hr>
            <div class = "table-responsive">
              <table class = "table table-striped table-hover">
                <tr>
                  <th>
                     <input type = "checkbox"> <a href = ""><span><i class = "glyphicon glyphicon-chevron-down"></i></span>
                    </a>
                  </th>
                  <th>To</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>Mando</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi </td>
                  <td>3:12am</td>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>Mando</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi </td>
                  <td>May 21</td>
                </tr>
                
              </table>
            </div>
             <ul class="pagination pull-right">
                <li><a href="">&laquo;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">&raquo;</a></li>
              </ul>
              <hr>
          </div>



          <div class = "col-xs-7 message-delete" ng-show = "messagetab.tabSelected(3)">
            <hr>
            <div class = "table-responsive">
              <table class = "table table-striped table-hover">
                <tr>
                  <th>
                    <input type = "checkbox"> <a href = ""><span><i class = "glyphicon glyphicon-chevron-down"></i></span>
                    </a>
                  </th>
                  <th>From</th>
                  <th>Description</th>
                  <th>Date</th>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>Mando</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi </td>
                  <td>3:12am</td>
                </tr>
                <tr>
                  <td><input type = "checkbox"> </td>
                  <td>Mando</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adi </td>
                  <td>May 21</td>
                </tr>
                
              </table>
            </div>
             <ul class="pagination pull-right">
                <li><a href="">&laquo;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">&raquo;</a></li>
              </ul>
              <hr>
          </div>



          <div class = "col-xs-7" ng-show = "messagetab.tabSelected(4)">
            <h3>This tabs usage</h3>
              <p>I wanted to provide an easy way for patients to easily message
                 their providers "Patient to Provider messaging". With this tab, a patient can 
                 view their providers picture, and possibly have a detailed 
                 description of exactly what their providers expertise is.
              </p>
              <p> Visually, it would look similar to Sanan's Care Team tab which 
                 is why this tab may not be needed. Furthermore, this tab would not
                 be beneficial for provider to provider messaging. If anybody can
                 further explain to me why I should or why I shouldn't keep this tab available 
                 I'm all ears...
              </p>
          </div>

        </div>
      </div>
    </div>        
     
  </body>

</html>
