<html data-ng-app="myApp">


  <head>
    <style type="text/css">
      .messaging-system{
        margin-top: 3%;
      }
      i{
        font-size: .9em;
      }      
    </style>
  </head>




  <body>
    <!-- Mando's Comment -->
    <div class = "container">
      <div class = "row">
        <div class = "messaging-system">
          <div class = "col-xs-10 button-wrapper">
            
            <button type = "button" class = "btn btn-default">
              <i class = "glyphicon glyphicon-pencil"></i> New Message
            </button>

            <input class = "search-message pull-right" type = "search" placeholder = "Search Messages..">
          </div>
          
          <div class = "col-xs-3">
            <ul class = "nav nav-pills nav-stacked">
              <hr>
              <li><a href="">Messages</a></li>
              <li><a href="">Sent Messages</a></li>
              <li><a href="">Deleted Messages <i class = "glyphicon glyphicon-trash"></i></a></li>
              <li><a href="">Existing Providers</a></li>
              <hr>
            </ul>
          </div>
        
          <div class = "col-xs-7">
            <hr>
            <form name = "message-wrapper" class = "message">
              <input class = "send" type = "text" name = "send" placeholder = "To:" style = "width: 75%; margin-bottom: 5px;"> <br>
              <input class = "subject" type = "text" name = "subject" placeholder = "Subject:" style = "width: 75%; margin-bottom: 5px;"> <br>
              <textarea name ="messagebox"rows = "10" cols = "100" placeholder = "Message:" style = "margin-bottom: 10px;"></textarea><br>
              <button class = "btn btn-success" type = "submit" name = "submit" style = "margin-right: 5px;">Send</button>
              <button class = "btn btn-default" type = "button" name = "cancel">Cancel</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
