<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
    
	<body>
<!-- Main -->
    <div class="container">

        <div class="col-md-9">

          <!-- column 2 -->


           <a href="#"><strong><i class="glyphicon glyphicon-th-list"></i>Care Teams</strong></a>

           <hr>
           <div class="row">
                <!-- center left-->
                <div class="col-md-8">
                  <div class="well">Inbox Messages <span class="badge pull-right">3</span></div>

                  <hr>

                  <div class="panel panel-default">
                      <div class="panel-heading"><h4>Processing Status</h4></div>
                      <div class="panel-body">

                        <small>Complete</small>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                            <span class="sr-only">72% Complete</span>
                          </div>
                        </div>
                        <small>In Progress</small>
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                          </div>
                        </div>
                        <small>At Risk</small>
                        <div class="progress">
                          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete</span>
                          </div>
                        </div>

                      </div><!--/panel-body-->
                  </div><!--/panel-->

                </div><!--/col-->

                <!--center-right-->
                <div class="col-md-4">
                <ul class="nav nav-justified">
				
                  <li class = "dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-exclamation-sign"></i><span class = "count">1</span></a>
                    <ul class = "dropdown-menu" role = "menu">
                      <li><a href="#">John Smith's care phase has changed to <strong>Preoperative Visit</strong></a></li>
					  <hr>
                      <li><a href="#"><strong>All Alerts</strong></a></li>
                    </ul>
                  </li>
				  
				  <li class = "dropdown"><a href="#" class ="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-bell"></i><span class = "count">2</span></a>
                    <ul class = "dropdown-menu" role = "menu">
                      <li><a href="#">Dr. Charlie Bravo has accepted your invitation to John Smith's care team</a></li>
					  <hr>
                      <li><a>Dr. Sierra Victor has invited you to join Jane Doe's care team</a>
						<button type="button" class="btn btn-info"> <i class="glyphicon glyphicon-ok"></i></button>
						<button type="button" class="btn btn-info"> <i class="glyphicon glyphicon-remove"></i></button></li>
					  <hr>
                      <li><a href="#"><strong>All Notifications</strong></a></li>
                    </ul>
                  </li>   
				  
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-envelope"></i><span class="count">2</span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><em>Dr. Charlie Bravo</em><br><ul>Re: Surgical Consultation for John Smith</ul></a></li>
					  <hr>
                      <li><a href="#"><em>Dr. Sierra Victor</em><br><ul>Could I send Jane Doe your way for candidacy testing?</ul></a></li>
					  <hr>
                      <li><a href="#"><strong>All Messages</strong></a></li>
                    </ul>
                  </li>
				  
                </ul>

                <hr>

                          
                </div><!--/col-span-6-->

           </div><!--/row-->
        </div><!--/col-span-9-->

      </div><!--/row-->
      <!-- /upper section -->

     

	</body>
</html>
