<html style="width:100%;height:100%;">
    <head>
    </head>
    <body >
        <div ng-controller="editUserController" class="container-fluid">
            <!--Stolen form -->
            <!-- multistep form -->
            <form id="msform">
            <!-- fieldset -->
                <fieldset>
                    <h3 class="fs-title">Edit user details</h3>
                    <input type="text" class="box" name="username" placeholder="Username" ng-model="user.username"/>
                    <input type="password" name="password" placeholder="Current password" ng-model="user.currentPassword"/>
                    <input type="password" name="password" placeholder="New password" ng-model="user.Password"/>
                    <input type="password" name="confirmPassword" placeholder="Confirm New Password" ng-model="user.confirmPassword"/>

                   <!-- {{user}}-->
                    <button class="btn btn-primary" id="submit" class="submit action-button" value="Register" ng-click="editUser()" ng-disabled="disableRegister">{{button}}</button> 
                    <br><br>
                    <span name="errorMessage" ng-class="{'error':messageIsError}">{{message}}</span>
                </fieldset>

            </form>
        </div>
    </body>
