<html>
	<body>
     <!--   
        <div class="container">    
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">

                        <new-patient-form>
                        </new-patient-form>

                    </div>
                </div>
            </div>
        </div>
    -->
        
        
        
        
        <div ng-controller="newAPICtrl">
            {{theVar}}
            <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
            {{data}}
        
        </div>
    </body>
</html>

<script src="js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">