<html>
	<body>
        
        <!--
        <new-patient-form>
        </new-patient-form>
       -->
        
        <div ng-controller="practicePost">
        
            <form ng-submit="processPost()">
            
                <input type="text" name="patient_id" ng-model="patObject.patient_id" />
                
                <input type="text" name="fname" ng-model="patObject.fname" />
                
                <input type="text" name="lname" ng-model="patObject.lname" />
                
                <input style="width: 200px" type="submit" id="submit" value="Submit" />
            
            </form>
            
            {{patObject | json}}
            
        
        </div>
        
        <!-- CODE TO ACCESS JSON FROM MSU2U API AND DISPLAY INDIVIDUAL PEICES 
        <div ng-controller="newAPICtrl" class="container">
            {{theVar}}
            <button id="fetchbtn" ng-click="fetch()">fetch</button><br>

            <ul>
                <li ng-repeat="dater in data.records">
                    {{dater.fname}} {{dater.lname}}
                </li>
            </ul>

            {{data.records[1].lname | json}}
        
        </div>-->
        

    </body>
</html>

<script src="js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">