<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" style="width:100%;height:100%">
    
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/progressDots.css" rel="stylesheet" type="text/css">
        <style>
        p{
            margin-bottom: 0px;
            font-size: 85%;
        }
        hr{
            border-top: 1px solid #11ace9;
        }
        
        </style>
	</head>
    
	<body style="width:100%;height:100%">
        <div style="margin: 1% 1% 1% 1%; height:100%; width:98%; border-style: dashed dashed none dashed ; border-width: 2px;" 
             ng-controller="apiPatientsController">
            <h1 style="color:#84a4b4"> Patient Overviews</h1>
            
            <div ng-repeat="patient in patientsData.records" ng-controller="phaseProgressCtrl">
                <div ng-controller="collapseCtrl" class="container" ng-mouseleave="isDataCollapsed = true; isPatientCollapsed = true">
                    <div class="container"  >
 <!--ng-mouseleave="isDataCollapsed = true; isPatientCollapsed = true"-->
                        
                        <div  style="float: left; border: 1px #96b2b4 solid; border-radius:5px; 
                                    margin-left:3% ; width:20%; padding:8px; background-color:#cae5f0">

                            <p ><b>{{patient.First }}  {{patient.Last |uppercase }} </b></p> 
                            <p ng-if=patient.Sex=='m'>Male</p>
                            <p ng-if=patient.Sex=='f'>Female</p>
                            <p> Age </p> 
                            <p ng-if="patient.CareTeams.length==1" style="margin-bottom:10px"> <br> <br><br><br><br><br><br><br> </p>
                            <p ng-if="patient.CareTeams.length==2" style="margin-bottom:2.5px"> 
                                <br> <br> <br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> </p>
                            <button style="margin-left: 40%; margin-bottom:8px" ng-click="isPatientCollapsed = !isPatientCollapsed">
                                Patient Details </button>

                        </div>

                        <div style="float: left; border: 1px #11ace9 solid; width:70%;  border-radius:5px; background-color:#cae5f0 " class="container" ng-controller="dotProgressCtrl"> 
                            <div ng-repeat="careTeam in patient.CareTeams" style="margin-top:5px" >
                                EventID:{{careTeam.CareTeamID}} <br> 
                                Current Phase : {{careTeam.CurrentPhaseID}} <br> 
                                {{setProgress(careTeam)}}
                                <!--
                                <progressbar value="progress" type="success">
                                    <b> {{progress}}%</b>
                                </progressbar>
                                -->
                                <div class="row bs-wizard" style="border-bottom:0;" >
                                    <!--class="col-xs-1 bs-wizard-step complete/ACTIVE?DISABLE"-->
                                    <div class="col-xs-1 bs-wizard-step complete" ng-repeat="phase in phases|limitTo:careTeam.CurrentPhaseID-1">
                                      <div class="text-center bs-wizard-stepnum">Phase {{phase.PhaseID}}</div>
                                      <div class="progress" ><div class="progress-bar"></div></div>
                                      <a ng-if="phase.PhaseID < 7"
                                         href="#/questions" ng-click="goToQuestions(careTeam, phase.PhaseID)" class="bs-wizard-dot"></a>
                                      <a ng-if="phase.PhaseID < 12 && phase.PhaseID > 6"
                                         href="#/audioQuestions" ng-click="goToQuestions(careTeam, phase.PhaseID)" class="bs-wizard-dot"></a>
                                      <div class="bs-wizard-info text-center">{{phase.Name}}</div>
                                    </div>
                                    
                                    
                                    <div class="col-xs-1 bs-wizard-step active" >
                                      <div class="text-center bs-wizard-stepnum">Phase {{phases[careTeam.CurrentPhaseID-1].PhaseID}}</div>
                                      <div class="progress" ><div class="progress-bar"></div></div>
                                      <a ng-if="careTeam.CurrentPhaseID-1 < 7"
                                         href="#/questions" ng-click="goToQuestions(careTeam,careTeam.CurrentPhaseID)" class="bs-wizard-dot"></a>
                                        <a ng-if="careTeam.CurrentPhaseID-1 < 12 && careTeam.CurrentPhaseID-1 > 6"
                                         href="#/audioQuestions" ng-click="goToQuestions(careTeam,careTeam.CurrentPhaseID)" class="bs-wizard-dot"></a>
                                      <div class="bs-wizard-info text-center">{{phases[careTeam.CurrentPhaseID-1].Name}}</div>
                                    </div>
                                    

                                    
                                    <div class="col-xs-1 bs-wizard-step disabled" ng-repeat="phase in phases.slice(careTeam.CurrentPhaseID, 11)">
                                      <div class="text-center bs-wizard-stepnum">Phase {{phase.PhaseID}}</div>
                                      <div class="progress" ><div class="progress-bar"></div></div>
                                      <a href="#/questions" ng-click="goToQuestions(careTeam, phase.PhaseID)" class="bs-wizard-dot"></a>
                                      <div class="bs-wizard-info text-center">{{phase.Name}}</div>
                                    </div>


                                </div>
                                <button style="margin-left: 75%; margin-bottom:8px" 
                                        ng-click="toggleDataCollapse(); getCareTeamFacilities(careTeam)"> 
                                    See Care Team Details </button>  

                            </div>

                        </div>
                        
                    </div>
                    <!--Collapseable Content-->
                    <div class="container" style="margin:1%">
                        <div collapse="isPatientCollapsed">

                            <div class="well well-lg" style="width: 35%; margin-left:2%; float:left">
                                More Patient Data <br>
                                <b> BMI: </b> {{patient.BMI}} <br>
                                <b> Weight: </b>{{patient.Weight}} lbs <br>
                                <b> Height: </b>{{patient.Height/12 | number:0}} ft {{patient.Height%12}} in <br>
                                <b>Phone: </b> ({{patient.Phone.slice(0,3)}}){{patient.Phone.slice(3,6)}}-{{patient.Phone.slice(6)}} <br>
                                <b>Email: </b> <a href="mailto:{{patient.Email}}">{{patient.Email}} </a><br>
                                <b>Address: </b> {{patient.Address1}} <br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{patient.City}}, {{patient.State}} {{patient.Zipcode}} <br>
                                
                            </div> 

                        </div>


                        <div collapse="isDataCollapsed">
                            
                            <div class="well well-lg" style="width:53%; margin-left:2%; float:left">
                                CareTeam Facilities
                                <p ng-repeat="facility in facilityData.records">
                                    {{facility.Name}}
                                </p>
                                <br>
                                <div style="float:left">
                                    Implant type: Cochlear Nucleus CI422 with Slim Straight Electrode <br>
                                    Sound Processor Type: CP920 (without Accessory Port)
                                </div>
                            </div> 
                            
                            </div>
                        </div>
                    </div>

                
            </div>
        </div>
            

	</body>
</html>
