<div class ="row">
            
            <button ng-click="export()" class="btn btn-info ">
                Export To Spreadsheet
            </button> <br> <br>
        </div>
            
        <div id="facReport"> <!--ID used to identify exportable html-->
        
            <table class="table table-condensed table-responsive form3D" style="table-layout:fixed" >
                
                <thead>
                <tr align="center">
                    <td style="background-color:#cae5f0; width:200px"></td>
                    <td colspan="{{getCareTeamLength(patient.CareTeams)}}" style="background-color:#cae5f0; width:{{getCareTeamLength(patient.CareTeams)*105}}px" ng-repeat="patient in facilityReport.Patients">
                        <b>{{patient.First}} {{patient.Last}}</b></h3></td>
                </tr>
                <tr align="Center">
                    <td colspan="1" style="background-color:#cae5f0"><h4><b>Data Element</b></h4></td>
                    <td colspan="1" style="background-color:#cae5f0" ng-repeat="careTeam in careTeams">
                        <b>{{careTeam.Description}}</b></h3></td>
                </tr>

                </thead>
                <tbody ng-repeat="(key, value) in questions">
                    <tr ng-repeat="(questionNumb, val) in value" align="left">
                       <!-- <td> phase = {{key}} QuestionNumb = {{questionNumb}} value = {{val}} answer == {{patient.CareTeams[0].Data[key][questionNumb]}} </td>-->
    
                        <td ng-class="{bold:$first, plain:!$first}">{{val}}</td>
                        <td ng-if="$first" colspan="{{eventNum}}" style="background-color:#97afd4"></td>
                        <td ng-repeat="count in careTeams track by $index" ng-if="questionNumb != 0">
                            <span ng-if="!isArray(careTeams[$index].Data[key][questionNumb])
                                && !isObject(careTeams[$index].Data[key][questionNumb])"> {{careTeams[$index].Data[key][questionNumb]}} <span ng-if="$last" >{{clearMessage()}}  
                                </span> </span>
                            <span ng-if="isObject(careTeams[$parent.$index].Data[key][questionNumb]) && questionNumb != 085" 
                                  ng-repeat="answer in careTeams[$parent.$index].Data[key][questionNumb] track by $index" > {{answer}},</span>
                            <span ng-if="isObject(careTeams[$parent.$index].Data[key][questionNumb]) && questionNumb == 085"
                                  ng-repeat="surgery in careTeams[$parent.$index].Data[key][questionNumb] track by $index"> <span >{{$index +1}}. </span> 
                                <span ng-repeat="(surgeryInfo, value) in surgery track by $index"> <b> {{surgeryInfo}}</b>: <br>  {{value}} <br> </span> <hr>
                            </span>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>