

<div data-ng-controller="questionsController">
    <div class="col-md-6">
        <label style="font-size:2vw; color:#4B92AE">{{phaseName}}</label>
        <hr>
        <form class="form form-verticle" id="form_850359" class="appnitro">
            <div class="control-group" >

                <!-- Display All Questions -->
                <ul>
                    <div id="cp_questionDivContainer">
                    <li ng-repeat= "question in finalQuestions">
                        <div ng-hide="question.IsChild">

                            <span id="cp_questionForm">
                            <label class="description" style="font-size: 1.2vw; color:#4B92AE" >{{question.QuestionText}} </label>

                                <!-- Else Display only the single Input field -->
                                <select class="form-control medium" ng-if="question.Input.Type == 'Select'" ng-options="values for values in question.Input.Values"
                                        ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </select>
                                <div ng-if="question.Input.Type == 'Date'">
                                    <input class="form-control medium" type={{question.Input.Type}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </div>
                                <div ng-if="question.Input.Type == 'Text'">
                                    <input type={{question.Input.Type}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </div>
                                <div ng-if="question.Input.Type == 'Radio'" ng-repeat="values in question.Input.Values" >
                                    <input type={{question.Input.Type}} value={{values}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                    <label class="choice" >{{values}}</label>
                                </div>
                                <div ng-if="question.Input.Type == 'Checkbox'" ng-repeat="values in question.Input.Values" >
                                    <input type={{question.Input.Type}} checklist-value="values" 
                                           checklist-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                    <label class="choice" >{{values}}</label>
                                </div>
                                
                                <div ng-if="question.Input.Type == 'SurgeryHistory'">
                                    <div ng-repeat="subfield in question.Input.Values">
                                        <br>
                                        
                                        <!--Here is the text style!!!!-->
                                        <div>
                                            <label id="cp_textStyle" class="description" 
                                                   ng-if="subfield.Name !='Type of Surgery: Other'">{{subfield.Name}} </label>
                                            <div ng-if="subfield.Type == 'Date'">
                                                <input type="Date" name={{subfield.Name}} 
                                                       ng-model="surgery.Date" ng-blur="">
                                            </div>
                                            <div ng-if="subfield.Type == 'Text'" ng-hide="surgery['Type of Surgery?']!='Other'">
                                                <label id="cp_textStyle" class="description" name={{subfield.Name}}>{{subfield.Name}} </label>
                                                <input type="Text" name={{question.QuestionID}}
                                                       ng-model="surgery['Other']" ng-blur="postSurgery()" 
                                                       placeholder="Type in other type of surgery">
                                            </div>
                                            <div ng-if="subfield.Type == 'Radio'" ng-repeat="values in subfield.Values" >
                                                <input type="Radio" value={{values}} name={{subfield.Name}} 
                                                       ng-model="surgery[subfield.Name]" 
                                                       ng-if="surgery['Type of Surgery?']!='Other'&& surgery['Type of Surgery?']!=null"
                                                       ng-blur="postSurgery()">
                                                <input type="Radio" value={{values}} name={{question.QuestionID}} 
                                                       ng-model="surgery[subfield.Name]" 
                                                       ng-if="(surgery['Type of Surgery?']=='Other' || surgery['Type of Surgery?']==null) && surgery['Side?'] != null ||
                                                       surgery['Side?'] == null">
                                                <label class="choice" >{{values}}</label>
                                            </div>
                                            
                                        </div>

                                    </div>
                                    <button ng-click="clearSurgeryHistory()">Add another surgery</button>
                                </div>
                            </span>
                                                        
                            <p class="fa fa-question-circle" ng-mouseenter="help=true" ng-mouseleave="help=false">
                                <small ng-show="help">{{question.QuestionHelp}}</small>
                            </p>
                            
                            
                        </div>

                        <!-- Divs with logic used to display or hide children questions -->

                        <div ng-if="question.Input.Type != 'Checkbox'">
                            <div ng-if="question.Trigger == answer.Answers[question.QuestionID] && question.Trigger != null">
                                {{showChild(question.Children)}}
                            </div>

                            <div ng-if="question.Trigger != answer.Answers[question.QuestionID] || question.Trigger == null">
                                {{hideChild(question.Children)}}
                            </div>
                        </div>

                        <div ng-if="question.Input.Type == 'Checkbox'">
                            <div ng-if="checkboxTrigger(answer.Answers[question.QuestionID])">
                                {{showChild(question.Children)}}
                            </div>

                            <div ng-if="checkboxTrigger(answer.Answers[question.QuestionID]) == false">
                                {{hideChild(question.Children)}}               
                            </div>
                        </div>
                        
                        


                    </li>

                        <!--Don't know what that is doing ng-if="offSet 0" -->
                    
                    <button ng-if="offSet > 0" class="questionsButton btn btn-primary" ng-click="previousPage()" style="float:left">Back</button>
                        
                    <button ng-if="finished == false" class="btn btn-primary" ng-click="nextPage()" style="float:right">Continue</button>
                        
                    <a href="#/patientDirectory" >
                    <button ng-if="finished == true" class="questionsButton btn btn-primary" style="float:right" 
                            popover="Click to save data but remain in this phase" popover-trigger="mouseenter" popover-placement="right">
                        
                        Save
                        </button> &nbsp;
                        </a>
                        
                    <button ng-click="getDataSummary()" ng-if="finished == true" class="btn btn-default"
                            popover="Click to review data entry for this phase before concluding this visit" popover-placement="bottom" popover-trigger="mouseenter" style="float:right">
                        Finished
                    </button>
                    <br>
                    </div>
                </ul>
                <!-- End Display Of All Questions -->

            </div>
        </form>

    </div>

    <div id="cp_questionsReportForm">
        <h3>Patient Summary for {{patientName}}</h3><br>
        
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Choose Care Phase <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="" ng-click="patientSummary(1)">Demographics</a></li>
            <li><a href="" ng-click="patientSummary(2)">Candidacy Testing</a></li>
            <li><a href="" ng-click="patientSummary(3)">Initial Surgical Consultation</a></li>
            <li><a href="" ng-click="patientSummary(4)">Preoperative Visit</a></li>
            <li><a href="" ng-click="patientSummary(5)">One Week Postoperative</a></li>
            <li><a href="" ng-click="patientSummary(6)">Activation</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="patientSummary(7)">1 Month</a></li>
            <li><a href="" ng-click="patientSummary(8)">3 Month</a></li>
            <li><a href="" ng-click="patientSummary(9)">6 Month</a></li>
            <li><a href="" ng-click="patientSummary(10)">12 Month</a></li>
            <li><a href="" ng-click="patientSummary(11)">24 Month</a></li>
          </ul>
        </div>
        
        <button type="button" class="btn btn-primary" ng-click="patientSummary(0)">Close Form</button>
        
        <br>
        
        <div ng-if="clickedPhase == 1 || clickedPhase == 3 || clickedPhase == 4 || clickedPhase == 5 || clickedPhase == 6">
            <br>
            <completed-questions></completed-questions>
        </div>
        <div ng-if="clickedPhase == 2 || clickedPhase == 7 || clickedPhase == 8 || clickedPhase == 9 || clickedPhase == 10 || clickedPhase == 11"
             ng-repeat="condition in patientSummaryAnswers">
            <br>
           <completed-audiology></completed-audiology>
        </div>
    </div>
    
    <script type="text/ng-template" id="dataSummary.html">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Review Data entered</h4>
        </div>
        <div class="modal-body">
            <completed-questions></completed-questions>
        </div>
        <div class="modal-footer" ng-controller="questionsController">
            <button ng-click="ok()" class="btn btn-default"
                     style="float:left">
                Back
            </button>
            <button ng-click="completePhase(); ok()" class="btn btn-default"
                    popover="Click to complete data entry for this phase and conclude this visit" popover-trigger="mouseenter" popover-placement="bottom" style="float:right">
                Confirm
            </button>
        </div>
    </script>
    
</div>
    