

<div data-ng-controller="questionsController">
    <div class="col-md-6">
        <label style="font-size:2vw; color:#4B92AE">{{phaseName}}</label>
        <hr>
        <form class="form form-verticle" id="form_850359" class="appnitro">
            <div class="control-group" >
                CareTeamID: {{answer.CareTeamID}}

                <!-- Display All Questions -->
                <ul>
                    <div id="cp_questionDivContainer">
                    <li ng-repeat= "question in finalQuestions">
                        <div ng-hide="question.IsChild">

                            <span id="cp_questionForm">
                            <label class="description" style="font-size: 1.2vw; color:#4B92AE" >{{question.QuestionText}} </label>

                                <!-- Else Display only the single Input field -->
                                <select class="form-control medium" ng-if="question.Input.Type == 'Select'" ng-options="values for values in question.Input.Values"
                                        ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </select>
                                <div ng-if="question.Input.Type == 'Date'">
                                    <input class="form-control medium" type={{question.Input.Type}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </div>
                                <div ng-if="question.Input.Type == 'Text'">
                                    <input type={{question.Input.Type}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                </div>
                                <div ng-if="question.Input.Type == 'Radio'" ng-repeat="values in question.Input.Values" >
                                    <input type={{question.Input.Type}} value={{values}} name={{question.QuestionID}} 
                                           ng-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                    <label class="choice" >{{values}}</label>
                                </div>
                                <div ng-if="question.Input.Type == 'Checkbox'" ng-repeat="values in question.Input.Values" >
                                    <input type={{question.Input.Type}} checklist-value="values" 
                                           checklist-model="answer.Answers[question.QuestionID]" ng-blur="postAnswers()">
                                    <label class="choice" >{{values}}</label>
                                </div>
                                
                                <div ng-if="question.Input.Type == 'SurgeryHistory'">
                                    {{surgery}}
                                    <div ng-repeat="subfield in question.Input.Values">
                                        <br>
                                        
                                        <!--Here is the text style!!!!-->
                                        <div>
                                            <label id="cp_textStyle" class="description" 
                                                   ng-if="subfield.Name !='Type of Surgery: Other'">{{subfield.Name}} </label>
                                            <div ng-if="subfield.Type == 'Date'">
                                                <input type="Date" name={{question.QuestionID}} 
                                                       ng-model="surgery.Date" ng-blur="">
                                            </div>
                                            <div ng-if="subfield.Type == 'Text'" ng-hide="surgery['Type of Surgery?']!='Other'">
                                                <label id="cp_textStyle" class="description" >{{subfield.Name}} </label>
                                                <input type="Text" name={{question.QuestionID}}
                                                       ng-model="surgery['Other']" ng-blur="postSurgery()" 
                                                       placeholder="Type in other type of surgery">
                                            </div>
                                            <div ng-if="subfield.Type == 'Radio'" ng-repeat="values in subfield.Values" >
                                                <input type="Radio" value={{values}} name={{question.QuestionID}} 
                                                       ng-model="surgery[subfield.Name]" 
                                                       ng-if="surgery['Type of Surgery?']!='Other'&& surgery['Type of Surgery?']!=null"
                                                       ng-blur="postSurgery()">
                                                <input type="Radio" value={{values}} name={{question.QuestionID}} 
                                                       ng-model="surgery[subfield.Name]" 
                                                       ng-if="surgery['Type of Surgery?']=='Other' || surgery['Type of Surgery?']==null">
                                                <label class="choice" >{{values}}</label>
                                            </div>
                                            
                                        </div>

                                    </div>
                                    <button ng-click="clearSurgeryHistory()">Clear fields to add another surgical history</button>
                                </div>
                            </span>
                            <p class="guidelines">
                                <small>{{question.QuestionHelp}}</small>
                            </p>
                        </div>

                        <!-- Divs with logic used to display or hide children questions -->

                        <div ng-if="question.Input.Type != 'Checkbox'">
                            <div ng-if="question.Trigger == answer.Answers[question.QuestionID] && question.Trigger != null">
                                {{showChild(question.Children)}}
                            </div>

                            <div ng-if="question.Trigger != answer.Answers[question.QuestionID] || question.Trigger == null">
                                {{hideChild(question.Children)}}
                            </div>
                        </div>

                        <div ng-if="question.Input.Type == 'Checkbox'">
                            <div ng-if="checkboxTrigger(answer.Answers[question.QuestionID])">
                                {{showChild(question.Children)}}
                            </div>

                            <div ng-if="checkboxTrigger(answer.Answers[question.QuestionID]) == false">
                                {{hideChild(question.Children)}}               
                            </div>
                        </div>


                    </li>

                        <!--Don't know what that is doing ng-if="offSet 0" -->
                    
                    <button ng-if="offSet > 0" class="questionsButton btn btn-primary" ng-click="previousPage()" style="float:left">Back</button>
                        
                    <button ng-if="finished == false" class="btn btn-primary" ng-click="nextPage()" style="float:right">Continue</button>
                        
                    <a href="#/patientDirectory" >
                    <button ng-if="finished == true" class="questionsButton btn btn-primary" style="float:right" 
                            popover="Click to save data but remain in this phase" popover-trigger="mouseenter" popover-placement="right">
                        
                        Save
                        </button> &nbsp;
                        </a>
                        
                    <a href="#/patientDirectory" >
                    <button ng-if="finished == true" ng-click="completePhase()" class="btn btn-default"
                            popover="Click to complete data entry for this phase and conclude this visit" popover-trigger="mouseenter" style="float:right">
                        Save & Complete
                    </button></a><br>
                    </div>
                </ul>
                <!-- End Display Of All Questions -->

            </div>
        </form>

    </div>

    <div id="cp_questionsReportForm">
        <h3>Patient Summary for {{patientName}}</h3><br>
        
        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Choose Care Phase <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="" ng-click="patientSummary(1)">Demographics</a></li>
            <li><a href="" ng-click="patientSummary(2)">Candidacy Testing</a></li>
            <li><a href="" ng-click="patientSummary(3)">Initial Surgical Consultation</a></li>
            <li><a href="" ng-click="patientSummary(4)">Preoperative Visit</a></li>
            <li><a href="" ng-click="patientSummary(5)">One Week Postoperative</a></li>
            <li><a href="" ng-click="patientSummary(6)">Activation</a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="patientSummary(7)">1 Month</a></li>
            <li><a href="" ng-click="patientSummary(8)">3 Month</a></li>
            <li><a href="" ng-click="patientSummary(9)">6 Month</a></li>
            <li><a href="" ng-click="patientSummary(10)">12 Month</a></li>
            <li><a href="" ng-click="patientSummary(11)">24 Month</a></li>
          </ul>
        </div>
        
        <br>
        <div ng-if="clickedPhase == 1 || clickedPhase == 3 || clickedPhase == 4 || clickedPhase == 5 || clickedPhase == 6">
            <table class="table table-condensed table table-bordered">
              <caption></caption>
              <thead>
                <tr>
                  <th>Question</th>
                  <th>Answer</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(question, answer) in patientSummaryAnswers">
                  <td>{{question}}</td>
                  <td>{{answer}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        
        <div ng-if="clickedPhase == 2 || clickedPhase == 7 || clickedPhase == 8 || clickedPhase == 9 || clickedPhase == 10 || clickedPhase == 11"
             ng-repeat="condition in patientSummaryAnswers">
            <table class="table table-condensed table table-bordered">
              <caption></caption>
              <thead >
                <tr align= "center" >
                  <td colspan="2" style="background-color:#cae5f0"><br><h4><b>Testing Conditions</b></h4></td>
                </tr>    
                <tr>
                  <td><b> Left Ear Condition : </b> </td>
                  <td>{{condition.LeftAidCondition}}</td>    
                </tr>
                <tr>
                  <td><b> Right Ear Condition : </b> </td>
                  <td>{{condition.RightAidCondition}}</td>
                </tr>
                <tr align= "center">
                  <td colspan="2" style="background-color:#cae5f0"><br><h4><b>Results</b></h4></td>
                </tr> 
              </thead>
              <tbody>
                <tr align="center">       
                  <td COLSPAN="2" ><h5><b>AzBio Test</b></h5> </td>
                </tr>  
                <tr ng-repeat="(field,value) in condition.Results['AzBio Test'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>
                <tr align="center">   
                  <td COLSPAN="2" ><h5><b>BKB-SIN Test</b></h5> </td> 
                </tr>  
                <tr ng-repeat="(field,value) in condition.Results['BKB-SIN Test'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>
                <tr align="center">   
                  <td COLSPAN="2" ><h5><b>CNC Test</b></h5> </td> 
                </tr>  
                <tr ng-repeat="(field,value) in condition.Results['CNC Test'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>
                <tr align="center">  
                  <td COLSPAN="2" ><h5><b>Pure Tone Average</b></h5></td> 
                </tr>     
                <tr ng-repeat="(field,value) in condition.Results['Pure Tone Average'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>
                <tr align="center">   
                  <td COLSPAN="2" ><h5><b>Speech Discrimination Score</b></h5> </td>
                </tr>    
                <tr ng-repeat="(field,value) in condition.Results['Speech Discrimination Score'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>  
                <tr align="center">   
                  <td COLSPAN="2" ><h5><b>Speech Reception Threshold</b></h5> </td>
                </tr>      
                <tr ng-repeat="(field,value) in condition.Results['Speech Reception Threshold'][0]">
                  <td><b> {{field}} </b></td>
                  <td>{{value}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    
</div>
    