<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Registration</title>
	</head>
    
    <style>
		.txt {
		width: 300px;
		}
	</style>
	
	<body>
<!-- Header -->

<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
	
    <div class="col-md-9">
      	
      <!-- column 2 -->	
      
	   <div class="row">
            <!-- center left-->	
         	<div class="col-md-12">
              <div class="panel panel-default">
				<div class="panel-heading">
				  <div class="panel-title">
					<i class="glyphicon glyphicon-wrench pull-right"></i>
					<h4>Register</h4>
				  </div>
				</div>
				<div class="panel-body" ng-controller="TabController as tab">
				  <div class="tabbable"> <!-- Only required for left/right tabs -->
					  
					  </br>
					  
					  <!--<div class="tab-content">-->
					  
						<div class="tab-pane">
						  <form class="form form-vertical">
							<div class="control-group" >
							  <label>Name</label>
							  <div class="controls" >
								<input class="txt" type="text" class="form-control" placeholder="Enter Name">
							  </div>
							</div>
							</br>
							<div class="control-group" >
							  <label>Date of Birth</label>
							  <div class="controls" >
								<input class="txt" type="text" class="form-control" placeholder="mm/dd/yyyy">
							  </div>
							</div>
							</br>							
							<div class="control-group" >
							  <label>Sex</label>
							  <div class="controls" >
								<form action="">
									<input type="radio" name="sex" value="male">Male<br>
									<input type="radio" name="sex" value="female">Female
								</form>
								</div>
							</div>
							<hr>
							<h4>Edit Contact Info</h4>
							<div class="control-group">
							  <label>Phone Number</label>
							  <div class="controls">
								<input class="txt"type="text" class="form-control" placeholder="Enter Phone Number">
							  </div>
							</div>
							<div class="control-group">
							  <label>Address</label>
							  <div class="controls">
								<input type="text" class="form-control" placeholder="Enter Address">
							  </div>
							</div> 
												
						
							<div class="control-group">
							  <label></label>
							  <div class="controls">
								<button type="submit" class="btn btn-primary">
								  Post
								</button>
							  </div>
							</div>   
							
							<hr>
							<h4>(Developer) Temporary Registration</h4>
							
							<div class="control-group">
							  <label>Username</label>
							  <div class="controls">
								<input type="text" class="form-control" name="username" placeholder="Enter Username">
							  </div>
							</div>
							
							<div class="control-group">
							  <label>Password</label>
							  <div class="controls">
								<input type="password" class="form-control" name="password" placeholder="Enter Password">
							  </div>
							</div>
							
							<div class="control-group">
							  <label></label>
							  <div class="controls">
								<button type="submit" name="login" class="btn btn-primary">
								  Register
								</button>
							  </div>
							</div>
							
						  </form>
						</div>
					  <!--</div>-->
				</div>
				
				<!-- password title form box?  
				<div class="control-group">
					  <label>Title</label>
					  <div class="controls">
						<input type="password" class="form-control" placeholder="Password">
						
					  </div>
					</div>-->
				  <!-- DropDown thing
					<div class="control-group">
					<label>Select Phase of Care</label>				  
				  <div class="controls">
								<select class="form-control">
								<option>Demographics</option>
								<option>Candidacy Testing</option>
								<option>Initial Surgical Consultation</option>
								<option>Preoperative Visit</option>
								<option>1 Week Postoperative Check</option>
								<option>Activation (3 weeks)</option>
								<option>1 month Audiometric Testing</option>  
								<option>3 month Audiometric Testing</</option>
								<option>6 month Audiometric Testing</</option>
								<option>12 month Audiometric Testing</</option>
								<option>24 month Audiometric Testing</</option>
								</select>
							  </div>
							  </div>  
				   -->
				</div><!--/panel content-->
			  </div><!--/panel-->
			  
			  
			
             <!--<div class="panel panel-default">
                  <div class="panel-heading"><h4>Processing Status</h4></div>
                  <div class="panel-body">
                    
                    <small>Complete</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                        <span class="sr-only">72% Complete</span>
                      </div>
                    </div>
                    <small>In Progress</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                    <small>At Risk</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>

                  </div><!--/panel-body-->
             <!-- </div>--><!--/panel-->                    
              
          	</div><!--/col-->
         
            <!--center-right-->
        	<div class="col-md-5">
              <!--
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-plus"></i><br>
                    Service
                  </a>
                  <a href="#" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-cloud"></i><br>
                    Cloud
                  </a>
                  <a href="#" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-cog"></i><br>
                    Tools
                  </a>
                  <a href="#" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-question-sign"></i><br>
                    Help
                  </a>
                </div>
				-->
              
			</div><!--/col-span-6-->
     
       </div><!--/row-->
  	</div><!--/col-span-9-->
    
  </div><!--/row-->
  <!-- /upper section -->
  
  
  
</div><!--/container-->
<!-- /Main -->


<footer class="text-center">This Bootstrap 3 dashboard layout is compliments of <a href="http://www.bootply.com/85850"><strong>Bootply.com</strong></a></footer>


<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->



  
	<!-- script references -->

	</body>
</html>