<div data-ng-controller="audioQuestionsController" class="form3D container" style="width:60%; background-color: #CAE5F0;">
    <label style="font-size:2vw; color:#4B92AE" class="col-md-offset-4">{{phaseName}}</label> 
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2 col-xs-6">
                
                <div class="select-audio-tests" style="margin-bottom:5px">
                    <label >
                    1. Set up Ear Conditions
                    </label>
                </div>
                
                <!-- DISPLAY Left Ear Condition -->
                <div class="select-ear-condition">
                    <label class="description">Left Ear </label>
                    <br>
                    <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                    <select ng-model="conditions.Left" class="large">
                        <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                    </select>
                </div>
                
                <!-- DISPLAY Right Ear Condition -->
                <div class="select-ear-condition">
                    <label class="description">Right Ear </label>
                    <br>
                    <label style="font-size: 1.0vw; color:#4B92AE">Please Select Condition</label>
                    <select ng-model="conditions.Right" ng-blur="updateResults();" class="large">
                        <option ng-repeat="condition in audioQuestions.Conditions">{{condition.AidLabel}}</option>
                    </select>
                    <br> 
                </div>
                
                <div class="select-audio-tests" style="margin-bottom:5px">
                    <label >
                    2. Select Tests performed under these conditions
                    </label>
                </div>
                
                <!-- DISPLAY TESTS -->
                <div class="select-audio-tests" class="container">
                    <div>
                        <label style="font-size: 1.0vw; color:#4B92AE">Please Select Tests Performed</label>
                        <br>
                        <div ng-repeat="categories in audioQuestions.Categories">
                            <input  type="Checkbox" checklist-value="categories.AudioCategory"
                                checklist-model="answer.tests">
                            <label class="choice">{{categories.AudioCategory}}</label> 
                        </div>
                    </div>
                    <br>
                    <div ng-repeat="test in answer.tests" class="row">
                        <div ng-repeat="categories in audioQuestions.Categories" class="col-md-12">
                            <div ng-if="categories.AudioCategory == test" class="col-md-12 container">
                                <p style="font-size:2vw; color:#4B92AE; text-align:left; font-weight:bold;">{{categories.AudioCategory}} </p> <br>
                                <div ng-repeat="tests in categories.Tests" class="row" >
                                    <form class="form">
                                        <div class="datagrid">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th ng-repeat="type in tests.AudioTestInput" style="border: 1px solid black; padding-left:15px; padding-right:15px;">{{type.Name}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-class-even="'alt'" ng-repeat="tests in summaryAnswers.DetailedAnswers[answer.ConditionsID]['Results'][tests.AudioTestName]">
                                                        <td ng-repeat="key in notSorted(tests)" ng-init="value = tests[key]" style="border: 1px solid black; padding-left:15px; padding-right:15px;">{{value}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><br>
                                        <div class="row">
                                        <div ng-repeat="type in tests.AudioTestInput" style="margin-left:5%;float:left;">
                                            <label style="font-size:.9vw;">{{type.Name}}</label> <br>
                                            <!-- Question Inputs Displayed -->
                                            <!-- submit results if this field is last in test-->
                                            <div class="form-group"  ng-if="type.InputType == 'Number' && $last">
                                                <input type="number" min={{type.MinValue}} max={{type.MaxValue}}
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                    ng-blur="submitQuestions(categories.AudioCategory)" id="{{type.Label}}">
                                                <label class="control-label" for="{{type.Label}}"> {{type.Unit}}</label>
                                            </div>
                                            <!--NUMBER TYPE TESTS-->
                                            <!-- if field ISNT last in test, dont call submitQuestions() and handle cnc words inefficiently-just for now-->
                                            <div class="form-group" ng-if="type.InputType == 'Number' && !$last">
                                                <input type="number" name="type.Label" min={{type.MinValue}} max={{type.MaxValue}}
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                    id="{{type.Label}}" ng-if="type.Name != 'Words with 3 Phonemes Correct' && type.Name != 'Phonemes Correct'">
                                                <label ng-if="type.Name != 'Words with 3 Phonemes Correct' && type.Name != 'Phonemes Correct'"
                                                    class="control-label" for="{{type.Label}}"> {{type.Unit}}</label>
                                                <!-- words with 3 phonemes -->
                                                <input type="number" name="type.Label" min={{type.MinValue}} max={{type.MaxValue}}
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                    id="{{type.Label}}" ng-if="type.Name == 'Words with 3 Phonemes Correct'" 
                                                    ng-change="updateWordsWith3()">
                                                <label ng-if="type.Name == 'Words with 3 Phonemes Correct'"
                                                    class="control-label" for="{{type.Label}}"> 
                                                ({{answer.Results["CNC"]["CNC Test"]["Words with 3 Phonemes Correct"]}}/50 {{wordswith3}}% )
                                                </label>
                                                <!-- end words with 3 phonemes-->
                                                <!--phonemes correct-->
                                                <input type="number" name="type.Label" min={{type.MinValue}} max={{type.MaxValue}}
                                                    ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]"
                                                    id="{{type.Label}}" ng-if="type.Name == 'Phonemes Correct'" ng-change="updatePhonemes()">
                                                <label ng-if="type.Name == 'Phonemes Correct'"
                                                    class="control-label" for="{{type.Label}}"> 
                                                ({{answer.Results["CNC"]["CNC Test"]["Phonemes Correct"]}}/150 {{phonemes}}% )
                                                </label>
                                                <!--end phonemes correct-->
                                            </div>
                                            <!--SELECT TYPE TESTS-->
                                            <!-- submit results if this field is last in test-->
                                            <div class="form-group" ng-if="type.InputType == 'Select' && $last" 
                                                style="margin-bottom:20px;">
                                                <select  ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]" 
                                                    ng-blur="submitQuestions(categories.AudioCategory)" id="{{type.Label}}">
                                                    <option> </option>
                                                    <option ng-repeat="values in type.Values">{{values}}</option>
                                                </select>
                                                <label class="control-label" for="{{type.Label}}"> {{type.Unit}}</label> 
                                            </div>
                                            <!-- if field ISNT last in test, dont call submitQuestions()-->
                                            <div class="form-group" ng-if="type.InputType == 'Select' && !$last"
                                                style="margin-bottom:20px;">
                                                <select ng-model="answer.Results[categories.AudioCategory][tests.AudioTestName][type.Name]" id="{{type.Label}}">
                                                    <option> </option>
                                                    <option ng-repeat="values in type.Values">{{values}}</option>
                                                </select>
                                                <label class="control-label" for="{{type.Label}}"> {{type.Unit}}</label> 
                                            </div>
                                        </div>
                                        </div>
                                        
                                        
                                        
                          
                                    </form>
                                </div>
                                
                                <button type="button" class="btn btn-default btn-sm" ng-click="clearCurrentTest(test)">
                                <span class="glyphicon glyphicon-plus-sign"></span> Save Score
                                </button>
                                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                            </div>
                        </div>
                    </div>
                    
 
                    <!--
                    <a href="#/audioQuestions"><button class="btn btn-default" > Submit Data</button> </a>
-->
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-bottom:20px;" >
                    <a href = "#/audioQuestions"> <button type="button" class="select-audio-tests btn btn-lg btn-block" style=" border:solid">  <h3> Save data and perform more tests </h3> </button> </a>
                </div>
                
            </div>

        </div>
    </div>
    <!--container fluid-->
</div>