<html ng-app="regApp" style="width:100%;height:100%;">
    <head>
        <title>AII Facility Registration</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/facReg.css" rel="stylesheet">
        <link href="css/wordBAAStyle.css" rel="stylesheet">
        <script>
        function HandleBrowseClick()
        {
            var fileinput = document.getElementById("browse");
            fileinput.click();
        }

        function Handlechange()
        {
            var fileinput = document.getElementById("browse");
            var textinput = document.getElementById("filename");
            textinput.value = fileinput.value;
        }
        </script>
        <style>
        body {
            background: linear-gradient(rgba(10, 102, 120, 0.2), rgba(10, 100, 182, 0.2))
        }
        #baa{
            height: 400px; overflow-y: scroll;
        }
        </style>
    </head>
    <body >
        <div ng-controller="regCtrl" class="container-fluid">
            <!-- Header/Nav Bar -->
            <div style="background-color: white; box-shadow: 0 2px 10px -1px gray; width:100%; height:8%">
                <nav class = "navbar navbar-default navbar-fixed-top" role = "navigation">
                    <div class = "container-fluid">
                        <div class = "navbar-header">
                            <a class="navbar-brand cp_navbar-brand" href="./">Auditory Implant Initiative</a>
                        </div>
                        <div class = "nav-items collapse navbar-collapse pull-right" id = "nav-responsive-collapse">
                            <a href = "./" class="navbar-btn pull-right"><button type="button" class="btn btn-default">Sign in</button></a>
                        </div>
                    </div>
                </nav>
            </div>
            <br>
            <!--Stolen form -->
            <!-- multistep form -->
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Facility Registration</li>
                    <li>Facility Administrator Registration</li>
                    <li>Business Associate Agreement</li>
                </ul>
                <!-- fieldsets -->
                <!----Facility Registration -->
                <fieldset>
                    <h3 class="fs-title">Step 1</h3>
                    <h3 class="fs-subtitle">Register your facility</h3>
                    <input type="text" class="box" class="box" name="facName" placeholder="Facility Name" ng-model="facilityData.Name" />
                    <input type="text" class="box" name="address" placeholder="Address" ng-model="facilityData.Address1" />
                    <div class="row">
                        <div class="col-md-6"><input type="text" class="box" name="city" placeholder="City" ng-model="facilityData.City"/></div>
                        <div class="col-md-4">
                            <select id="states" name="State" ng-options="states.name as states.name for states in usStates" 
                                    ng-model="facilityData.State"> 
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="box" name="zipcode" placeholder="Zipcode" ng-model="facilityData.Zipcode" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="box" style="height:56px" name="phone" placeholder="Phone (1234567890)" 
                                   ng-model="facilityData.Phone"/> 
                        </div>
                        <!-- Upload facility image-->
                        <div class="col-md-6 container" > 
                            <div class="box" style="text-align:left">
                                <input type="file" id="browse" name="fileupload" fileread="facilityData.image" 
                                       accept="image/gif, image/jpeg, image/png"  
                                    style="display: none" onChange="Handlechange();"/>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="button" class="btn btn-default btn-xs" value="Upload facility logo" id="fakeBrowse"
                                               title="Please upload your facility image" onclick="HandleBrowseClick();"/>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" id="filename" readonly="true" value="No file chosen"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------------------------------- Facility Questions ------------------------>
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="box" style="text-align:left">
                                <label for="population"> Please list the approximate population of the city in which you practice</label>
                                <select id="population" name="population" 
                                    ng-options="population for population in populations"
                                    ng-model="facilityData.Population"> </select>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="box" style="text-align:left">
                                <label for="type"> Would you describe your facility as (select all that apply)</label>
                                <div ng-repeat="description in facilityDescription">
                                    <input type="checkbox" checklist-value="description.name" checklist-model="facilityData.Type">
                                    {{description.name}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="box" style="text-align:left">
                                <label for="services"> Services provided at your facility (select all that apply)</label>
                                <div ng-repeat="service in facilityServices">
                                    <input type="checkbox" checklist-value="service.name" checklist-model="facilityData.Services.Predefined">
                                    {{service.name}}<br>
                                </div>
                                Other Service(s): <br>(Please separate different services with a comma)
                                <input type="text" class="box" ng-model="facilityData.Services.Other">
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div class="box" style="text-align:left">
                                <label for="training"> 
                                    If surgery is picked as a service - Please list the level of Cochlear training completed by the surgeons
                                </label>
                                <div ng-repeat="training in facilityCochlearTraining">
                                    <input type="checkbox" checklist-value="training.name" 
                                        checklist-model="facilityData.Training"> {{training.name}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---------------------------------- End Facility Questions ------------------------>
                    <input type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
                <!----Facility Adminstrator Registration -->
                <fieldset>
                    <h3 class="fs-title">Step 2</h3>
                    <h3 class="fs-subtitle">Register your facility administrator</h3>
                    <h3 class="fs-subtitle">This is the user who will oversee all administrative duties </h3>
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" class="box" name="first" placeholder="First Name" ng-model="administratorData.first_name"/> 
                        </div>
                        <div class="col-md-5" >
                            <input type="text" class="box" name="last" placeholder="Last Name" ng-model="administratorData.last_name"/> </div>
                        <div class="col-md-2" >
                            <select id="titles" name="title" ng-options="title.TitleID as title.Abbreviation for title in userTitles"
                                    ng-model="administratorData.TitleID"> 
                            </select>
                        </div>
                    </div>
                    <input type="text" class="box" name="username" placeholder="Username" ng-model="administratorData.username"/>
                    <input type="password" name="password" placeholder="Password" ng-model="administratorData.password"/>
                    <input type="text" class="box" name="email" placeholder="Email" ng-model="administratorData.email"/>
                    <input type="text" class="box" name="phone" placeholder="Phone Number" ng-model="administratorData.phone"/>
                    
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <input type="button" name="next" class="next action-button" value="Next" /> 
                </fieldset>
                <fieldset>
                    <h3 class="fs-title">Step 3</h3>
                    <h3 class="fs-subtitle">Accept the terms of the business associate agreement</h3>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div id='baa' class="box" style="text-align:left">
                            
                                <p class=MsoTitle>Business Associate/Data Use Agreement</p>
                                    <p class=MsoBodyTextFirstIndent>This Business Associate/Data Use Agreement ("<u>BAA</u>")
                                    is dated {{date}} and is between the undersigned Covered Entity
                                    ("<u>CE</u>"), and the Auditory Implant Initiative ("<u>BA</u>").  Capitalized
                                    terms used but not otherwise defined herein have the meanings ascribed to them
                                    in that certain Services Agreement entered into by CE and BA at or about the
                                    same time as this BAA and which facilitates access by the CE to BA's
                                    specialized software and services (the "<u>Underlying Agreement</u>").</p>

                                    <p class=MsoBodyText align=center style='text-align:center'><b>Background</b></p>

                                    <p class=MsoListNumber>A.<span style="margin-left: 25px;"></span>
                                    The parties wish to comply with the Health Insurance Portability and
                                    Accountability Act of 1996, as amended from time to time and including changes
                                    made under the Health Information Technology for Economic and Clinical Health
                                    Act (the "<u>HITECH Act</u>"), and all pertinent regulations issued by the U.S.
                                    Department of Health and Human Services, as amended from time to time
                                    (collectively "<u>HIPAA</u>"), and other applicable federal and state
                                    confidentiality, privacy, and security laws.</p>

                                    <p class=MsoListNumber>B.<span style="margin-left: 25px;"></span>
                                    CE is a "covered entity" as defined or construed under HIPAA.</p>

                                    <p class=MsoListNumber>C.<span style="margin-left: 25px;"></span>
                                    BA provides specialized software (native and web-based) and associated
                                    services to health care providers (such as CE) dedicated to improving cochlear
                                    implant by research, collaboration, and outreach.</p>

                                    <p class=MsoListNumber>D.<span style="margin-left: 25px;"></span>
                                    CE is entering into a business relationship with BA that is more
                                    specifically memorialized in the Underlying Agreement pursuant to which BA may
                                    have access to "protected health information" and may be considered a "business
                                    associate" and "limited data set recipient" of CE as those terms are defined or
                                    construed under HIPAA.</p>

                                    <p class=MsoBodyText align=center style='text-align:center'><b>Terms and
                                    Conditions</b></p>

                                    <p class=Number1>1.<span style="margin-left: 25px;"></span>
                                    <u>Definitions</u>. For purposes of this BAA, the following terms have
                                    the following meanings:</p>

                                    <p class=Number2>(a)<span style="margin-left: 25px;"></span>
                                    <u>Breach</u>. "<u>Breach</u>" has the same meaning as the term
                                    "breach" in 45 C.F.R. §164.402.</p>

                                    <p class=Number2>(b)<span style="margin-left: 25px;"></span>
                                    <u>Designated Record Set</u>. "<u>Designated Record Set</u>" means the
                                    same as the term "designated record set" defined in 45 C.F.R. § 164.501.</p>

                                    <p class=Number2>(c)<span style="margin-left: 25px;"></span>
                                    <u>Protected Health Information</u>. "<u>Protected Health Information</u>"
                                    (or "<u>PHI</u>") means the same as the term "protected health information" as
                                    defined in 45 C.F.R. §160.103, as the same may be amended from time to
                                    time.</p>

                                    <p class=Number2>(d)<span style="margin-left: 25px;"></span>
                                    <u>Privacy Rule</u>. "<u>Privacy Rule</u>" means the Standards for
                                    Privacy of Individually Identifiable Health Information at 45 C.F.R. Part 160
                                    and Part 164 Subparts A and E, as may be amended from time to time.</p>

                                    <p class=Number2>(e)<span style="margin-left: 25px;"></span>
                                    <u>Required By Law</u>. "<u>Required by Law</u>" means the same as the
                                    term "required by law" defined in 45 C.F.R. § 164.103.</p>

                                    <p class=Number2>(f)<span style="margin-left: 25px;"></span>
                                    <u>Secretary</u>. "<u>Secretary</u>" means the Secretary of the U.S.
                                    Department of Health and Human Services or his or her designee.</p>

                                    <p class=Number2>(g)<span style="margin-left: 25px;"></span>
                                    <u>Security Incident</u>. "<u>Security Incident</u>" means the
                                    attempted or successful unauthorized access, use, disclosure, modification, or
                                    destruction of PHI maintained or interference with system operations in an
                                    information system maintained by BA that contains PHI received from CE.</p>

                                    <p class=Number2>(h)<span style="margin-left: 25px;"></span>
                                    <u>Unsecured Protected Health Information</u>. "<u>Unsecured Protected
                                    Health Information</u>" (or "<u>Unsecured PHI</u>") means PHI that is not
                                    rendered unusable, unreadable, or indecipherable to unauthorized persons
                                    through the use of a technology or methodology specified by the Secretary in
                                    guidance issued pursuant to (or as otherwise defined in) § 13402(h)(2) of the
                                    HITECH Act.</p>

                                    <p class=Number1>2.<span style="margin-left: 25px;"></span>
                                    <u>Representations, Warranties, and Covenants of BA</u>. BA represents,
                                    warrants, and covenants that, to the extent that BA creates, maintains, or
                                    receives any PHI or Unsecured PHI on behalf of or from CE, BA will:</p>

                                    <p class=Number2>(a)<span style="margin-left: 25px;"></span>
                                    not use or further disclose the PHI or Unsecured PHI other than as
                                    permitted or required by the Underlying Agreement (or this BAA) or as Required
                                    by Law;</p>

                                    <p class=Number2>(b)<span style="margin-left: 25px;"></span>
                                    use appropriate safeguards and comply, where applicable, with Subpart C
                                    of 45 C.F.R. Part 164 with respect to electronic PHI, to prevent use or
                                    disclosure of PHI or Unsecured PHI other than as provided for in this BAA;</p>

                                    <p class=Number2>(c)<span style="margin-left: 25px;"></span>
                                    report to CE any Security Incident or any use or unauthorized disclosure
                                    of PHI not provided for by this BAA of which BA becomes aware;</p>

                                    <p class=Number2>(d)<span style="margin-left: 25px;"></span>
                                    following discovery and without unreasonable delay, but in no event
                                    later than 60 days following discovery, report any Breach of Unsecured PHI to
                                    CE;</p>

                                    <p class=Number2>(e)<span style="margin-left: 25px;"></span>
                                    ensure that any subcontractors that create, receive, maintain, or
                                    transmit PHI agree to the same restrictions and conditions that apply through
                                    this BAA to BA with respect to such PHI;</p>

                                    <p class=Number2>(f)<span style="margin-left: 25px;"></span>
                                    to the extent applicable, provide access or make the PHI available to CE
                                    in a Designated Record Set at reasonable times at the request of or as directed
                                    by CE to an individual in order to meet the requirements of and in accordance
                                    with 45 C.F.R. § 164.524 of the Privacy Rule;</p>

                                    <p class=Number2>(g)<span style="margin-left: 25px;"></span>
                                    make available PHI for amendment to CE or as directed by CE and
                                    incorporate any amendments to PHI in accordance with 45 C.F.R. § 164.526 of the
                                    Privacy Rule;</p>

                                    <p class=Number2>(h)<span style="margin-left: 25px;"></span>
                                    make BA's internal practices, books, and records relating to the use and
                                    disclosure of PHI available to the Secretary for purposes of determining CE's
                                    compliance with the Privacy Rule;</p>

                                    <p class=Number2>(i)<span style="margin-left: 25px;"></span>
                                    document and make available such information pursuant to commercially
                                    reasonable directions of CE in order to provide an accounting of disclosures of
                                    PHI in accordance with 45 C.F.R. § 164.528 of the Privacy Rule;</p>

                                    <p class=Number2>(j)<span style="margin-left: 25px;"></span>
                                    return or destroy all PHI or Unsecured PHI received from CE (or created
                                    or received by BA on behalf of CE) that BA maintains in any form at the
                                    termination of this BAA except as may be required or permitted by federal or
                                    state laws or regulations, this BAA, or the Underlying Agreement;</p>

                                    <p class=Number2>(k)<span style="margin-left: 25px;"></span>
                                    to the extent BA is to carry out an obligation of CE under Subpart E of
                                    45 C.F.R. Part 164, comply with the requirements of Subpart E of 45 C.F.R. Part
                                    164 that apply to CE in the performance of such obligation; and</p>

                                    <p class=Number2>(l)<span style="margin-left: 25px;"></span>
                                    ensure that any subcontractors that create, receive, maintain, or
                                    transmit electronic PHI on behalf of BA agree to comply with the applicable
                                    requirements of HIPAA by entering into a HIPAA-compliant business associate
                                    contract.</p>

                                    <p class=Number1>3.<span style="margin-left: 25px;"></span>
                                    <u>Representations, Warranties, and Covenants of CE</u>. CE represents,
                                    warrants, and covenants that CE:</p>

                                    <p class=Number2>(a)<span style="margin-left: 25px;"></span>
                                    must provide BA a copy of CE's Notice of Privacy Practices ("<u>Notice</u>")
                                    produced by CE in accordance with 45 C.F.R. § 164.520 as well as any changes to
                                    CE's Notice;</p>

                                    <p class=Number2>(b)<span style="margin-left: 25px;"></span>
                                    must provide BA with any changes in, or revocation of, authorizations by
                                    individuals relating to the use or disclosure of PHI, if such changes affect
                                    BA's permitted or required uses or disclosures;</p>

                                    <p class=Number2>(c)<span style="margin-left: 25px;"></span>
                                    must notify BA of any restriction to the use or disclosure of PHI to
                                    which CE has agreed in accordance with 45 C.F.R. § 164.522;</p>

                                    <p class=Number2>(d)<span style="margin-left: 25px;"></span>
                                    must notify BA of any amendment to PHI to which CE has agreed that
                                    affects a Designated Record Set maintained by BA for CE, if any;</p>

                                    <p class=Number2>(e)<span style="margin-left: 25px;"></span>
                                    must, if BA maintains for CE a Designated Record Set, provide BA with a
                                    copy of its policies and procedures related to an individual's right to: access
                                    PHI, request an amendment to PHI, request confidential communications of PHI,
                                    or request an accounting of disclosures of PHI;</p>

                                    <p class=Number2>(f)<span style="margin-left: 25px;"></span>
                                    may not request BA to use or disclose PHI in any manner that would not
                                    be permissible under HIPAA or other federal or state law;</p>

                                    <p class=Number2>(g)<span style="margin-left: 25px;"></span>
                                    is and will remain in compliance with all applicable federal, state, and
                                    local laws, including but not limited to fraud and abuse laws, and will not
                                    request, require, or influence BA to violate any applicable law.</p>

                                    <p class=Number1 style='page-break-after:avoid'>4.<span style="margin-left: 25px;"></span>
                                    <u>Term and Termination</u>. </p>

                                    <p class=Number2>(a)<span style="margin-left: 25px;"></span>
                                    <u>Term</u>. The term of this BAA will be effective as of the date the
                                    Underlying Agreement is effective, and will terminate when all of the PHI
                                    provided by CE to BA, or created or received by BA on behalf of CE, is
                                    destroyed or returned to CE.  However, with respect to any PHI that cannot
                                    feasibly be returned or destroyed, the protections of this BAA will be extended
                                    to such PHI in accordance with the termination provisions in Section 4(c)(ii).</p>

                                    <p class=Number2>(b)<span style="margin-left: 25px;"></span>
                                    <u>Termination for Cause</u>. Notwithstanding anything in this BAA to
                                    the contrary, upon CE's knowledge of a material breach or violation of this BAA
                                    by BA, CE will:</p>

                                    <p class=Number3>(i)<span style="margin-left: 25px;"></span>
                                    provide a reasonable opportunity for BA to cure the breach or end the
                                    violation of this BAA and then, if BA does not cure the breach or end the
                                    violation of this BAA within 30 days, terminate this BAA if feasible; or</p>

                                    <p class=Number3>(ii)<span style="margin-left: 25px;"></span>
                                    immediately terminate if feasible this BAA if BA has breached a material
                                    term of this BAA and a cure is not possible.</p>

                                    <p class=Number2 style='page-break-after:avoid'>(c)<span style="margin-left: 25px;"></span>
                                    <u>Effect of Termination</u>. </p>

                                    <p class=Number3>(i)<span style="margin-left: 25px;"></span>
                                    Except as provided in Section 4(c)(ii), upon termination of this BAA for
                                    any reason, BA will, if feasible:</p>

                                    <p class=Number4>(1)<span style="margin-left: 25px;"></span>
                                    return or destroy all PHI received from CE or created or received by BA
                                    on behalf of CE; and</p>

                                    <p class=Number4>(2)<span style="margin-left: 25px;"></span>
                                    not retain any copies of the PHI.</p>

                                    <p class=Number3>(ii)<span style="margin-left: 25px;"></span>
                                    If BA determines that the return or destruction of any particular PHI is
                                    infeasible, BA will extend the protections of this BAA to such PHI and limit
                                    further uses and disclosures of such PHI to those purposes that make the return
                                    or destruction infeasible, for so long as BA maintains such PHI.</p>

                                    <p class=Number1>5.<span style="margin-left: 33px;"></span>
                                    <u>General Purposes for which Protected Health Information may be Used
                                    or Disclosed</u>. BA may use or disclose PHI for the purpose of performing
                                    BA's obligations under the Underlying Agreement.  Except as otherwise provided
                                    in this BAA, BA may use or disclose PHI to perform functions, activities, or
                                    services for or on behalf of CE if such use or disclosure by BA complies with
                                    the Privacy Rule and if such use or disclosure of PHI would not violate the
                                    requirements of Subpart E of 45 C.F.R. Part 164 if done by CE.  BA may use or
                                    disclose PHI to provide data aggregation services relating to the health care
                                    operations of CE.  BA may use PHI received by BA in its capacity as a business
                                    associate to CE as necessary for the proper management and administration of BA
                                    or to carry out the legal responsibilities of BA.  BA may disclose PHI received
                                    by BA in its capacity as a business associate to CE for the proper management
                                    and administration of BA or to carry out the legal responsibilities of BA if:</p>

                                    <p class=Number2>(a)<span style="margin-left: 25px;"></span>
                                    the disclosure is Required by Law; or</p>

                                    <p class=Number2>(b)<span style="margin-left: 25px;"></span>
                                    BA obtains reasonable assurances from any person or entity to whom PHI
                                    is disclosed that: (i) the PHI will be held confidential and further used and
                                    disclosed only as Required by Law or for the purposes for which it was
                                    disclosed to the person or entity, and (ii) the person or entity will notify BA
                                    of any instances of which it is aware in which confidentiality of the PHI has
                                    been breached.</p>

                                    <p class=Number1>6.<span style="margin-left: 33px;"></span>
                                    <u>Notice of Privacy Practices</u>. BA agrees that it will abide by the
                                    limitations of any Notice published by CE of which it has knowledge.  Any use
                                    or disclosure permitted by this BAA may be amended by changes to CE's Notice if
                                    CE specifically informs BA of the amendment; provided, however, that the
                                    amended Notice will not affect permitted uses and disclosures on which BA
                                    relied prior to receiving notice of such amended Notice from CE.</p>

                                    <p class=Number1>7.<span style="margin-left: 33px;"></span>
                                    <u>Withdrawal of Authorization</u>. If the use or disclosure of PHI is
                                    based upon an individual's specific authorization for the use of his or her
                                    PHI, and the individual revokes such authorization in writing, or the effective
                                    date of such authorization has expired, or the authorization is found to be
                                    defective in any manner that renders it invalid, then BA agrees, if it has
                                    notice of such revocation or invalidity, to cease the use and disclosure of any
                                    such individual's PHI except to the extent it has relied on such use or
                                    disclosure, or where an exception under HIPAA expressly applies.</p>

                                    <p class=Number1>8.<span style="margin-left: 33px;"></span>
                                    <u>Third Party Rights and Assignment and Delegation of Duties</u>. The
                                    terms of this BAA are not intended nor should they be construed to grant any
                                    rights to parties other than BA and CE.  However, this BAA is binding upon and
                                    inures to the benefit of the parties hereto and their respective successors and
                                    assigns.</p>

                                    <p class=Number1>9.<span style="margin-left: 33px;"></span>
                                    <u>Applicable Law and Forum</u>. This BAA will be interpreted and
                                    construed in accordance with the laws of the State of Texas.</p>

                                    <p class=Number1>10.<span style="margin-left: 25px;"></span>
                                    <u>Waiver</u>. No delay or omission on the part of either party in
                                    exercising any right hereunder will operate as a waiver of such right or of any
                                    other right under this BAA.  A waiver on any one occasion will not be construed
                                    as a bar to or waiver of any right or remedy on any further occasion.  The
                                    election of either party of a particular remedy on default will not be
                                    exclusive of any other remedy, and all rights and remedies of the parties
                                    hereto will be cumulative.</p>

                                    <p class=Number1>11.<span style="margin-left: 25px;"></span>
                                    <u>Amendments</u>. Any amendment to this BAA will not be binding on
                                    either of the parties to this BAA unless such amendment is in writing and
                                    executed by both parties hereto.  Notwithstanding anything in this BAA to the
                                    contrary, the parties agree to take such action as is necessary to amend this
                                    BAA from time to time to comply with the requirements of HIPAA and other
                                    applicable federal and state confidentiality, privacy, and security laws.</p>

                                    <p class=Number1>12.<span style="margin-left: 25px;"></span>
                                    <u>Notices</u>. Any notices required or permitted under this BAA must
                                    be in writing and delivered in person or sent by registered or certified mail,
                                    return receipt requested, proper postage prepaid, properly addressed to the
                                    address of the addressee set forth above or to such other more recent address
                                    of the addressee of which the sending party has received written notice.</p>

                                    <p class=Number1>13.<span style="margin-left: 25px;"></span>
                                    <u>Authority</u>. Each party has full power and authority to enter into
                                    and perform this BAA, and the person signing this BAA on behalf of each party
                                    has been properly authorized and empowered to enter into this BAA.</p>

                                    <p class=Number1>14.<span style="margin-left: 25px;"></span>
                                    <u>Requests for PHI</u>. Either party will immediately notify the other
                                    party in writing, and provide the other party with a copy, of any subpoena or
                                    other discovery request or any judicial, governmental, or administrative order
                                    requesting or requiring the party to disclose PHI that may be held by the other
                                    party pursuant to this BAA.</p>

                                    <p class=Number1>15.<span style="margin-left: 25px;"></span>
                                    <u>Interpretation of this Contract in Relation to Other Contracts
                                    between the Parties</u>. Should there be any conflict between the language of
                                    this BAA and any other contract entered into between the parties, including the
                                    Underlying Agreement (either previous or subsequent to the date of this BAA),
                                    regarding the subject matter of this BAA, the language and provisions of this
                                    BAA will control and prevail unless the parties specifically refer in a subsequent
                                    written agreement to this BAA by its title and date and specifically state that
                                    the provisions of a later written agreement will control over this BAA.</p>

                                    <p class=Number1>16.<span style="margin-left: 25px;"></span>
                                    <u>De-identified Information</u>. BA may de-identify PHI obtained by BA
                                    under this BAA in compliance with 45 C.F.R. § 164.502(d) and 45 C.F.R. §
                                    164.514(a) and (b).  Pursuant to 45 C.F.R. § 164.502(d)(2), de-identified
                                    information does not constitute PHI and is not subject to the terms of this
                                    BAA.</p>

                                    <p class=Number1>17.<span style="margin-left: 25px;"></span>
                                    <u>Data Use</u>. BA may use and disclose PHI obtained by BA under this
                                    BAA to create a limited data set without any of the identifiers listed in 45
                                    C.F.R. § 164.514(e) ("<u>Limited Data Set</u>") for research, public health,
                                    and health care operations purposes.  BA may not use or further disclose a
                                    Limited Data Set for any other purpose, except as may otherwise be Required by
                                    Law.  BA must use appropriate safeguards to prevent use or disclosure of a
                                    Limited Data Set other than as provided for herein.  BA must report to CE any
                                    use or disclosure of a Limited Data Set not provided for herein of which BA
                                    becomes aware.  BA must ensure that any agents to whom BA provides a Limited
                                    Data Set agree to the same restrictions and conditions that apply to BA with
                                    respect to such information.  BA may disclose a Limited Data Set to any recipient
                                    that agrees to the same restrictions and conditions that apply to BA with
                                    respect to such information.  With respect to any particular Limited Data Set,
                                    BA will not use the Limited Data Set in such a way as to identify any
                                    individual whose data is incorporated in the Limited Data Set or to contact any
                                    such individual.</p>

                                    <p class=Number1>18.<span style="margin-left: 25px;"></span>
                                    <u>Changes in the Law</u>. If: (a) there is a change in any law,
                                    regulation, or rule that affects this BAA, the activities of either party under
                                    this BAA, or the relationship of the parties, or any change in the judicial or
                                    administrative interpretation of any such law, regulation, or rule, or any of
                                    the provisions of this BAA are found to be in violation of any such law,
                                    regulation, or rule; and (b) either party reasonably believes in good faith
                                    that the change, interpretation, or determination will have a substantial
                                    adverse effect on that party's business operations, then the party may, upon
                                    written notice, require the other party to enter into good faith negotiations
                                    to renegotiate the terms of this BAA and to take any action necessary to
                                    maintain compliance with such laws, rules, or regulations.  If the parties are
                                    unable to reach an agreement concerning the modification of this BAA within the
                                    earlier of 45 calendar days after the date of the notice seeking renegotiation
                                    or the effective date of the change, then either party may immediately
                                    terminate this BAA effective upon notice to the other party.</p>

                                    <p class=Number1>19.<span style="margin-left: 25px;"></span>
                                    <u>Ambiguity</u>. Any ambiguity in this BAA will be resolved to permit
                                    CE and BA to comply with HIPAA.</p>

                                    <p class=Number1>20.<span style="margin-left: 25px;"></span>
                                    <u>Arbitration</u>. Any controversy or claim arising out of this BAA,
                                    or the breach thereof, will be settled by arbitration in accordance with the
                                    rules of the American Arbitration Association, and judgment upon the award
                                    rendered by the arbitration may be entered in any court having jurisdiction
                                    thereof.  The arbitration agreement set forth herein will not limit a court
                                    from granting a temporary restraining order or preliminary injunction in order
                                    to preserve the status quo of the parties pending arbitration.  Further, the
                                    arbitrator(s) will have power to enter such orders by way of interim award, and
                                    they will be enforceable in court.  The place of such arbitration will be in
                                    Travis County, Texas.</p>

                                    <p class=Number1>21.<span style="margin-left: 25px;"></span>
                                    <u>Entire Agreement</u>. This BAA, together with all schedules, exhibits,
                                    addenda, and amendments hereto, if applicable, that are fully completed and
                                    signed by authorized persons on behalf of both CE and BA from time to time
                                    while this BAA is in effect, constitutes the entire agreement between the
                                    parties hereto with respect to the subject matter hereof and supersedes all
                                    previous written or oral understandings, agreements, negotiations, commitments,
                                    and any other writing and communication by or between the parties with respect
                                    to the subject matter hereof.</p>

                                    <p class=Number1>22.<span style="margin-left: 25px;"></span>
                                    <u>Severability</u>. The provisions of this BAA will be severable, and
                                    if any provision of this BAA is held or declared to be illegal, invalid, or
                                    unenforceable, the remainder of this BAA will continue in full force and effect
                                    as though such illegal, invalid, or unenforceable provision had not been
                                    contained herein.</p>

                                    <p class=Number1>23.<span style="margin-left: 25px;"></span>
                                    <u>Regulatory References</u>. A citation in this BAA to the Code of
                                    Federal Regulations (C.F.R.) means the cited section as that section may be
                                    amended from time to time.</p>

                                    <p class=Number1>24.<span style="margin-left: 25px;"></span>
                                    <u>Counterparts</u>. This BAA may be signed in counterparts, each one
                                    of which is considered an original, but all of which constitute one and the
                                    same instrument.</p>

                            </div>
                        </div>
                    </div>
                    <h3 class="fs-subtitle">By clicking submit, you agree to the terms of the BAA and will be registered as part of the Auditory Implant Initiative  </h3>
                    <input type="button" name="previous" class="previous action-button" value="Previous" />
                    <!--<input type="button" disabled id="register" value="{{button}}" ng-click="registerFacility()" ng-disabled="disableRegister">-->
                    <button class="btn btn-primary action-button" id="register" value="Register" ng-click="registerFacility()" disabled>
                        {{button}}
                    </button> 
                    </input> 
                </fieldset>
            </form>
        </div>
    </body>
    <!-- All Dependencies Here -->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="js/jquery.min.js"></script>
    <!-- jQuery easing plugin -->
    <script src="js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="js/registration.js" type="text/javascript"></script>
    <script>
        var regApp = angular.module('regApp', ['ui.bootstrap','checklist-model'] ); 
        
        var controllers = {};
        
        controllers.regCtrl =  function($scope, $http, getData, $window) {
        
            $scope.disableRegister = true;

            Date.prototype.monthNames = [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ];
            
            Date.prototype.getMonthName = function() {
                return this.monthNames[this.getMonth()];
            };
            var today = new Date();
            var dd = today.getDate();
            var yyyy = today.getFullYear();

            $scope.date = today.getMonthName() + ' ' + dd +', ' +yyyy;
            //jquery validation for baa scrolling
            $('#baa').scroll(function () {
                /*
                console.log("scrolling");
                console.log($(this).scrollTop() + '\n');
                console.log($(this)[0].scrollHeight + '\n');
                console.log($(this).height() + '\n');
                */
                $('#baa').scroll(function () {
                    if ($(this).scrollTop() + $(this).innerHeight() +2 >= $(this)[0].scrollHeight) {
                        $('#register').removeAttr('disabled');
                    }
                });
            });
            $scope.administratorData = {};
            $scope.facilityData = {};
            $scope.facilityData.Services = {};

            //Choices for the facility questions on facility Registration
            $scope.facilityDescription = [
                { name: "Academic"},
                { name: "Tertiary"},
                { name: "Community-based"},
                { name: "Private"}
            ];
            $scope.facilityServices = [
                { name: "Audiology"},
                { name: "Surgery"},
                { name: "Speech"}
            ];
            $scope.facilityCochlearTraining = [
                { name: "General Otolaryngologist"},
                { name: "Fellowship Trained Otologist"}
            ];
            //End Choices for facility questions

            //get the UserTitles (MD, AUD, etc)
            getData.get('../aii-api/v1/userTitles').success(function(data){
                $scope.userTitles = data.records;
            }); 

            //$scope.facilitaData.
            $scope.populations= ["5,000-10,000", "10,000-50,000","50,000-100,000","100,000-500,000","500,000-1,000,000","1,000,000+"]
            $scope.usStates = [
                { name: 'ALABAMA', abbreviation: 'AL'},
                { name: 'ALASKA', abbreviation: 'AK'},
                { name: 'ARIZONA', abbreviation: 'AZ'},
                { name: 'ARKANSAS', abbreviation: 'AR'},
                { name: 'CALIFORNIA', abbreviation: 'CA'},
                { name: 'COLORADO', abbreviation: 'CO'},
                { name: 'CONNECTICUT', abbreviation: 'CT'},
                { name: 'DELAWARE', abbreviation: 'DE'},
                { name: 'DISTRICT OF COLUMBIA', abbreviation: 'DC'},
                { name: 'FLORIDA', abbreviation: 'FL'},
                { name: 'GEORGIA', abbreviation: 'GA'},
                { name: 'GUAM', abbreviation: 'GU'},
                { name: 'HAWAII', abbreviation: 'HI'},
                { name: 'IDAHO', abbreviation: 'ID'},
                { name: 'ILLINOIS', abbreviation: 'IL'},
                { name: 'INDIANA', abbreviation: 'IN'},
                { name: 'IOWA', abbreviation: 'IA'},
                { name: 'KANSAS', abbreviation: 'KS'},
                { name: 'KENTUCKY', abbreviation: 'KY'},
                { name: 'LOUISIANA', abbreviation: 'LA'},
                { name: 'MAINE', abbreviation: 'ME'},
                { name: 'MARSHALL ISLANDS', abbreviation: 'MH'},
                { name: 'MARYLAND', abbreviation: 'MD'},
                { name: 'MASSACHUSETTS', abbreviation: 'MA'},
                { name: 'MICHIGAN', abbreviation: 'MI'},
                { name: 'MINNESOTA', abbreviation: 'MN'},
                { name: 'MISSISSIPPI', abbreviation: 'MS'},
                { name: 'MISSOURI', abbreviation: 'MO'},
                { name: 'MONTANA', abbreviation: 'MT'},
                { name: 'NEBRASKA', abbreviation: 'NE'},
                { name: 'NEVADA', abbreviation: 'NV'},
                { name: 'NEW HAMPSHIRE', abbreviation: 'NH'},
                { name: 'NEW JERSEY', abbreviation: 'NJ'},
                { name: 'NEW MEXICO', abbreviation: 'NM'},
                { name: 'NEW YORK', abbreviation: 'NY'},
                { name: 'NORTH CAROLINA', abbreviation: 'NC'},
                { name: 'NORTH DAKOTA', abbreviation: 'ND'},
                { name: 'OHIO', abbreviation: 'OH'},
                { name: 'OKLAHOMA', abbreviation: 'OK'},
                { name: 'OREGON', abbreviation: 'OR'},
                { name: 'PALAU', abbreviation: 'PW'},
                { name: 'PENNSYLVANIA', abbreviation: 'PA'},
                { name: 'PUERTO RICO', abbreviation: 'PR'},
                { name: 'RHODE ISLAND', abbreviation: 'RI'},
                { name: 'SOUTH CAROLINA', abbreviation: 'SC'},
                { name: 'SOUTH DAKOTA', abbreviation: 'SD'},
                { name: 'TENNESSEE', abbreviation: 'TN'},
                { name: 'TEXAS', abbreviation: 'TX'},
                { name: 'UTAH', abbreviation: 'UT'},
                { name: 'VERMONT', abbreviation: 'VT'},
                { name: 'VIRGIN ISLANDS', abbreviation: 'VI'},
                { name: 'VIRGINIA', abbreviation: 'VA'},
                { name: 'WASHINGTON', abbreviation: 'WA'},
                { name: 'WEST VIRGINIA', abbreviation: 'WV'},
                { name: 'WISCONSIN', abbreviation: 'WI'},
                { name: 'WYOMING', abbreviation: 'WY' }
            ];
            $scope.button = "Submit";
            $scope.registerFacility = function() {

            //Check for facility invitation token
            if((document.URL).indexOf("?") >= 0)
            this.facilityData.Token = (document.URL).split("?")[1];
            else
            this.facilityData.Token = 0;

            //send in one object that contains both form information
            $scope.registration = {"FacilityForm" : this.facilityData, "AdminForm": this.administratorData};

                $scope.button = "Processing...";
                $scope.disableRegister = true;
                $http({
                method  : 'POST',
                url     : '../aii-api/v1/facilities',
                data    : $scope.registration,  // pass in data as strings
                headers : { 'Content-Type': 'application/json' } 
                })
                .success(function(data) {
                console.log(data.records);
                //if both are registered, let em know and redirect to sign in 
                if(data.records["Facility Admin Registration Response"] == "Success" && data.records["Facility Registration Response"] == "Success"){

                alert("Your facility and administrator have been registered with AII!");
                $window.location.href = "./";

                }else if(data.records["Facility Registration Response"] == "Success"){ //else if only fac was successful, alert admin problems
                $scope.button = "Submit";
                alert("You are missing necssary information for your adminstrator.\n\nPlease enter any missing information and press submit again.");        
                $scope.disableRegister = false;
                $scope.facilityData.FacilityID = data.records['FacilityID'];

                }else{
                $scope.button = "Submit";

                    alert("You are missing necessary information for both your facility and your facility administrator.\n\n" +
                    "Please make sure to fill out facility and facility admin information.\n"+
                    "Enter any missing information and press submit again.");

                   $scope.disableRegister = false;
                }

                });


            }
        
        
        }
        
        //Added by Travis. 
        /**
         * @function getData - 
         *  Helper function that accepts a URL API call and GET's an appropriate
         *  JSON response for that URL.
         *
         * @param: string $http - reference to URL API call
         * @returns {object} - 
         *      @function get - returns a value based on a key
         */
        regApp.factory('getData', function($http){
        
            return {
                get: function(url) { 
                    var data = $http.get(url).success(function(data) {
                    });
                    return data;
                },
            }
        
        });
        
        //Added by Anne.
        /**
         * attribute directive fileread 
         * gets the base64 info of an image
         * that is uploaded in a file type input
         */
        regApp.directive("fileread", [function () {
            return {
                scope: {
                    fileread: "="
                },
                link: function (scope, element, attributes) {
                    element.bind("change", function (changeEvent) {
                        var reader = new FileReader();
                        reader.onload = function (loadEvent) {
                            scope.$apply(function () {
                                scope.fileread = loadEvent.target.result;
                            });
                        }
                        reader.readAsDataURL(changeEvent.target.files[0]);
                    });
                }
            }
        }]);
        
        regApp.controller(controllers);
        
    </script>