<!DOCTYPE html>
<html ng-app="login" style="height:100%">
    
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.angularjs.org/1.2.15/angular.js"></script>
        <script src="js/controllers/loginController.js"></script>
    </head>


    <body ng-controller="loginControl" style="background-color: #DDEAEB;height:100%;width:100%">

    <!-- Header -->
        <div style="background-color: white; box-shadow: 0 2px 10px -1px gray; width:100%; height:10%">
            <a class="navbar-brand" style="color: black" href="#">Auditory Implant Initiative</a>
        </div><br>
        
        <div style="width:20%; margin-left:40%">
            <h1 style="text-align:center">Audio Implant Initiative</h1>
            <br>
            <br>
            <label>Username</label>
            <input type='text' class="form-control" name='username' placeholder="Enter Username" ng-model="login.username">
            <br>
            <label>Password</label>
            <input type='password' class="form-control" name='password' placeholder="Enter Password" ng-model="login.password">
            <br>
            <a href="route.html">Forgot Password</a>
            <a href="route.html"><button label="Login" style="float:right">Login</button></a>
            <br><br>
            <p>This site is for autorized <b>Auditory Implant Initiative</b> members only.  
            Please see our <a href="register.html"><b>registration page</b></a> to gain access, otherwise continue.</p>
        </div>
      
      
      
      
    <!--

		
		<div class="col-md-4" style="width:25%;margin:0 auto">
			

		   <div class="row">

				<div class="col-md-12">
				  <div class="panel panel-default">
					<div class="panel-heading">
					
					  <div class="panel-title">
						<i class="glyphicon glyphicon-cloud pull-right"></i>
						<h4>User Login</h4>
					  </div>
					  
					</div>
					
					<div class="panel-body">
					  <div class="tabbable">
						  <br>
							<div class="tab-pane">
							  <form id="userLogin" class="form form-vertical" action="route.html" method="post">
								
								<div class="control-group">
								  <label>Username</label>
								  <div class="controls">
									<input type='text' class="form-control" name='username' placeholder="Enter Username" ng-model="login.username">
								  </div>
								</div>
								
								<div class="control-group">
								  <br>
								  <label>Password</label>
								  <div class="controls">
									<input type='password' class="form-control" name='password' placeholder="Enter Password" ng-model="login.password">
								  </div>
								</div>
								
								<div class="control-group">
								  <label></label>
								  <div class="controls">
									<button type="submit" name='login' class="btn btn-primary">
										<i class="glyphicon glyphicon-log-in"></i>
										Login
									</button>
									
									<a href="register.html">
										<button type="button" name='register' class="btn btn-primary pull-right">
										  <i class="glyphicon glyphicon-book"></i>
										  Register
										</button>
									</a>
								  </div>
								  <br><br>
								  <a href="route.html">
									<button type="button" class="btn btn-primary">
									  <i class="glyphicon glyphicon-barcode"></i>
									  (Developer) Bypass Login
									</button>
								  </a>
								</div>
							  </form>
							</div>
					   </div>
					</div>
				  </div>
				</div>
		   </div>
		</div>
	  </div>
	</div>

    -->
    
    </body>
</html>




