
<html ng-app="regApp">

    <head>
        <title>AII Registration</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    
    <body ng-controller="regCtrl">
        
        <!-- Header -->
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-toggle"></span>
              </button>
              <a class="navbar-brand" href="index.html">Auditory Implant Registration</a>
              <a class="navbar-brand" href="index.html"><img src="images/cochThumb.png"/></a>
            </div>
          </div>
        </div>
        
        
   
        <div class="col-md-9" style="width:62%;margin-left:7%">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tabbable"> 
                        <div class="tab-pane">
                            <form ng-submit="processForm()" class="form form-vertical">

                                <!-- New Patient Header --> 
                                <div class="panel panel-default">    
                                    <div class="panel-heading">
                                      <div class="panel-title">
                                        <h4>Facility Registration Form</h4>
                                      </div>
                                    </div>
                                </div>

                                <!-- Facility Name -->
                                <div class="control-group" >
                                    <label>Facility Name</label>
                                    <div class="controls" >
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityName" ng-required="true" placeholder="Enter Facility Name" ng-blur="fillBar()">
                                    </div>
                                </div><br><hr>

                                <!-- Facility State -->
                                <div class="control-group">
                                    <div class="controls" style="float:left">
                                        <label>Facility Street Address</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityStreet" ng-required="true" placeholder="Enter Facility Street Address" ng-blur="fillBar()">
                                    </div>                                 

                                <!-- Facility City -->

                                    <div class="controls" style="float:left;margin-left:50px">
                                        <label>Facility City</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityCity" ng-required="true" placeholder="Enter Facility City" ng-blur="fillBar()">
                                    </div>

                                <!-- Facility Street Address -->
                                    <div class="controls" style="float:left;margin-left:50px">
                                        <label>Facility State</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityState" ng-required="true" placeholder="Enter Facility State" ng-blur="fillBar()">
                                    </div><br><br><br><br>

                                <!-- Facility Zip -->
                                    <div class="controls" >
                                        <label>Facility Zipcode</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityZip" ng-required="true" placeholder="Enter Facility Zipcode" ng-blur="fillBar()">
                                    </div><br>

                                <!-- Facility Phone -->
                                    <div class="controls">
                                        <label>Facility Phone Number</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityPhone" ng-required="true" placeholder="ex.(555-424-4243)" ng-blur="fillBar()">
                                    </div><br><hr>

                                    <!-- New Patient Header --> 
                                    <div class="panel panel-default">    
                                        <div class="panel-heading">
                                          <div class="panel-title">
                                            <h4>Facility Administrator Form</h4>
                                          </div>
                                        </div>
                                    </div>

                                <!-- Administrator Name -->
                                    <div class="controls" style="float:left">
                                        <label>First Name</label>
                                        <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.fname" ng-required="true" placeholder="Enter First Name" ng-blur="fillBar()">
                                    </div>

                                    <div class="controls" style="float:left;margin-left:50px">
                                        <label>Middle Name</label>
                                        <input style="width: 200px" type="text" class="form-control" name="middle" ng-model="formData.middle" ng-required="true" placeholder="Enter Middle Initial" ng-blur="fillBar()">
                                    </div>

                                    <div class="controls" style="float:left;margin-left:50px">
                                        <label>Last Name</label>
                                        <input style="width: 200px" type="text" class="form-control" name="lname" ng-model="formData.lname" ng-required="true" placeholder="Enter Last Name" ng-blur="fillBar()">
                                    </div><br><br><br><br>

                                    <div class="controls">
                                        <label>E-Mail Address</label>
                                        <input style="width: 200px" type="text" class="form-control" name="email" ng-model="formData.email" ng-required="true" placeholder="Enter E-Mail" ng-blur="fillBar()">
                                    </div><br><hr>

                                    <div class="controls">
                                        <br><label>User Name</label>
                                        <input style="width: 200px" type="text" class="form-control" name="uname" ng-model="formData.uname" ng-required="true" placeholder="Enter New User Name" ng-blur="fillBar()">
                                    </div><br>

                                    <div class="controls">
                                        <label>Password</label>
                                        <input style="width: 200px" type="password" class="form-control" name="password" ng-model="formData.password" ng-required="true" placeholder="Enter New Password" ng-blur="fillBar()">
                                    </div>


                                </div><br>
                                <input style="width: 200px" type="submit" id="submit" value="Submit" />
                                {{ formData | json }}

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <div style="position:fixed;margin-left:70%;width:28%">
        <blockquote><h1>New Facility Form</h1><br>
            <text class="form">Facility Name:</text> &nbsp {{formData.facilityName}}<br><br>
            <text class="form">Address:</text> &nbsp {{formData.facilityStreet}} <br>
            <text style="padding-left:78px;">{{formData.facilityCity}},&nbsp{{formData.facilityState}}&nbsp{{formData.facilityZip}}</text> <br><br>
            <text style="form">Phone:</text> &nbsp {{formData.facilityPhone}} <br><br>
            <hr>
            <text class="form">First Name:</text> &nbsp {{formData.fname}}
            <text class="form"> &nbsp&nbsp MI:</text> &nbsp {{formData.middle}} <br><br>
            <text class="form">Last Name:</text> &nbsp {{formData.lname}} <br><br>
            <text class="form">E-Mail Address:</text> &nbsp {{formData.email}} <br><br>
            <text class="form">Username:</text> &nbsp {{formData.uname}} <br><br>
        </blockquote>
        </div>

    
    </body>



</html>

<!-- All Dependencies Here -->
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>


<script>

    var regApp = angular.module('regApp', ['ui.bootstrap']); 

    var controllers = {};
    
    controllers.regCtrl =  function($scope) {
        $scope.formData = {};
    }
    
    regApp.controller(controllers);

</script>
