
<html ng-app="regApp">

    <head>
        <title>AII Registration</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>
    
    <body>
        
        <div class="container">    
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                
                        <!-- New Patient Header --> 
                        <div class="panel panel-default">    
                            <div class="panel-heading">
                              <div class="panel-title">
                                <h4>Facility Registration Form</h4>
                              </div>
                            </div>
                        </div>
                        
                        <div class="panel-body" ng-controller="TabController as tab">
                            <div class="tabbable"> 
                                <div class="tab-pane">
                                    <form ng-submit="processForm()" class="form form-vertical">
                                        
                                        <!-- Facility Name -->
                                        <div class="control-group" >
                                            <label>Facility Name</label>
                                            <div class="controls" >
                                                <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityName" ng-required="true" placeholder="Enter Facility Name" ng-blur="fillBar()">
                                            </div>
                                        </div><br>
                                        
                                        <!-- Facility Street Address -->
                                        <div class="control-group" >
                                            <label>Facility Street Address</label>
                                            <div class="controls" >
                                                <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityStreetAddress" ng-required="true" placeholder="Enter Facility Street Address" ng-blur="fillBar()">
                                            </div>
                                        </div><br>                                        
                                        
                                        <!-- Facility City -->
                                        <div class="control-group" >
                                            <label>Facility City</label>
                                            <div class="controls" >
                                                <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityCity" ng-required="true" placeholder="Enter Facility City" ng-blur="fillBar()">
                                            </div>
                                        </div><br>
                                        
                                        <!-- Facility State -->
                                        <div class="control-group" >
                                            <label>Facility State</label>
                                            <div class="controls" >
                                                <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.facilityState" ng-required="true" placeholder="Enter Facility State" ng-blur="fillBar()">
                                            </div>
                                        </div><br>
                                        
                                        <!-- Administrator Name -->
                                        <div class="control-group" >
                                            <label>First Name</label>
                                            <div class="controls" >
                                                <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.fname" ng-required="true" placeholder="Enter First Name" ng-blur="fillBar()">
                                            </div>
                                        </div><br>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>  
        
        <a href="index.html"><h1>Index</h1></a>
    
    </body>



</html>

<!-- All Dependencies Here -->
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<script src="js/myApp.js"></script>
<script src="js/myApp.directives.js"></script>
<script src="js/myApp.controllers.js"></script>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>


<script>

    var regApp = angular.module('regApp', ['ui.bootstrap']); 

    var controllers = {};
    
    controllers.regCtrl =  function($scope) {
        $scope.x = 3;
    }
    
    regApp.controller(controllers);

</script>
