<style>
    body {
        background: linear-gradient(rgba(10, 102, 120, 0.2), rgba(10, 100, 182, 0.2))
    }
	.error{
		color: red;
	}
</style>

<html ng-app="userRegApp" style="width:100%;height:100%;">
   <head>
      <title>AII User Registration</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/facReg.css" rel="stylesheet">
   </head>
    <body >
        <div ng-controller="regCtrl" class="container-fluid">
      <!-- Header/Nav Bar -->
            <div id = "cp_topNavigation" style="height:8%"> 
                <nav class = "navbar navbar-default navbar-fixed-top" role = "navigation">
                    <div class = "container-fluid">
                        <div class = "navbar-header">
                            <a class="navbar-brand cp_navbar-brand" href="./">Auditory Implant Initiative</a>
                        </div>
                        <div class = "nav-items collapse navbar-collapse pull-right" id = "nav-responsive-collapse">
                            <a href = "./" class="navbar-btn pull-right"><button type="button" class="btn btn-default">Sign in</button></a>
                        </div>
                    </div>
                </nav>   
            </div>
            
      <br>
        
        <form id="msform">
            <!-- fieldset -->
            <fieldset>
                <h3 class="fs-title">Register as a new user</h3>
                <div class="row">
                    <div class="col-md-6"><input type="text" class="box" name="first" placeholder="First Name" ng-model="registration.First"/> </div>
                    <div class="col-md-6" ><input type="text" class="box" name="last" placeholder="Last Name" ng-model="registration.Last"/> </div>
                </div>
                <input type="text" class="box" name="username" placeholder="Username" ng-model="registration.Username"/>
                <input type="password" name="password" placeholder="Password" ng-model="registration.Password"/>
                <input type="password" name="confirmPassword" placeholder="Confirm Password" ng-model="registration.confirmPassword"/>
                
               <!-- {{registration}}-->
			    <button class="btn btn-primary" id="submit" class="submit action-button" value="Register" ng-click="registerUser()" ng-disabled="disableRegister">{{button}}</button> 
				<br><br>
				<span name="errorMessage" ng-class="{'error':messageIsError}">{{message}}</span>
            </fieldset>
            
        </form>
            </div>
    </body>
    <!-- All Dependencies Here -->
  
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/checklist-model.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/jquery.min.js"></script>
<!-- jQuery easing plugin -->
<script src="js/jquery.easing.min.js" type="text/javascript"></script>
<script src="js/registration.js" type="text/javascript"></script>

<script>
   var userRegApp = angular.module('userRegApp', ['ui.bootstrap','checklist-model'] ); 
   
   var controllers = {};
   
   controllers.regCtrl =  function($scope, $http, getData) {
       
	   //Scope variables
       $scope.registration = {}; //Registration information
	   $scope.message = ""; //Info message displayed to the user
	   $scope.messageIsError = false; //Determines the style of the message
	   $scope.disableRegister = false; //Disables the register button
	   $scope.button = "Register"; //Register button content
	   
	    //Validates the form data and sends a user registration request to the API
        $scope.registerUser = function() {
	   
			//Grab token from the URL - DEBUG
			var token = (document.URL).split("?")[1];
		
			//TODO - form validation
			//	insure valid username (no spaces, adequate length)
			//	insure valid password (adequate length, valid characters)
		
			//Insure password fields match before sending request
			if($scope.registration.Password === $scope.registration.confirmPassword){
				$http({
				   method  : 'POST',
				   url     : '../aii-api/v1/users/' + token,
				   data    : $scope.registration,  // pass in data as strings
				   headers : { 'Content-Type': 'application/json' } 
				})
				.success(function(data) {
					
					//Determine the message to display based on the response
					if(data.records["response"] == 1000){
						$scope.message = "Registration Successful!";
						$scope.messageIsError = false;
					}
					if(data.records["response"] == 1010){
						$scope.message = "Username has already been taken.";
						$scope.messageIsError = true;
					}
					if(data.records["response"] == 1020){
						$scope.message = "Invalid invitation. This invitation may have already been used. Re-visit the invitation link provided by email and try again. If the invitation is still invalid, request another invitation from your facility administrator.";
						$scope.messageIsError = true;
					}
					if(data.records["response"] == 1030){
						$scope.message = "Server error. Please try again in a few minutes. If this error persists, contact a server administrator at admin@aii-hermes.org";
						$scope.messageIsError = true;
					}
					//Re-enable the register button
				   $scope.disableRegister = false;
				   $scope.button = "Register";
				});
			   
				//Before the API responds, disable the register button
				$scope.disableRegister = true;
				$scope.button = "Registering...";
			}
			//If the password and confirmation do not match, inform the user
			else{
				$scope.message = "Password fields do not match.";
				$scope.messageIsError = true;
			}
        }
       
       
       
   }
   //Added by Travis. 
    /**
     * @function getData - 
     *  Helper function that accepts a URL API call and GET's an appropriate
     *  JSON response for that URL.
     *
     * @param: string $http - reference to URL API call
     * @returns {object} - 
     *      @function get - returns a value based on a key
     */
    userRegApp.factory('getData', function($http){

        return {
            get: function(url) { 
                var data = $http.get(url).success(function(data) {
                });
                return data;
            },
        }

    });
   
   userRegApp.controller(controllers);
   
</script>