 <div ng-controller="audioTestCtrl">
	<form class="form form-vertical" ng-submit="submit()">
	  <div class="container">
          
          <div class="form_description">
                <h2>Comprehensive Diagnostic Audiogram</h2>
                <p></p>
                <p>Data is collected by Audiologist</p>
            </div>		

		  <hr/>
		</br>
        
		<h3> Implanted Ear, Implant On </h3>
        <br>
		  <div class="row">
			<div class="col-xs-6">
			<label>Pure Tone Average (PTA), in decibels</label>
			  <div class="range">
				<input type="range" class="range" ng-model="values.pta" min="0" max="120">
                   PTA: {{values.pta}} db  </br>
			  </div>
			</div>							
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Reception Threshold (SRT), in decibels</label>
			  <div class="range range-success">
				<input type="range" class="range" ng-model="values.srt"  min="0" max="120" value="60">
                  SRT: {{values.srt}} db  </br>
			  </div>
			</div>
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Discrimination Score (SDS), percentage</label>
			  <div class="range range-warning">
				<input type="range" class="range" ng-model="values.sds" min="0" max="100" value="50">
                  SDS: {{values.sds}} % </br>
			  </div>
			</div>
		  </div>
			
		<hr>
		
		<h4> Implanted Ear, Implant On, Nonimplanted ear plugged </h4>
		<h5> AzBio </h5>
		<label for="quiet">
            Score in Quiet 
            <input type="number" ng-model="scores.Az_Quiet" name="quietScore" id="quietScore"
                min="0" max="100" step="1" value="50">
             %
        </label>
		</br>
		<label for="noise">
            Score in Noise 
            <input type="number" ng-model="scores.Az_Noise" name="noiseScore" id="noiseScore"
                min="0" max="100" step="1" value="50">
             %
        </label>
		
		</br>
		<h4> Implanted Ear, Implant On, Nonimplanted ear plugged </h4>
		<h5> BKB-SIN </h5>
		<label for="BKB">
            Score,db 
            <input type="number" ng-model="scores.BKB" name="BKB" id="BKB"
                min="0" max="100" step="1" value="50">
        </label>
		
		<h4> Implanted Ear, Implant On, Nonimplanted ear plugged </h4>
		<h5> CNC </h5>
		<label for="quietCNC">
            Score in Quiet 
            <input type="number" ng-model="scores.CNC_Quiet" name="quietCNC" id="quietCNC"
                min="0" max="100" step="1" value="50">
             %
        </label>
		</br>
		<label for="noiseCNC">
            Score in Noise 
            <input type="number" ng-model="scores.CNC_Noise" name="noiseCNC" id="noiseCNC"
                min="0" max="100" step="1" value="50">
             %
        </label>
		
		</br>

        <input type="submit" id="submit" value="Submit (does nothing right now)" />
            <pre>test values={{values}}</pre>
            <pre> scores= {{scores}}</pre>
		</form>
	 
		</div>
	</div>