<p>Data is collected by Audiologist</p>

  <div ng-controller="audioTestCtrl">
	<form class="form form-vertical" ng-submit="submit()">
	  <div class="container">
          

		  <h2>Comprehensive Diagnostic Audiogram</h2>
		  <hr/>
		</br>
        
		<h3> Implanted Ear, Implant On </h3>
        <br>
		  <div class="row">
			<div class="col-xs-6">
			<label>Pure Tone Average (PTA), in decibels</label>
			  <div class="range">
				<input type="range" name="range" ng-model="values.pta" min="0" max="120" value="60" onchange="rangemove.value=value">
				<output id="rangemove" >60 </output>
			  </div>
			</div>							
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Reception Threshold (SRT), in decibels</label>
			  <div class="range range-success">
				<input type="range" name="range" ng-model="values.srt"  min="0" max="120" value="60" onchange="rangeSuccess.value=value">
				<output id="rangeSuccess" >60 </output>
			  </div>
			</div>
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Discrimination Score (SDS), percentage</label>
			  <div class="range range-warning">
				<input type="range" name="range" ng-model="values.sds" min="0" max="100" value="50" onchange="rangeWarning.value=value">
				<output id="rangeWarning">50</output>
			  </div>
			</div>
		  </div>

		</div>
			
			PTA: {{values.pta}} db  </br>
			SRT: {{values.srt}} db  </br>
			SDS: {{values.sds}} % </br>
			
		<hr>
		
		<h3> Implanted Ear, Implant On, Nonimplanted ear plugged </h3>
		<h4> AzBio </h4>
		<label for="quiet">
            Score in Quiet 
            <input type="number" ng-model="scores.Az_Quiet" name="quietScore" id="quietScore"
                min="0" max="100" step="1" value="50">
             %
        </label>
		</br>
		<label for="noise">
            Score in Noise 
            <input type="number" ng-model="scores.Az_Noise" name="noiseScore" id="noiseScore"
                min="0" max="100" step="1" value="50">
             %
        </label>
		
		</br>
		<h3> Implanted Ear, Implant On, Nonimplanted ear plugged </h3>
		<h4> BKB-SIN </h4>
		<label for="BKB">
            Score,db 
            <input type="number" ng-model="scores.BKB" name="BKB" id="BKB"
                min="0" max="100" step="1" value="50">
        </label>
		
		<h3> Implanted Ear, Implant On, Nonimplanted ear plugged </h3>
		<h4> CNC </h4>
		<label for="quietCNC">
            Score in Quiet 
            <input type="number" ng-model="scores.CNC_Quiet" name="quietCNC" id="quietCNC"
                min="0" max="100" step="1" value="50">
             %
        </label>
		</br>
		<label for="noiseCNC">
            Score in Noise 
            <input type="number" ng-model="scores.CNC_Noise" name="noiseCNC" id="noiseCNC"
                min="0" max="100" step="1" value="50">
             %
        </label>
		
		</br>

        <input type="submit" id="submit" value="Submit (does nothing right now)" />
            <pre>test values={{values}}</pre>
            <pre> scores= {{scores}}</pre>
		</form>
	 
		
	</div>