<p>I'm in Candidacy.</p>
  <p>Data is collected by Audiologist</p>
  <div ng-controller="candidacyCtrl">
	<form class="form form-vertical" ng-submit="submit()">
	  <div class="container">
		  <h2>Regular Hearing Test Values </h2>
		  <hr/>
		</br>
		  <div class="row">
			<div class="col-xs-6">
			<label>Pure Tone Average (PTA), in decibels</label>
			  <div class="range">
				<input type="range" name="range" ng-model="pta" min="0" max="120" value="60" onchange="range.value=value">
				<output id="range" >60 db</output>
			  </div>
			</div>							
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Reception Threshold (SRT), in decibels</label>
			  <div class="range range-success">
				<input type="range" name="range" ng-model="srt"  min="0" max="120" value="60" onchange="rangeSuccess.value=value">
				<output id="rangeSuccess" >50 db</output>
			  </div>
			</div>
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Discrimination Score (SDS), percentage</label>
			  <div class="range range-warning">
				<input type="range" name="range" ng-model="sds" min="0" max="100" value="50" onchange="rangeWarning.value=value">
				<output id="rangeWarning">50%</output>
			  </div>
			</div>
		  </div>

		</div>
		<input type="submit" id="submit" value="Submit" />
			<pre>test values={{testValues}}</pre>
			
			PTA: {{pta}}  </br>
			SRT: {{srt}}  </br>
			SDS: {{sds}} </br>
			
		  
		</form>
	 
		
	</div>