
  <div ng-controller="candidacyCtrl">
	<form class="form form-vertical" ng-submit="submit()">
	  <div class="container">
		  <h2>Regular Hearing Test Values </h2>
		  <hr/>
          <br>
		  <div class="row">
			<div class="col-xs-6">
			<label>Pure Tone Average (PTA), in decibels</label>
			  <div class="range">
				<input type="range" class="range" ng-model="values.pta" min="0" max="120">
                   PTA: {{values.pta}} db  </br>
			  </div>
			</div>							
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Reception Threshold (SRT), in decibels</label>
			  <div class="range range-success">
				<input type="range" class="range" ng-model="values.srt"  min="0" max="120" value="60">
                  SRT: {{values.srt}} db  </br>
			  </div>
			</div>
		  </div>

		  <div class="row">
			<div class="col-xs-6">
			<label>Speech Discrimination Score (SDS), percentage</label>
			  <div class="range range-warning">
				<input type="range" class="range" ng-model="values.sds" min="0" max="100" value="50">
                  SDS: {{values.sds}} % </br>
			  </div>
			</div>
		  </div>

		</div>
		<input type="submit" id="submit" value="Submit" />
			<pre>values={{values}}</pre>

			
		  
		</form>
	 
		
	</div>