<style>
    table, th, td {
           border: 1px solid #164a5e;
        }
</style>

<div class="form3D">
    <div class="row">
        <div class="col-md-4">
            <img src="images/facilityLogo.png" ng-if="facilityImage == null"/> 
            <img src="images/facilityImages/{{facilityImage}}" ng-if = "facilityImage !=null" width ="120px"/>
        </div>
    </div>
    <div class="row">
        <label>{{facilityName}}</label> <br><br>
        <b> Name:</b> {{patientName}} <br>
        <b> Sex: </b> {{patientSex}} <br>
        <b> DOB: </b> {{patientDOB}} <br>
    </div>
    <table class="table table-condensed">
        <caption></caption>
        <thead>
        <tr align="Center">
          <td colspan="1" style="background-color:#cae5f0"><h4><b>Question</b></h4></td>
          <td colspan="1" style="background-color:#cae5f0"><h4><b>Answer</b></h4></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(questionNum,info) in patientSummaryAnswers.Answers">
          <td width="60%"><b>{{info.Question}}</b></td>
          <td width="40%"ng-if="!isArray(info.Answers) && !isObject(info.Answers)" >{{info.Answers}}</td>
            <td width="40%"ng-if="isArray(info.Answers) && questionNum!=085"><span ng-repeat="answer in info.Answers"> {{answer}},</span></td>
            <td width="40%"ng-if="questionNum==085 && info.Answers != 'Not Answered'"><span ng-repeat="surgery in info.Answers">
                <span >{{$index +1}}. </span> 
                <span> <b> Date:</b> <br>  {{surgery.Date}} <br> </span>
                <span> <b> Side:</b> <br>  {{surgery.Side}} <br> </span>
                <span> <b> Type:</b> <br>  {{surgery.Type}} <br> </span>
                <hr> </span></td>
        </tr>
        </tbody>
    </table>
</div>