
<div class="form3D" ng-controller="audioQuestionsController">
    <style>
    table, th, td, tbody {
       border: 1px solid #164a5e;
    }
    table{
        width:100%;
    }
    tbody tr:hover {
      background: #97afd4;
    }
</style>
    <div class="row">
        <div class="col-md-4">
            <img src="images/facilityLogo.png" ng-if="facilityImage == null"/> 
            <img src="images/facilityImages/{{facilityImage}}" ng-if = "facilityImage !=null" width="120px"/>
        </div>
    </div>
    <div class="row">
        <label>{{facilityName}}</label> <br><br>
        <b> Name:</b> {{patientName}} <br>
        <b> Sex: </b> {{patientSex}} <br>
        <b> DOB: </b> {{patientDOB}} <br>
    </div>
    <p ng-if="!condition.Results"><br>No audiology data entered</p>
    <div class="row" ng-if="condition.Results">
        {{getMaxNumOfTest(condition.Results)}}
        <table class="table table-hover table-responsive" >
             
            <table >
                <tr align= "center" >
                  <td colspan=2 style="background-color:#cae5f0"><h3><b>Testing Conditions</b></h3></td>
                </tr>  
                <tr>
                    <td style="width:50%"><b> Left Ear Condition:</b> {{condition.LeftAidCondition}} </td>
                    <td  style="width:50%"><b> Right Ear Condition:</b>{{condition.RightAidCondition}} </td>  
                </tr>
                <tr align= "center">
                  <td colspan=2 style="background-color:#cae5f0"><h3><b>Results</b></h3></td>
                </tr>
            </table>
            
            <table ng-repeat="test in audioQuestions.Tests" ng-if="condition.Results[test.AudioTestName]" style="table-layout: fixed;width:100%">
                <tr >       
                  <td colspan ={{max}} ><h4><b>{{test.AudioTestName}}</b></h4> </td> 
                </tr> 
                <tr  ng-repeat="field in test.AudioTestInput" style="width:100%">
                    <td><b> {{field.Name}}</b></td> 
                    <td ng-repeat="result in condition.Results[test.AudioTestName]" >{{result[field.Name]}}</td>
                </tr>
           
            </table>
         </table>
        
    </div>
</div>
<br>