<style>
    table, th, td {
           border: 1px solid #164a5e;
        }
</style>

<div class="form3D">
    <div class="row">
        <div class="col-md-4">
            <img src="images/facilityLogo.png" ng-if="FacilityImage == null"/> 
            <img src="images/facilityImages/{{FacilityImage}}" ng-if = "FacilityImage !=null"/>
        </div>
    </div>
    <div class="row">
        <label>{{facilityName}}</label> <br><br>
        <b> Name:</b> {{patientName}} <br>
        <b> Sex: </b> {{patientSex}} <br>
        <b> DOB: </b> {{patientDOB}} <br>
    </div>
    <table class="table table-condensed">
        <caption></caption>
        <thead>
        <tr align="Center">
          <td colspan="1" style="background-color:#cae5f0"><br><h3><b>Question</b></h3></td>
          <td colspan="1" style="background-color:#cae5f0"><br><h3><b>Answer</b></h3></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="answer in patientSummaryAnswers.Answers">
          <td width="60%"><b>{{answer.Question}}</b></td>
          <td width="40%"ng-if="!isArray(answer.Answers) && !isObject(answer.Answers)" >{{answer.Answers}}</td>
            <td width="40%"ng-if="isArray(answer.Answers)"><span ng-repeat="answer in answer.Answers"> {{answer}},</span></td>
            <td width="40%"ng-if="isObject(answer.Answers) && !isArray(answer.Answers)"><span ng-repeat="surgery in answer.Answers">{{$index +1}}.  <span ng-repeat="(surgeryInfo, value) in surgery"> <b> {{surgeryInfo}}</b> : {{value}} <br></span> <hr> </span></td>
        </tr>
        </tbody>
    </table>
</div>