<style>
    table, th, td, tbody {
       border: 1px solid #164a5e;
    }
</style>
<div class="form3D" ng-controller="audioQuestionsController">

    <div class="row">
        <div class="col-md-4">
            <img src="images/facilityLogo.png" ng-if="FacilityImage == null"/> 
            <img src="images/facilityImages/{{FacilityImage}}" ng-if = "FacilityImage !=null"/>
        </div>
    </div>
    <div class="row">
        <label>{{facilityName}}</label> <br><br>
        <b> Name:</b> {{patientName}} <br>
        <b> Sex: </b> {{patientSex}} <br>
        <b> DOB: </b> {{patientDOB}} <br>
    </div>
    <div class="row">
        {{getMaxNumOfTest(condition.Results)}}
        <table class="table table-condensed" style="table-layout: fixed;">
          <caption></caption>
          <thead >
            <tr align= "center" >
              <td colspan ={{max}} style="background-color:#cae5f0"><h3><b>Testing Conditions</b></h3></td>
            </tr>    
            <tr>
                <td style="width:50%"><b> Left Ear Condition:</b> {{condition.LeftAidCondition}} </td>
                <td style="width:50%"><b> Right Ear Condition:</b>{{condition.RightAidCondition}} </td>  
            </tr>
            <tr align= "center">
              <td colspan ={{max}}  style="background-color:#cae5f0"><h3><b>Results</b></h3></td>
            </tr> 
          </thead>
            
            <tbody ng-repeat="test in audioQuestions.Tests" ng-if="condition.Results[test.AudioTestName]">
                <tr >       
                  <td colspan ={{max}} ><h4><b>{{test.AudioTestName}}</b></h4> </td> 
                </tr> 
                <!--
                <tr align= "center">  
                    <td>  </td>
                    <td ng-repeat="result in condition.Results[test.AudioTestName]" > <b> {{$index+1}} </b> </td> 
                </tr>  
-->
                <tr  ng-repeat="field in test.AudioTestInput">
                    <td><b> {{field.Name}} ({{field.Unit}}) </b></td> 
                    <td ng-repeat="result in condition.Results[test.AudioTestName]">{{result[field.Name]}}</td>
                </tr>
            </tbody>
            <!--
          <tbody ng-repeat="(test, results) in condition.Results">
            <tr>       
              <td colspan ={{max}} ><h4><b>{{test}}</b></h4> </td> 
            </tr>  
            <tr align= "center">  
                <td>  </td>
                <td ng-repeat="result in results" > <b> {{$index+1}} </b> </td> 
            </tr>  
            <tr ng-repeat="(field, value) in results[0]">
                <td><b> {{field}} </b></td> 
                <td ng-repeat="result in results">{{result[field]}}</td>
            </tr>
            
          </tbody> -->
        </table>
    </div>
</div>
<br>
    