<html>
	  <p>I'm in NEWWWWW Demographics.</p>
	  <p>Data is collected by CI Coordinator</p>
	  <div ng-controller="existingPatientsCtrl">
	  <form class="form form-vertical" ng-submit="submit()" action="phpTest/test2.php" method="post">
	  
          <div>
              <select ng-model="selected" ng-options="patient as patient.fname for patient in patients"></select> 
              
            </div>
		
          
		<div class="control-group">
		
			<blockquote>
				<text class="form">Address:</text> &nbsp {{street}} <br>
				<text style="padding-left:78px;">{{city}},&nbsp{{state}}&nbsp{{zip}}</text> <br>
			</blockquote>
			
			<label>Edit Address!!!</label>
			<br>
            <label>Patient ID</label></br>
            <input type="text" class="txt" name="id" ng-model="selected.PatientID" class="form-control" placeholder="Patient ID" value="" title="existingPatient"/>
			<br><br>
            <label>Street</label></br>
			<input type="text" class="txt" name="street" ng-model="selected.streetAddress" class="form-control" placeholder="Street Address" value="" title="existingPatient"/>
			<br><br>
            <label>City</label></br>
			<input type="text" class="txt" name="city" ng-model="selected.city" class="form-control" placeholder="City" title="existingPatient"/>
			<br><br>
            <label>State</label></br>
			<input type="text" class="txt" name="state" ng-model="selected.state" class="form-control" placeholder="State" title="existingPatient"/>
			<br><br>
            <label>Zip code</label></br>
			<input type="text" class="txt" name="zip" ng-model="selected.zip" class="form-control" placeholder="Zip" title="existingPatient"/>
			<br><br>
			
            {{selected.PatientID}}
		</div> 
			<input type="submit" id="submit" value="Submit" />
			<pre>list={{list}}</pre>
			
		  
		
		
	  </form>
	 
		
	</div> 					
		<!--<div class="control-group">
		  <label>Add Notes</label>
		  <div class="controls">
			<textarea class="form-control"></textarea>
		  </div>
		</div> -->
	
</html>	
	  