<html>
	  <p>I'm in Demographics.</p>
	  <p>Data is collected by CI Coordinator</p>
    
    <!--playing with ng-bind html -->
    <div ng-controller="ngBindHtmlCtrl">
        <p ng-bind-html="trustedHtml"></p>
    </div>
    
	  <div ng-controller="existingPatientsCtrl">
	  <form class="form form-vertical" ng-submit="submit()">
	  
          <div>
             <!--<pre>{{patients}}</pre> -->
              <select ng-model="selected" ng-options="patient as patient.fname + ' ' + patient.lname for patient in data.records"></select> 
              
            </div>
		
          
		<div class="control-group">
		    <!-- Live Preview -->
			<blockquote>
				<text class="form">Address:</text> &nbsp {{selected.streetAddress}} <br>
				<text style="padding-left:78px;">{{selected.city}},&nbsp{{selected.state}}&nbsp{{selected.zip}}</text> <br>
			</blockquote>
			
			<label>Edit Address</label>
			<br>
            <label>Street</label></br>
			<input type="text" class="txt" name="street" ng-model="selected.streetAddress" class="form-control" placeholder="Street Address"/>
			<br><br>
            <label>City</label></br>
			<input type="text" class="txt" name="city" ng-model="selected.city" class="form-control" placeholder="City"/>
			<br><br>
            <label>State</label></br>
			<input type="text" class="txt" name="state" ng-model="selected.state" class="form-control" placeholder="State"/>
			<br><br>
            <label>Zip code</label></br>
			<input type="text" class="txt" name="zip" ng-model="selected.zip" class="form-control" placeholder="Zip"/>
			<br><br>
			
		</div> 
			<input type="submit" id="submit" value="Submit" />
	  </form>
	</div> 					

</html>	
	  