
	  <p>I'm in Demographics.</p>
	  <p>Data is collected by CI Coordinator</p>
	  <div ng-controller="existingPatientsCtrl">
	  <form class="form form-vertical" ng-submit="submit()">
	  <!--
	  <p>hello{{test}}</p>
	  <h4>Edit Personal Info</h4>
		<div class="control-group" >
		  <label>Name</label>
		  <div class="controls" >
			<input class="txt" type="text" class="form-control" placeholder="Enter Name">
		  </div>
		</div>
		</br>
		<div class="control-group" >
		  <label>Date of Birth</label>
		  <div class="controls" >
			<input class="txt" type="text" class="form-control" placeholder="mm/dd/yy">
		  </div>
		</div>
		</br>							
		<div class="control-group" >
		  <label>Sex</label>
		  <div class="controls" >
			<form action="">
				<input type="radio" name="sex" value="male">Male<br>
				<input type="radio" name="sex" value="female">Female
			</form>
			</div>
		</div>
		<hr>
		<h4>Edit Contact Info</h4>
		<div class="control-group">
		  <label>Phone Number</label>
		  <div class="controls">
			<input class="txt"type="text" class="form-control" placeholder="Enter Phone Number">
		</div>
		-->
		<div class="control-group">
			<blockquote>
				<text class="form">Address:</text> &nbsp {{street}} <br>
				<text style="padding-left:78px;">{{city}},&nbsp{{state}}&nbsp{{zip}}</text> <br>
			</blockquote>
			<label>Edit Address</label>
			<br>
			<input type="text" class="txt" ng-model="street" class="form-control" placeholder="Street Address" title="existingPatient"/>
			<br><br>
			<input type="text" class="txt" ng-model="city" class="form-control" placeholder="City" title="existingPatient"/>
			<br><br>
			<input type="text" class="txt" ng-model="state" class="form-control" placeholder="State" title="existingPatient"/>
			<br><br>
			<input type="text" class="txt" ng-model="zip" class="form-control" placeholder="Zip" title="existingPatient"/>
			<br><br>
			
		</div> 
			<input type="submit" id="submit" value="Submit" />
			<pre>list={{list}}</pre>
			
		  
		
		
	  </form>
	 
		
	</div> 					
		<!--<div class="control-group">
		  <label>Add Notes</label>
		  <div class="controls">
			<textarea class="form-control"></textarea>
		  </div>
		</div> -->
	

	  
