
<div style="padding-left:50px;" ng-controller="formController">

	<form ng-submit="processForm()">

	<h2 class="form">Patient Information</h2>

	<blockquote><text class="form">Patient ID:</text> &nbsp {{formData.patID}} <br><br>
		<text class="form">First Name:</text> &nbsp {{formData.fname}}
		<text class="form"> &nbsp&nbsp MI:</text> &nbsp {{formData.mi}} <br><br>
		<text class="form">Last Name:</text> &nbsp {{formData.lname}} <br><br>
		<text class="form">Date of Birth:</text> &nbsp {{formData.DOB | date:'shortDate'}} <br><br>
		<text class="form">Address:</text> &nbsp {{formData.street}} <br>
		<text style="padding-left:78px;">{{formData.city}},&nbsp{{formData.state}}&nbsp{{formData.zip}}</text> <br><br>
		<text class="form">Sex:</text> &nbsp {{formData.sex}} <br>
		<text class="form">Race:</text> &nbsp {{formData.race}} <br>
		<text class="form">BMI:</text> &nbsp {{formData.bmi}} <br>
		<text class="form">Height:</text> &nbsp {{formData.height}} <br>
		<text class="form">Weight:</text> &nbsp {{formData.weight}} <br>
	</blockquote>

	<div style="width: 275px;">
		<fieldset class="form-group">
			<input type="text" rows="1" name="PatientID" ng-model="formData.patID" ng-required="true" class="form-control" placeholder="Patient ID" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" name="fname" ng-model="formData.fname" ng-required="true" class="form-control" placeholder="First Name" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" name="mi" ng-model="formData.mi" ng-required="true" class="form-control" placeholder="Middle Initial" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" name="lname" ng-model="formData.lname" ng-required="true" class="form-control" placeholder="Last Name" title="newPatient"></textarea>
			<br>

	    <h4>Date of Birth</h4>
	    <div class="row">
	        <div class="col-md-9">
	            <p class="input-group">
	              <input type="text" class="form-control" name="DOB" datepicker-popup="{{format}}" ng-model="formData.DOB" is-open="opened" max-date="{{maxDate}}"
								 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
	        </div>
	    </div>

			<input type="text" rows="1" ng-model="formData.streetAddress" name="streetAddress" ng-required="true" class="form-control" placeholder="Street Address" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" ng-model="formData.city" name="city" ng-required="true" class="form-control" placeholder="City" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" ng-model="formData.state" name="state" ng-required="true" class="form-control" placeholder="State" title="newPatient"></textarea>
			<br>
			<input type="text" rows="1" ng-model="formData.zip" name="zip" ng-required="true" class="form-control" placeholder="Zip" title="newPatient"></textarea>
			<br>

			Sex:
		  <select ng-model="formData.Sex" name="Sex" placeholder="Male" title="newPatient" ng-required="true">
				<option>Male</option>
				<option>Female</option>
				<option>Other</option>
		  </select>
			<br><br>

			Race:
			<select ng-model="formData.Race" name="Race" ng-required="true">
				<option>White</option>
				<option>African American</option>
				<option>Hispanic</option>
				<option>Asian</option>
				<option>American Indian</option>
			</select><br><br>

			BMI:
			<select name="BMI" ng-model="formData.BMI" ng-required="true">
				<option ng-repeat="BMI in bmis">{{BMI}}</option>
			</select><br><br>

			Height: (inches)
			<select name="Height" ng-model="formData.Height">
				<option ng-repeat="Height in heights">{{Height}}</option>
			</select>&nbsp&nbsp

			Weight:
			<select name="Weight" ng-model="formData.Weight">
				<option ng-repeat="Weight in weights">{{Weight}}</option>
			</select>

		</fieldset>
		<input type="submit" id="submit" value="Submit" />

		<pre>{{ formData }}</pre>

	</div>

</form>

</div>

<!--
<div ng-controller="formController">
    

	<form ng-submit="processForm()">

		<div id="name-group" class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" placeholder="Bruce Wayne" ng-model="formData.name">
			<span class="help-block"></span>
		</div>


		<div id="superhero-group" class="form-group">
			<label>Superhero Alias</label>
			<input type="text" name="superheroAlias" class="form-control" placeholder="Caped Crusader" ng-model="formData.superheroAlias">
			<span class="help-block"></span>
		</div>


		<button type="submit" class="btn btn-success btn-lg btn-block">
			<span class="glyphicon glyphicon-flash"></span> Submit!
		</button>
	</form>


	<pre>
		{{ formData }}
	</pre>

</div>

-->
