<div ng-controller="formController">
<div ng-controller="ProgressDemoCtrl">
<div class="col-md-9" style="width:50%">
<div class="panel panel-default">

    <!-- New Patient Header --> 
    <div class="panel panel-default">    
        <div class="panel-heading">
          <div class="panel-title">
            <h4>New Patient Information</h4>
          </div>
        </div>
    </div>
    

    
    <div class="panel-body" ng-controller="TabController as tab">
        <div class="tabbable"> 
            <div class="tab-pane">
              <form ng-submit="processForm()" class="form form-vertical">

                <div class="control-group" >
                  <label>Patient ID</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="PatientID" ng-model="formData.patientID" ng-required="true" placeholder="Enter Patient ID" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>First Name</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="fname" ng-model="formData.fname" ng-required="true" placeholder="Enter First Name" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>Middle Initial</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="mi" ng-model="formData.mi" ng-required="true" placeholder="Enter Middle Initial" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>Last Name</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="lname" ng-model="formData.lname" ng-required="true" placeholder="Enter Last Name" ng-blur="fillBar()">
                  </div>
                </div><br>

                <hr>        

                <label>Date of Birth</label>
                <div class="row">
                    <div class="col-md-3">
                        <p class="input-group">
                          <input type="text" class="form-control" name="DOB" datepicker-popup="{{format}}" ng-model="formData.DOB" is-open="opened" max-date="{{maxDate}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-focus="fillBar()" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>

                <hr>

                <div class="control-group" >
                  <label>Sex</label>
                  <div class="controls" >
                    <input type="radio" name="Sex" ng-model="formData.Sex" value="male" ng-focus="fillBar()"> Male<br>
                    <input type="radio" name="Sex" ng-model="formData.Sex" value="female" ng-focus="fillBar()"> Female
                  </div>                        
                </div><br>

                <div class="control-group" >
                    <label>Race</label>
                    <div class="controls" >
                        <select ng-model="formData.Race" name="Race" ng-required="true" ng-blur="fillBar()">
                            <option>White</option>
                            <option>African American</option>
                            <option>Hispanic</option>
                            <option>Asian</option>
                            <option>American Indian</option>
                        </select>
                    </div>                        
                </div><br>

                <div class="control-group" >
                    <label>BMI</label>
                    <div class="controls" >
                        <select name="BMI" ng-model="formData.BMI" ng-required="true" ng-blur="fillBar()">
                            <option ng-repeat="BMI in bmis">{{BMI}}</option>
                        </select>
                    </div>                        
                </div><br>                    

                <div class="control-group" >
                    <div class="controls" >
                        <label>Height: (inches)</label>
                        <select name="Height" ng-model="formData.Height" ng-blur="fillBar()">
                            <option ng-repeat="Height in heights">{{Height}}</option>
                        </select>&nbsp&nbsp

                        <label>Weight</label>
                        <select name="Weight" ng-model="formData.Weight" ng-blur="fillBar()">
                            <option ng-repeat="Weight in weights">{{Weight}}</option>
                        </select>
                    </div>                        
                </div><br>                         

                <hr>

                <div class="control-group" >
                  <label>Street Address</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="streetAddress" ng-model="formData.streetAddress" ng-required="true" placeholder="Enter Street Address" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>City</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="city" ng-model="formData.city" ng-required="true" placeholder="Enter City" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>State</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="state" ng-model="formData.state" ng-required="true" placeholder="Enter State" ng-blur="fillBar()">
                  </div>
                </div><br>

                <div class="control-group" >
                  <label>Zipcode</label>
                  <div class="controls" >
                    <input style="width: 200px" type="text" class="form-control" name="zip" ng-model="formData.zip" ng-required="true" placeholder="Enter Code" ng-blur="fillBar()">
                  </div>
                </div><br>

                <input style="width: 200px" type="submit" id="submit" value="Submit" />

              </form>
            </div>
        </div>
    </div>

	<h2 class="form">Patient Information</h2>
        


    <pre>{{ formData }}</pre>

</div>
</div>

        <!-- Dynamic Information Provider -->
    <div style="position:fixed;margin-left:67%;width:30%">
        
            <!-- Progress Bar -->
        <h1>Progress</h1>
        <progressbar class="progress-striped active" value="dynamic" type="{{type}}"><b>{{dynamic}}%</b></progressbar>
            <!-- Patient Data Displayed -->
        <blockquote><text class="form">Patient ID:</text> &nbsp {{formData.patientID}} <br><br>
            <text class="form">First Name:</text> &nbsp {{formData.fname}}
            <text class="form"> &nbsp&nbsp MI:</text> &nbsp {{formData.mi}} <br><br>
            <text class="form">Last Name:</text> &nbsp {{formData.lname}} <br><br>
            <text class="form">Date of Birth:</text> &nbsp {{formData.DOB | date:'shortDate'}} <br><br>
            <text class="form">Address:</text> &nbsp {{formData.streetAddress}} <br>
            <text style="padding-left:78px;">{{formData.city}},&nbsp{{formData.state}}&nbsp{{formData.zip}}</text> <br><br>
            <text class="form">Sex:</text> &nbsp {{formData.Sex}} <br>
            <text class="form">Race:</text> &nbsp {{formData.Race}} <br>
            <text class="form">BMI:</text> &nbsp {{formData.BMI}} <br>
            <text class="form">Height:</text> &nbsp {{formData.Height}} <br>
            <text class="form">Weight:</text> &nbsp {{formData.Weight}} <br>
        </blockquote>
        
    </div>

</div>
</div>
