<div style="padding-left:50px;" ng-controller="newPatientsController">

	<form ng-submit="submit()">

	<h2 class="form">Patient Information</h2>

	<blockquote><text class="form">Patient ID:</text> &nbsp {{patID}} <br><br>
		<text class="form">First Name:</text> &nbsp {{fname}}
		<text class="form"> &nbsp&nbsp MI:</text> &nbsp {{mi}} <br><br>
		<text class="form">Last Name:</text> &nbsp {{lname}} <br><br>
		<text class="form">Date of Birth:</text> &nbsp {{DOB | date:'shortDate'}} <br><br>
		<text class="form">Address:</text> &nbsp {{street}} <br>
		<text style="padding-left:78px;">{{city}},&nbsp{{state}}&nbsp{{zip}}</text> <br><br>
		<text class="form">Sex:</text> &nbsp {{sex}} <br>
		<text class="form">Race:</text> &nbsp {{race}} <br>
		<text class="form">BMI:</text> &nbsp {{bmi}} <br>
		<text class="form">Height:</text> &nbsp {{height}} <br>
		<text class="form">Weight:</text> &nbsp {{weight}} <br>
	</blockquote>

	<div style="width: 275px;">
		<fieldset class="form-group">
			<input type="text" rows="1" name="PatientID" ng-model="patID" ng-required="true" class="form-control" placeholder="Patient ID" title="newPatient"></textarea>
			<br>
			<textarea rows="1" name="fname" ng-model="fname" ng-required="true" class="form-control" placeholder="First Name" title="newPatient"></textarea>
			<br>
			<textarea rows="1" name="mi" ng-model="mi" ng-required="true" class="form-control" placeholder="Middle Initial" title="newPatient"></textarea>
			<br>
			<textarea rows="1" name="lname" ng-model="lname" ng-required="true" class="form-control" placeholder="Last Name" title="newPatient"></textarea>
			<br>

	    <h4>Date of Birth</h4>
	    <div class="row">
	        <div class="col-md-9">
	            <p class="input-group">
	              <input type="text" class="form-control" name="DOB" datepicker-popup="{{format}}" ng-model="DOB" is-open="opened" max-date="{{maxDate}}"
								 datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	            </p>
	        </div>
	    </div>

			<textarea rows="1" ng-model="streetAddress" name="streetAddress" ng-required="true" class="form-control" placeholder="Street Address" title="newPatient"></textarea>
			<br>
			<textarea rows="1" ng-model="city" name="city" ng-required="true" class="form-control" placeholder="City" title="newPatient"></textarea>
			<br>
			<textarea rows="1" ng-model="state" name="state" ng-required="true" class="form-control" placeholder="State" title="newPatient"></textarea>
			<br>
			<textarea rows="1" ng-model="zip" name="zip" ng-required="true" class="form-control" placeholder="Zip" title="newPatient"></textarea>
			<br>

			Sex:
		  <select ng-model="Sex" name="Sex" placeholder="Male" title="newPatient" ng-required="true">
				<option>Male</option>
				<option>Female</option>
				<option>Other</option>
		  </select>
			<br><br>

			Race:
			<select ng-model="Race" name="Race" ng-required="true">
				<option>White</option>
				<option>African American</option>
				<option>Hispanic</option>
				<option>Asian</option>
				<option>American Indian</option>
			</select><br><br>

			BMI:
			<select name="BMI" ng-model="BMI" ng-required="true">
				<option ng-repeat="BMI in bmis">{{BMI}}</option>
			</select><br><br>

			Height: (inches)
			<select name="Height" ng-model="Height">
				<option ng-repeat="Height in heights">{{Height}}</option>
			</select>&nbsp&nbsp

			Weight:
			<select name="Weight" ng-model="Weight">
				<option ng-repeat="Weight in weights">{{Weight}}</option>
			</select>

		</fieldset>
		<input type="submit" id="submit" value="Submit" />

		<pre>{{list | json}}</pre>

	</div>

</form>

</div>
