<div id = "cp_patientContainer"class="col-md-3">
    <br>
    <p id = "cp_patientFname">{{patient.First }}  {{patient.Last |uppercase }}</p>
    <p class = "cp_patientSex" ng-if=patient.Sex=='m'>Male</p>
    <p class = "cp_patientSex" ng-if=patient.Sex=='f'>Female</p>
    <p class = "cp_patientAge">{{calcAge(patient.DOB)}} yrs old </p>
    <br> <br> 
    
    <button type="button" class="btn btn-info btn-sm" ng-click="show =!show" style="margin-top:3%;" > Patient Details</button>
    <br>
    <div ng-show="show" >
        <p>
            <b> Phone: </b><text ng-if="editPatient != true">({{patient.Phone.slice(0,3)}}){{patient.Phone.slice(3,6)}}-{{patient.Phone.slice(6)}}</text>
            <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.Phone"><br>
        <b> Email: </b><a ng-if="editPatient != true" id = "cp_email" href="mailto:{{patient.Email}}">{{patient.Email}}</a>
            <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.Email"><br>
            <b> Address:</b> <text ng-if="editPatient != true"> {{patient.Address1}}  {{patient.City}}, </text>
            <text ng-if="editPatient != true" style="margin-left:5%">{{patient.State}} {{patient.Zipcode}}</text></p>
            <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.Address1"> &nbsp <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.City"> &nbsp <br> 
            <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.State"> &nbsp <input ng-click-select type="text" ng-if="editPatient == true" ng-model="patient.Zipcode">
        <a href="" ng-click="editPatient = true"><i class="fa fa-pencil-square-o"></i></a>
    </div> 
        


    </div>  

</div>
