<br>Click <a href="" style="color:red" ng-click="audiogramModal()"> here</a> for help with entering audiogram data
    <script type="text/ng-template" id="audiogramModal.html">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">Audiogram Help</h3>
        </div>
        <div class="modal-body">
            It is recommended that residual hearing be tested in each ear at every visit as long as there is functional hearing in that ear.  Functional hearing is defined as 0-90dBHL on at least 2 frequencies from 125-1500Hz.  If the patient has 3 or more frequencies over 90dBHL in that frequency range, that ear is considered to have non-functional hearing.  Once the right or left ear has been proved to have non-functional hearing, it is no longer necessary to test residual hearing function for that ear. 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>