<br>Click <a href="" style="color:red" ng-click="audiogramModal()"> here</a> for help with entering audiogram data
    <script type="text/ng-template" id="audiogramModal.html">
        <div class="modal-header">
            <button type="button" class="close"><span ng-click="ok()">&times;</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title">Audiogram Help</h3>
        </div>
        <div class="modal-body">
            Stuff here
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>