<div class="container" data-ng-app="careTeamApp">

<div ng-controller="getInvitationsDataCtrl">
	<div >
		<table class="table" data-ng-repeat="invitation in invitations">
		
        <tr>    
		<td class="col-md-1"><h4>{{invitation.careTeam}} just sent you an invitation!</h4></td>
		<td class="col-md-1"><button type="button" class="btn btn-success">Accept</button></td>
		<td class="col-md-1"><button type="button" class="btn btn-danger">Deny</button></td>
		</tr>

		</table>
	</div>
    

</div>
</div>

            
